{% extends "ENSBundle:Default:index.html.twig" %}


{% block title %}
  Cours enregistrés au {{ classe.libelleFr }}
{% endblock %}


{% block section %}
  <i class="student icon"></i>{{ 'Gestion des cours'|trans }}
{% endblock %}


{% block contextual_menu %}
  {{ include("ENSBundle::contextual-menu-cours.html.twig") }}
{% endblock %}



{% block body %}
  <h3>{{ 'Cours enregistrés au '|trans }} {{ classe.libelleFr }}</h3>
  {% if cours is empty %}
    <p>{{ 'Il n y a aucun cours pour cette classe'|trans }}</p>
  {% else %}
    <div class="column" style="width:75%">
      <form action="" method="post" class="ui form">
        <table class="ui selectable very basic table" align="center" width="75%" id="cours">
          <thead>
            <tr>
              <th class="one wide">{{ 'N°'|trans }}</th>
              <th>{{ 'Matière'|trans }}</th>
              <th>{{ 'Enseignant'|trans }}</th>
              <th>{{ 'Coefficient'|trans }}</th>
              <th>{{ 'Jours'|trans }}</th>
              <th>{{ 'Heures'|trans }}</th>
              <th>{{ 'Actions'|trans }}</th>
            </tr>
          </thead>
          <tbody>
            {% set numero = 0 %}
            {% for item in cours %}
              {% for en in ens if en.matiere.id == item.matiere.id %}
                {% set numero = numero + 1 %}
                <tr>
                  <td>{{ numero }}</td>
                  <td>{{ item.matiere.libelle }}</td>
                  <td>{{ item.anneeContrat.contrat.enseignant.nomFr }} {{ item.anneeContrat.contrat.enseignant.pnomFr }}</td>
                  <td>{{ en.coefficient }}</td>
                  <td>{{ item.jourdecours }}</td>
                  <td>{{ item.heure }}</td>
                  <td>
                    <a href="{{path('ens_editer_un_cours', {'as': asec, 'annexeId': annexe.id, 'regime': regime, 'coursId': item.id})}}"  data-tooltip="Mettre à jour ce cours">
                      <i class="edit icon"></i>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            {% endfor %}
          </tbody>
          <tfoot>
          </tfoot>
        </table>
      </form>
    </div>
  {% endif %}

{% endblock %}

{% block scripts %}
  <script src="{{ asset('TableFilter/dist/tablefilter/tablefilter.js') }}"></script>
  <script data-config>
    var filtersConfig = {
      base_path: 'TableFilter/dist/tablefilter/',
      col_0: "none",
      col_1: 'select',
      col_2: 'select',
      col_3: 'select',
      col_4: 'select',
      col_5: 'select',
      col_6: 'noe',
      alternate_rows: true,
      rows_counter: true,
      btn_reset: true,
      loader: true,
      status_bar: true,
      mark_active_columns: true,
      highlight_keywords: true,
      no_results_message: true,
      col_types: [
        'number', 'string', 'string', 'string'
      ],
      col_widths: [
      ],
      extensions: [{ name: 'sort' }]
    };

    var tf = new TableFilter('cours', filtersConfig);
    tf.init();
  </script>
{% endblock %}
