{% extends "ENSBundle:Default:index.html.twig" %}


{% block title %}
  Nombre heure de cours des enseignants
{% endblock %}

{% block section %}
  <i class="student icon"></i>{{ 'Gestion des cours'|trans }}
{% endblock %}


{% block contextual_menu %}
  {{ include("ENSBundle::contextual-menu-cours.html.twig") }}
{% endblock %}


{% block body %}
  <h3>{{ 'Nombre heure de cours de l\'enseignant'|trans }} {{ anneeContrat.contrat.enseignant.nomFr }} {{ anneeContrat.contrat.enseignant.pnomFr }}</h3>
  <div class="column" style="width: 75%">
    <h2>Académie</h2>
    <div class="ui middle aligned selection list">
        {% for cours in coursAcademie %}
            {% for item in ensAcademie %}
                {% if cours.matiere == item.matiere %}
                    <div class="item">
                        <div class="floated content">
                          <div class="ui grid">
                              <div class="four wide column">
                              </div>
                              <div class="four wide column">
                              {{ item.matiere.libelle}}
                              </div>
                              <div class="four wide column">
                              {{ item.nombreHeureCours }} h
                              </div>
                              <div class="four wide column">
                          {{ cours.classe.libelleFr }}
                              </div>
                          </div>
                        </div>
                        <img class="ui avatar image" src="{{ asset('images/logoISI-x.png') }}">
                        <div class="content">
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
          Pas de cours enregistré
        {% endfor %}
    </div>
    <br><br><br>
    <h2>Centre de formation</h2>
    <div class="ui middle aligned selection list">
        {% for cours in coursCentreFormation %}
            {% for item in ensCentreFormation %}
                {% if cours.matiere == item.matiere %}
                    <div class="item">
                        <div class="floated content">
                          <div class="ui grid">
                              <div class="four wide column">
                              </div>
                              <div class="four wide column">
                              {{ item.matiere.libelle}}
                              </div>
                              <div class="four wide column">
                              {{ item.nombreHeureCours }} h
                              </div>
                              <div class="four wide column">
                          {{ cours.classe.libelleFr }}
                              </div>
                          </div>
                        </div>
                        <img class="ui avatar image" src="{{ asset('images/logoISI-x.png') }}">
                        <div class="content">
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
          Pas de cours enregistré
        {% endfor %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}
