{# Accueil pour l'édition des listes de classe' #}

{% extends "ENSBundle:Enseignant:layout.html.twig" %}



{% block pageTitle %}
  Enregistrement des cours de la classe {{ classe.libelleFr }}
{% endblock %}


{% block titre_page %}
  <i class="student icon"></i>{{ 'GESTION DES COURS'|trans }}
{% endblock %}


{% block contextual_menu %}
  {{ include("ENSBundle::contextual-menu-cours.html.twig") }}
{% endblock %}



{% block corps %}
  <h3>{{ 'Enregistrement des cours de la classe'|trans }} {{ classe.libelleFr }}</h3>
  {% if matieres is empty %}
    <p>{{ 'Il n y a aucune matière pour ce niveau'|trans }}</p>
  {% else %}
    <div class="column" style="width:75%">
      <form action="" method="post" class="ui form">
        <table class="ui selectable very basic table" align="center" width="75%">
          <thead>
            <tr>
              <th class="one wide">{{ 'N°'|trans }}</th>
              <th>{{ 'Matière'|trans }}</th>
              <th>{{ 'Enseignant'|trans }}</th>
            </tr>
          </thead>
          <tbody>
            {% set numero = 0 %}
            {% for matiere in matieres %}
              {% set numero = numero + 1 %}
              <tr>
                <td>
                  {{ numero }}
                </td>
                <td>
                  {{ matiere.libelle }}
                </td>
                <td>
                  <select name="enseignants[{{ matiere.id }}]" id="">
                    <option value="">Sélectionner un enseignant</option>
                    {% for item in anneeContrats %}
                      <option value="{{ item.id }}" {% if infoCours[matiere.id] is defined and infoCours[matiere.id].anneeContrat.id == item.id %}selected{% endif %}>{{ item.contrat.enseignant.nomFr }} {{ item.contrat.enseignant.pnomFr }}</option>
                    {% endfor %}
                  </select>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <button class="ui primary large button">Enregistrer</button>
      </form>
    </div>
  {% endif %}

{% endblock %}

{% block scripts %}
{% endblock %}
