{% set template = '' %}
{% if is_granted('ROLE_DIRECTION_ENSEIGNANT') or is_granted('ROLE_AGENT_DIRECTION_ENSEIGNANT') %}
    {% set template = "ENSBundle:Default:index.html.twig" %}
{% elseif is_granted('ROLE_ETUDE') %}
    {% set template = "ISIBundle:Etude:index.html.twig" %}
{% elseif is_granted('ROLE_SCOLARITE') or is_granted('ROLE_PREINSCRIPTION') %}
    {% set template = "ISIBundle:Default:index.html.twig" %}
{% elseif is_granted('ROLE_ORGANISATION') %}
    {% set template = "ORGBundle:Default:index.html.twig" %}
{% elseif is_granted('ROLE_ENSEIGNANT') %}
    {% set template = "ENSBundle:Enseignant:index.html.twig" %}
{% endif %}

{% extends template %}


{% block title %}
  Accueil rapport de présence
{% endblock %}


{% block body %}
  {% set grp = '' %}
  {% if regime is same as('A') %}
    {% set grp = 'Académie' %}
  {% else %}
    {% set grp = 'Formation' %}
  {% endif %}
  <h3>{{ 'Voir les heures d\'absence au cours enregistrées'|trans }} du {{ jour }} {{ date|date('d-m-Y') }}</h3>
  <div>
		<form action="" method="post" class="ui form">
			<div class="form-group">
				<div class="four fields">
					<div class="field">
						<label for="date">Date</label>
						<input type="date" name="date" id="date" value="{% if date is defined %}{{ date|date('Y-m-d')}}{% else %}{{ 'now'|date('Y-m-d')}}{% endif %}">
					</div>
					<div class="field">
						<br>
						<button class="ui positive button">Rechercher</button>
					</div>
				</div>
			</div>
		</form>
	</div>
  {% if enseignants is empty %}
    <p>{{ 'Pas de classes pour le moment'|trans }}</p>
  {% else %}
    <div class="column" style="width:85%">
      <table class="ui selectable very basic table" id="classes">
        <thead>
          <tr>
            <th style="width: 5%; text-align: center">N°</th>
            <th>Matricule</th>
            <th>Nom & Prénom</th>
            <th>الاسم و اللقب</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
          </tr>
        </thead>
        <tbody>
          {% set i = 0 %}
          {% for enseignant in enseignants if (regime == "A" and enseignant.nombreHeuresCours > 0 or enseignant.nombreHeuresCoran > 0 ) or (regime == "F" and enseignant.nombreHeuresSamedi > 0) %}
            {% set i = i + 1 %}
            <tr>
              <td style="width: 5%; text-align: center">{{ i }}</td>
              <td>{{ enseignant.contrat.enseignant.matricule }}</td>
              <td>{{ enseignant.contrat.enseignant.nom }}</td>
              <td>{{ enseignant.contrat.enseignant.pnomAr }} {{ enseignant.contrat.enseignant.nomAr }}</td>
              {% for i in 1..8 %}
                {% set nieme = '' %}
                {% if i == 1 %}
                  {% set nieme = 'ère' %}
                {% else %}
                  {% set nieme = 'ème' %}
                {% endif %}
                {% set checked = false %}
                {% for item in taches if enseignant == item.cours.anneeContrat and i == item.cours.heure %}
                  {% set checked = true %}
                {% endfor %}
                {% set title_text = "" %}
                {% for item in cours if item.anneeContrat == enseignant and item.heure == i %}
                  {% if item.halaqa %}
                    {% set title_text = item.halaqa.libelle ~ ' ' ~ item.matiere.libelle %}
                  {% else %}
                    {% set title_text = item.classe.libelleFr ~ ' ' ~ item.matiere.libelle %}
                  {% endif %}
                {% endfor %}
                <td data-tooltip="{{i}}{{nieme}} heure: {{ title_text }}">
                  {% if title_text == "" %}
                    <i class="question icon"></i>
                  {% else %}
                    {% if checked == true %}
                      <i class="green checkmark icon"></i>
                    {% else %}
                      <i class="red delete icon"></i>
                    {% endif %}
                  {% endif %}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <hr width="75%">
    </div><br><br>
    {# <tbody>
          {% set numero = 0 %}
          {% for classe in classes %} 
            {% if classe.niveau.groupeFormation.reference is same as(regime) %}
              {% set numero = numero + 1 %}
              {% set genre = '' %}
              {% if classe.genre == 'H' %}
                {% set genre = 'Homme' %}
              {% elseif classe.genre == 'F' %}
                {% set genre = 'Femme' %}
              {% else %}
                {% set genre = 'Mixte' %}
              {% endif %}
              <tr>
                <td style="width: 5%; text-align: center">
                  <h4 class="ui image header">{{ numero }}</h4>
                </td>
                <td>
                  <h4 class="ui image header">{{ classe.getNiveau.getLibelleFr }}</h4>
                </td>
                <td>
                  <h4 class="ui image header">{{ classe.libellefr }}</h4>
                </td>
                <td>
                  <h4 class="ui image header">{{ classe.getNiveau.getLibelleAr }}</h4>
                </td>
                <td>
                  <h4 class="ui image header">{{ classe.libellear }}</h4>
                </td>
                <td>
                  <h4 class="ui image header">{{ genre }}</h4>
                </td>
                {% for i in 1..nombreHeures %}
                  {% set nieme = '' %}
                  {% if i == 1 %}
                    {% set nieme = 'ère' %}
                  {% else %}
                    {% set nieme = 'ème' %}
                  {% endif %}
                  {% set checked = false %}
                  {% for item in taches if classe == item.cours.classe and i == item.cours.heure %}
                    {% set checked = true %}
                  {% endfor %}
                  {% set title_text = "" %}
                  {% for item in cours if item.classe == classe and item.heure == i %}
                    {% set title_text = item.anneeContrat.contrat.enseignant.nom ~ ' ' ~ item.matiere.libelle %}
                  {% endfor %}
                  <td data-tooltip="{{i}}{{nieme}} heure: {{ title_text }}">
                    {% if checked == true %}
                      <i class="green checkmark icon"></i>
                    {% else %}
                      <i class="red delete icon"></i>
                    {% endif %}
                  </td>
                {% endfor %}
                <td>
                  {% if is_granted('ROLE_SCOLARITE') %}
                    <a href="{{path('rapport_absence_classe', {'as': asec, 'annexeId': annexe.id, 'regime': regime, 'classeId': classe.id})}}" data-tooltip="Cliquez pour plus de détails">
                      <i class="list icon"></i>
                    </a>
                  {% endif %}
                </td>
              </tr>
            {% endif %} 
          {% endfor %}
        </tbody> #}
  {% endif %}
{% endblock %}


{% block javascripts %}
  <script>
    $(document).ready(function(){
      $('.ui.avatar.image')
        .popup()
      ;
    })
  </script>
  <script src="{{ asset('TableFilter/dist/tablefilter/tablefilter.js') }}"></script>
  <script data-config>
    var filtersConfig = {
      base_path: 'TableFilter/dist/tablefilter/',
      col_0: "none",
      col_4: 'none',
      col_5: 'none',
      col_6: 'none',
      col_7: 'none',
      col_8: 'none',
      col_9: 'none',
      col_10: 'none',
      col_11: 'none',
      col_12: 'none',
      alternate_rows: true,
      rows_counter: true,
      btn_reset: true,
      loader: true,
      status_bar: true,
      mark_active_columns: true,
      highlight_keywords: true,
      no_results_message: true,
      col_types: [
        'number', 'string', 'string', 'string'
      ],
      col_widths: [
          // '20px', , , '200px', , , '300px'
      ],
      extensions: [{ name: 'sort' }]
    };

    var tf = new TableFilter('classes', filtersConfig);
    tf.init();
  </script>
{% endblock %}
