{% extends "ISIBundle::index.html.twig" %}
  {% block title %}
    Données statistiques sur les annexes
  {% endblock %}


  {% block section %}
    <i class="tasks icon"></i>Données statistiques sur les annexes
  {% endblock %}


  {% block menu %}
    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN_ANNEXE') %}
      <a class="item" href="{{ path('annexes_homepage', {'as': asec}) }}"><h4 class="ui header"><i class="home icon"></i>{{ 'Choix d\'annexe'|trans }}</h4></a>
    {% endif %}
  {% endblock %}


  {% block mobile_menu %}
    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN_ANNEXE') %}
      <a class="item" href="{{ path('annexes_homepage', {'as': asec}) }}"><h4 class="ui header">{{ 'Statistiques'|trans }}</h4></a>
    {% endif %}
  {% endblock %}


  {% block contextual_menu %}
  {% endblock %}


  {% block body %}
    <!-- Fin d'affichage des notifications et des message d'erreur  -->
    <div class="responsive">
      {# {% for item in app.user.annexes if item.disabled == 0 %}  
        <div class="wide column">
          <a class="item" href="{{ path('isi_homepage', {'as': asec, 'annexeId': item.annexe.id}) }}">
            <div class="card ui segment">
              <div class="image" bgcolor="white">
                <img src="{{ asset('images/logoISI.png') }}" style="width: 50%; height: auto">
              </div>
              <div class="content">
                <div class="header">{{ item.annexe.libelle }}</div>
                <div class="meta">
                  Annexe
                </div>
              </div>
              <div class="extra content">
                <span class="right floated">{{ 'Annexe'|trans }} </span>
                <span>
                  <i class="user icon"></i></span>
              </div>
            </div>
          </a>
        </div>
      {% endfor %} #}
      <table class="ui celled table selectable" width="75%">
        <thead>
          <tr>
            <th rowspan="3">#</th>
            <th rowspan="3">Annexes</th>
            <th colspan="6" style="text-align: center">Elèves</th>
            <th colspan="8" style="text-align: center">Classes</th>
          </tr>
          <tr style="text-align: center">
            <th colspan="3">Académie</th>
            <th colspan="3">Centre de formation</th>
            <th colspan="4">Académie</th>
            <th colspan="4">Centre de formation</th>
          </tr>
          <tr style="text-align: center">
            <th><i class="male icon"></i></th>
            <th><i class="female icon"></i></th>
            <th>Total</th>
            <th><i class="male icon"></i></th>
            <th><i class="female icon"></i></th>
            <th>Total</th>
            <th><i class="male icon"></i></th>
            <th><i class="female icon"></i></th>
            <th>Mixte</th>
            <th>Total</th>
            <th><i class="male icon"></i></th>
            <th><i class="female icon"></i></th>
            <th>Mixte</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          {% set num = 0 %}
          {% for item in annexes %}
            {% set num = num + 1 %}
            {% set info = infosAnnexes[item.annexe.id] %}
            <tr>
              <td>{{ num }}</td>
              <td>{{ item.annexe.libelle }}</td>
              <td>{{ info["garconsAcademie"] }}</td>
              <td>{{ info["fillesAcademie"] }}</td>
              <td>{{ info["garconsAcademie"] + info["fillesAcademie"] }}</td>
              {#  #}
              <td>{{ info["garconsCF"] }}</td>
              <td>{{ info["fillesCF"] }}</td>
              <td>{{ info["garconsCF"] + info["fillesCF"] }}</td>

              <td>{{ info["classeGarconsAcademie"] }}</td>
              <td>{{ info["classeFillesAcademie"] }}</td>
              <td>{{ info["classeMixtesAcademie"] }}</td>
              <td>{{ info["classeGarconsAcademie"] + info["classeFillesAcademie"] + info["classeMixtesAcademie"] }}</td>

              <td>{{ info["classeGarconsCF"] }}</td>
              <td>{{ info["classeFillesCF"] }}</td>
              <td>{{ info["classeMixtesCF"] }}</td>
              <td>{{ info["classeGarconsCF"] + info["classeFillesCF"] + info["classeMixtesCF"] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endblock %}
