{% extends "ISIBundle:Admin:index.html.twig" %}

{% block title %}
  Index User Management
{% endblock %}

{% block section %}
  <i class="users icon"></i>{{ 'Gestion des utilisateurs'|trans }}
{% endblock %}

{% block body %}
  <div>
    <a href="{{ path('fos_user_registration_register', {'as': asec, 'annexeId': annexe.id}) }}">
      <!-- <a href=""> -->
      <button class="ui left floated small primary labeled icon button">
        <i class="user icon"></i>{{ 'Ajouter un utilisateur'|trans }}
      </button>
    </a>
    <br><br>
    <table class="ui compact celled definition table" id="users">
      <thead class="full-width">
        <tr>
          <th></th>
          <th>{{ 'Nom d\'utilisateur'|trans }}</th>
          <th>{{ 'Nom & Prénom'|trans }}</th>
          <th>{{ 'Rôles'|trans }}</th>
          <th>{{ 'Annexes'|trans }}</th>
          <th>{{ 'Dernière connexion'|trans }}</th>
          <th>{{ 'Etat du compte'|trans }}</th>
          <th>{{ 'Autres actions'|trans }}</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users if user.isRoot == 0 %}
          <tr>
            <td class="collapsing">
              <div class="ui fitted slider checkbox">
                {% set checked = "" %}
                {% if user.enabled == true %}
                  {% set checked = "checked" %}
                {% endif %}
                <input type="checkbox" {{checked}} name="{{ user.id }}" id="user[{{ user.id }}]" class="userStat">
                <label></label>
              </div>
            </td>
            <td>{{ user.username }}</td>
            <td>{{ user.nom }} {{ user.pnom }}</td>
            <td>
              <ul>
                {% for role in user.roles %}
                  <li>{{ role }}</li>
                {% endfor %}
              </ul>
            </td>
            <td>
              <ul>
                {% for item in user.annexes if item.disabled == 0 %}
                  <li>{{ item.annexe.libelle }}</li>
                {% endfor %}
              </ul>
            </td>
            <td>{{ user.lastLogin|date("d-m-Y à h:m:s") }}</td>
            <td>{{ user.enabled }}</td>
            <td>
              <a href="{{path('add_roles_user', {'as': annee.id, 'annexeId': annexe.id, 'userId': user.id})}}"><i class="edit icon"></i>Ajouter rôles</a>
              <a href=""><i class="delete icon"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot class="full-width">
        <tr>
          <th></th>
          <th colspan="6">{##}
            <a href="{{ path('fos_user_registration_register', {'as': asec, 'annexeId': annexe.id}) }}">
            <!-- <a href=""> -->
              <button class="ui right floated small primary labeled icon button">
                <i class="user icon"></i> {{ 'Ajouter un utilisateur'|trans }}
              </button>
            </a>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
{% endblock %}


{% block javascripts %}
  <script src="{{ asset('TableFilter/dist/tablefilter/tablefilter.js') }}"></script>
    <script data-config>
      var filtersConfig = {
        base_path: 'TableFilter/dist/tablefilter/',
        col_0: 'none',
        col_6: 'select',
        col_7: 'none',
        alternate_rows: true,
        rows_counter: true,
        btn_reset: true,
        loader: true,
        status_bar: true,
        mark_active_columns: true,
        highlight_keywords: true,
        no_results_message: true,
        col_types: [
          'number', 'string', 'string',
          'string', 'string', 'string',
        ],
        col_widths: [
          // '15px', '130px', '270px', , , '100px'
        ],
        extensions: [{ name: 'sort' }]
      };

      var tf = new TableFilter('users', filtersConfig);
      tf.init();
    </script>
    <script src="{{ asset('js/jquery-3.3.1.js') }}"></script>
    <script src="{{ asset('semantic/ui/dist/semantic.min.js') }}"></script>
    <script>
      $('.ui.accordion')
        .accordion()
      ;
    </script>
  {% endblock %}
