{% extends "ENSBundle:Default:index.html.twig" %}


{% block stylesheets %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <link href="{{ asset('css/select2.min.css') }}" rel="stylesheet" />
{% endblock %}


{% block title %}
	Mise à jour info. {{ enseignant.nom }}
{% endblock %}


{% block body %}
	<h2>{{ 'Mise à jour des informations'|trans }}  <font  class="ui massive blue tag label">{{ enseignant.nom }}</font></h2>
	<center><h2>{{ enseignant.matricule }}</h2></center><br><br>
	<div class="form-group">
		{{ form_start(form, {'attr': {'class': 'ui form'}, 'action': path('ens_edit', {'as': asec, 'annexeId': annexe.id, 'enseignantId': enseignant.id})}) }}
			<div class="five fields">
				<div class="field">
					<div class="ui slider checkbox">
						{{ form_widget(form.enseignant) }}
						{{ form_errors(form.enseignant) }}
						{{ form_label(form.enseignant, "Enseignant", {'label_attr': {'class': ''}}) }}
					</div>
				</div>
				<div class="field">
					<div class="ui slider checkbox">
						{{ form_widget(form.arabe) }}
						{{ form_errors(form.arabe) }}
						{{ form_label(form.arabe, "Arabe", {'label_attr': {'class': ''}}) }}
					</div>
				</div>
				<div class="field">
					<div class="ui slider checkbox">
						{{ form_widget(form.francais) }}
						{{ form_errors(form.francais) }}
						{{ form_label(form.francais, "Français", {'label_attr': {'class': ''}}) }}
					</div>
				</div>
				<div class="field">
					<div class="ui slider checkbox">
						{{ form_widget(form.administrateur) }}
						{{ form_errors(form.administrateur) }}
						{{ form_label(form.administrateur, "Administrateur", {'label_attr': {'class': ''}}) }}
					</div>
				</div>
				<div class="field">
					<div class="ui slider checkbox">
						{{ form_widget(form.autre) }}
						{{ form_errors(form.autre) }}
						{{ form_label(form.autre, "Autre", {'label_attr': {'class': ''}}) }}
					</div>
				</div>
			</div><br><br>
			<div class="two fields">
				<div class="sixteen wide field">
					<div class="two fields">
						<div class="field">
							{{ form_label(form.nomFr, "Nom (français)", {'label_attr': {'class': ''}}) }}
							{{ form_errors(form.nomFr) }}
							{{ form_widget(form.nomFr, {'attr': {'class': 'nomFr'}}) }}
							{{ form_label(form.nomAr, "Nom (arabe)", {'label_attr': {'class': ''}}) }}
							{{ form_errors(form.nomAr) }}
							{{ form_widget(form.nomAr, {'attr': {'class': 'nomAr'}}) }}
						</div>
						<div class="field">
							{{ form_label(form.pnomFr, "Prénoms (français)", {'label_attr': {'class': ''}}) }}
							{{ form_errors(form.pnomFr) }}
							{{ form_widget(form.pnomFr, {'attr': {'class': 'nomFr'}}) }}
							{{ form_label(form.pnomAr, "Prénoms (arabe)", {'label_attr': {'class': ''}}) }}
							{{ form_errors(form.pnomAr) }}
							{{ form_widget(form.pnomAr, {'attr': {'class': 'nomAr'}}) }}
						</div>
					</div>
				</div>
				<div class="field">
					<div class="col-lg-4">
						<div class="p-5">
							<h2>Photo d'identité</h2>
							<hr>
							<div class="form-group row">
								<div class="col-sm-12 mb-3 mb-sm-0">
									<img id="blah" width="50%" src="{{ asset('photos/enseignants/' ~ enseignant.photo) }}" alt="Image" />
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-12 mb-3 mb-sm-0">
									{{ form_row(form.photo, {'attr': {'accept': 'image/*', 'capture': 'capture'}}) }}
									{# <input type="file" accept="" capture="" id="photo"> #}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="three fields">
				<div class="field">
					{{ form_label(form.sexe, "Sexe", {'label_attr': {'class': ''}}) }}
					{{ form_errors(form.sexe) }}
					{{ form_widget(form.sexe, {'attr': {'class': 'sexe'}}) }}
				</div>
				<div class="field">
					<label for="date">
						Date de naissance
					</label> 
					<input type="date" name="date" required="required" value="{{ enseignant.dateNaissance|date("Y-m-d") }}" id="date"/>
				</div>
				<div class="field">
					{{ form_label(form.lieuNaissance, "Lieu de naissance", {'label_attr': {'class': ''}}) }}
					{{ form_errors(form.lieuNaissance) }}
					{{ form_widget(form.lieuNaissance, {'attr': {'class': 'lieuNaissance'}}) }}
				</div>
			</div>
			<div class="four fields">
				<div class="field">
					{{ form_label(form.nationalite, "Nationalite", {'label_attr': {'class': ''}}) }}
					{{ form_errors(form.nationalite) }}
					{{ form_widget(form.nationalite, {'attr': {'class': 'nationalite'}}) }}
				</div>
				<div class="field">
					{{ form_label(form.referenceCni, "N° de référence de la CNI", {'label_attr': {'class': ''}}) }}
					{{ form_errors(form.referenceCni) }}
					{{ form_widget(form.referenceCni, {'attr': {'class': 'contact'}}) }}
				</div>
				<div class="field">
					{{ form_label(form.residence, "Résidence", {'label_attr': {'class': ''}}) }}
					{{ form_errors(form.residence) }}
					{{ form_widget(form.residence, {'attr': {'class': ''}}) }}
				</div>
				<div class="field">
					{{ form_label(form.situationMatrimoniale, "Situation matrimoniale", {'label_attr': {'class': ''}}) }}
					{{ form_errors(form.situationMatrimoniale) }}
					{{ form_widget(form.situationMatrimoniale, {'attr': {'class': ''}}) }}
				</div>
			</div>
			<div class="two fields">
				<div class="field">
					{{ form_label(form.contact, "Contact", {'label_attr': {'class': ''}}) }}
					{{ form_errors(form.contact) }}
					{{ form_widget(form.contact, {'attr': {'class': 'contact'}}) }}
				</div>
				<div class="field"> 
					{{ form_label(form.email, "E-mail", {'label_attr': {'class': ''}}) }}
					{{ form_errors(form.email) }}
					{{ form_widget(form.email, {'attr': {'class': 'email'}}) }}
				</div>
			</div>
			<div class="three fields">
				<div class="field"> 
					{{ form_label(form.niveauEtude, "Niveau d'étude", {'label_attr': {'class': ''}}) }}
					{{ form_errors(form.niveauEtude) }}
					{{ form_widget(form.niveauEtude, {'attr': {'class': 'niveauEtude'}}) }}
				</div>
				<div class="field"> 
					{{ form_label(form.diplomeObtenu, "Diplôme obtenu", {'label_attr': {'class': ''}}) }}
					{{ form_errors(form.diplomeObtenu) }}
					{{ form_widget(form.diplomeObtenu, {'attr': {'class': 'diplomeObtenu'}}) }}
				</div>
				<div class="field"> 
					{{ form_label(form.anneeObtention, "Année d'obtention", {'label_attr': {'class': ''}}) }}
					{{ form_errors(form.anneeObtention) }}
					{{ form_widget(form.anneeObtention, {'attr': {'class': 'anneeObtuserention'}}) }}
				</div>
			</div>
			<div class="two fields">
				<div class="field">
					{{ form_label(form.expProfessionnelle, "Expérience professionnelle", {'label_attr': {'class': ''}}) }}
					{{ form_errors(form.expProfessionnelle) }}
					{{ form_widget(form.expProfessionnelle, {'attr': {'class': 'niveauEtude'}}) }}
					{{ form_label(form.languesParlees, "Langues parlées", {'label_attr': {'class': ''}}) }}
					{{ form_errors(form.languesParlees) }}
					{{ form_widget(form.languesParlees, {'attr': {'class': 'anneeObtention'}}) }}
					<br><br>
					<div class="two fields">
						<div class="field"><label for="annexe">Annexe liée</label>
							<select class="js-example-basic-single" name="annexe" id="annexe">
								<option value="">Sélectionnez une annexe</option>
								{% for annexe in annexes %}
									<option value="{{ annexe.id }}" {% if enseignant.annexe == annexe %}selected{% endif %}>{{ annexe.libelle }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="field">
							<label for="user">Utilisateur lié</label>
							<select class="js-example-basic-single" name="user" id="user">
								<option value="">Sélectionnez un utilisateur</option>
								{% for user in users %}
									<option value="{{ user.id }}" {% if enseignant.user == user %}selected{% endif %}>{{ user.nom }} {{ user.pnom }} ({{user.email}})</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
				<div class="field">
					{{ form_label(form.autresCompetences, "Autres compétences", {'label_attr': {'class': ''}}) }}
					{{ form_errors(form.autresCompetences) }}
					{{ form_widget(form.autresCompetences, {'attr': {'class': 'diplomeObtenu'}}) }}
				</div>
			</div>
		{{ form_widget(form.update, {'attr': {'class': 'ui positive button'}}) }}
	  {{ form_end(form) }}
	</div>
	<br><br>
{% endblock %}


{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="{{ asset('js/jquery-3.3.1.js') }}"></script>
    <script src="{{ asset('js/select2.min.js') }}"></script>
    <script>
		$(document).ready(function() {
		$('.js-example-basic-single').select2();
		});
    </script>
	<script>
		var input = document.getElementById("ENSBundle_enseignant_photo");
		function verifTaille(){
			file =input.files[0];
			window.URL = window.URL || window.webkitURL;
			img = new Image();
			
			img.onload = function(){
				if(img.width > 413 || img.height > 532){
					pasGlop(img.width-413, img.height-532);
					input.value = null
				}
				else{
					// glop(img.width, img.height);
					//Tout c'est bien passé
					function readURL(input) {
					if (input.files && input.files[0]) {
						var reader = new FileReader();
						
						reader.onload = function (e) {
							$('#blah').attr('src', e.target.result);
						}
						
						reader.readAsDataURL(input.files[0]);
					}
					}
					
					$("#ENSBundle_enseignant_photo").change(function(){
						readURL(this);
					});
				}
			}
			img.src = window.URL.createObjectURL(file);
		}
				
		function glop(width, height){
			alert("ok c'est cool (dims : "+width+"X"+height+"px)");
		}

		function pasGlop(width, height){
			var str = "votre image est trop "
			if(width>0){str+="large de "+width+"px";}
			if(width>0 && height>0){str+=" et trop ";}
			if(height>0){str+="haute de "+height+"px.";}
			alert(str);
		}

		input.onchange=verifTaille;
	</script>
{% endblock %}