{% extends "ENSBundle:Default:index.html.twig" %}

{% block title %}
  Fonctions en cours
{% endblock %}

{% block contextual_menu %}
  {{ include("ENSBundle::contextual-menu-fonction.html.twig") }}
{% endblock %}

{% block section %}
  <i class="student icon"></i>{{ 'Fonctions'|trans }}
{% endblock %}

{% block body %}
    <h2>{{ 'Enseignants de l\'année '|trans }} {{ annee.libelle }}</h2>
    {% if contrats is not defined %}
        <p>{{ 'Il n y a auccun enseignant enregistré pour le moment'|trans }}</p>
    {% else %}
        <a href="{{ path('ens_impression_liste_des_enseignants', {'as': asec}) }}"><button class="ui positive button"><i class="print icon"></i>Imprimer la liste des enseignants</button></a> &nbsp;&nbsp;&nbsp;
        <a href="{{ path('ens_impression_liste_des_enseignants_plus_de_details', {'as': asec}) }}"><button class="ui primary button"><i class="print icon"></i>Imprimer la liste des enseignants (plus de détails)</button></a><br />
        <table id="table-ens" cellspacing="0" class="mytable filterable ui very basic table">
          <thead>
            <tr>
              <th>{{ 'N°'|trans }}</th>
              <th>{{ 'Matricule'|trans }}</th>
              <th>Nom & Prénom</th>
              <th>الإسم و اللقب</th>
              <th>{{ 'Sexe'|trans }}</th>
              <th>{{ 'Cours'|trans }}</th>
              <th>{{ 'Coran'|trans }}</th>
              <th>{{ 'Samedi'|trans }}</th>
              <th>{{ 'Total'|trans }}</th>
              <th>{{ 'Actions'|trans }}</th>
            </tr>
          </thead>
          <tbody>
            {% set n = 0 %}
            {% for contrat in contrats %}
              {% set total = contrat.getNombreHeuresCours + contrat.getNombreHeuresCoran + contrat.getNombreHeuresSamedi %}
              {% set n = n + 1 %}
              {% set color = "" %}
              {% if (n % 2) == 0 %}
                  {% set color = "WhiteSmoke" %}
              {% endif %}
              <tr bgcolor="{{ color }}">
                <td>{{ n }}</td>
                <td>{{ contrat.getContrat.getEnseignant.getMatricule }}</td>
                <td>{{ contrat.getContrat.getEnseignant.getNomFr }} {{ contrat.getContrat.getEnseignant.getPnomFr }}</td>
                <td>{{ contrat.getContrat.getEnseignant.getNomAr }} {{ contrat.getContrat.getEnseignant.getPnomAr }}</td>
                <td>
                  {% if contrat.getContrat.getEnseignant.getSexe == 1 %}
                    {{ 'ذكر' }}
                  {% else %}
                    {{ 'أنثى' }}
                  {% endif %}
                </td>
                <td>{{ contrat.getNombreHeuresCours }} h</td>
                <td>{{ contrat.getNombreHeuresCoran }} h</td>
                <td>{{ contrat.getNombreHeuresSamedi }} h</td>
                <td>{{ total }} h</td>
                {# <!-- <td>{{ contrat.getContrat.getEnseignant.getdateNaissance|localizeddate('full', 'none', 'locale') }}</td> --> #}
                <td>
                  <a href="{{ path('ens_edit_enseignant_annee', {'as': asec, 'annexeId': annexe.id, 'anneeContratId':contrat.getid}) }}" data-tooltip="Mettre à jour les informations de l'enseignant">
                    <i class="edit icon"></i>
                  </a>
                  <a href="{{ path('ens_info', {'as': asec, 'annexeId': annexe.id, 'enseignantId':contrat.getContrat.getEnseignant.getid}) }}" data-tooltip="Voir les informations de l'enseignant">
                    <i class="info circle icon"></i>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    {% endif %}
{% endblock %}
