{# ISIBundle/Ressources/views/Scolarite #}
{% extends "ISIBundle::pdf.html.twig" %}
{% block title %}
    Liste des enseignants | {{ annee.libelle }}
{% endblock %}


{% block body %}

    {% if anneeContrats is empty %}
        <p>{{ 'Inscrivez d\'abord des enseignants.'|trans }}</p>
    {% else %}
        <div class="titre-document">
            <center>
                <h1>قائمة المدرسين</h1>
            </center>
        </div>
        <br />
        <div class="id-fiche">
            <center>
                <div class="classe">
                    <span>الفصل : <span class="libelleClasse"></span></span>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="annee">
                    <span>السنة الدراسية : <span class="libelleClasse">{{ annee.libelle }}</span></span>
                </div>
            </center>
        </div>
        <br />
        {# {{dump(eleves)}} #}
        <table width="100%" class="" align="center">
            <thead>
                <tr class="table-header">
                    <th width="5%" class="nomAr" align="right">Total</th>
                    <th width="8%" class="nomAr" align="right">Samedi</th>
                    <th width="8%" class="nomAr" align="right">Coran</th>
                    <th width="8%" class="nomAr" align="right">Cours</th>
                    <th width="" class="nomAr" align="right">الجنس</th>
                    <th width="25%" align="right">Nom & Prénom</th>
                    <th width="20%" class="nomAr">الاسم و اللقب</th>
                    <th width="" class="matricule-ar" align="right">الرقم التسلسلي</th>
                    <th width="5%" align="center">N°</th>
                </tr>
            </thead>
            <tbody>
                {% set numero = 0 %}
                {% set color = '' %}
                {% for contrat in anneeContrats %}
                    {# Ce code me permet d'alterner la couleur des lignes du tableau #}
                    {% if (numero % 2) == 0 %}
                        {% set color = 'white' %}
                    {% else %}
                        {% set color = '#efefef' %}
                    {% endif %}
                    {# Pour le sexe #}
                    {% if contrat.getContrat.getEnseignant.sexe == 1 %}
                        {% set sexe = 'Masculin' %}
                    {% else %}
                        {% set sexe = 'Féminin' %}
                    {% endif %}
                    {% set numero = numero + 1 %}
                    {% set total = 0 %}
                    {% set total = contrat.nombreHeuresCours + contrat.nombreHeuresCoran + contrat.nombreHeuresSamedi %}
                    <tr class="line-table" bgcolor={{color}}>
                        <td align="right" class="sexe">{{ total }}&nbsp;</td>
                        <td align="right" class="sexe">{{ contrat.nombreHeuresSamedi }}&nbsp;</td>
                        <td align="right" class="sexe">{{ contrat.nombreHeuresCoran }}&nbsp;</td>
                        <td align="right" class="sexe">{{ contrat.nombreHeuresCours }}&nbsp;</td>
                        <td align="right" class="sexe">{{ sexe }}&nbsp;</td>
                        <td align="right" class="nomEleveFr">{{ contrat.getContrat.getEnseignant.nom }}&nbsp;</td>
                        <td align="right" class="nomEleveAr">{{ contrat.getContrat.getEnseignant.pnomAr }} {{ contrat.getContrat.getEnseignant.nomAr }}&nbsp;</td>
                        <td align="right" class="matricule">{{ contrat.getContrat.getEnseignant.matricule }}&nbsp;</td>
                        <td align="center" class="numero">{{ numero }}</td>
                    </tr>
                    <!-- On divise le tableau pour mieux afficher la suite de la liste -->
                    {% if numero == 13 or numero == 36 or numero == 59 or numero == 82 or numero == 105 %}
                            </tbody>
                        </table>
                        <br><br>
                        <table width="100%" class="" align="center">
                            <thead>
                                <tr class="table-header">
                                    <th width="5%" class="nomAr" align="right">Total</th>
                                    <th width="8%" class="nomAr" align="right">Samedi</th>
                                    <th width="8%" class="nomAr" align="right">Coran</th>
                                    <th width="8%" class="nomAr" align="right">Cours</th>
                                    <th width="" class="nomAr" align="right">الجنس</th>
                                    <th width="25%" align="right">Nom & Prénom</th>
                                    <th width="20%" class="nomAr">الاسم و اللقب</th>
                                    <th width="" class="matricule-ar" align="right">الرقم التسلسلي</th>
                                    <th width="5%" align="center">N°</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Pour la couleur de fond des différentes lignes -->
                                {% if (numero % 2) == 0 %}
                                    {% set color = 'white' %}
                                {% else %}
                                    {% set color = '#efefef' %}
                                {% endif %}
                                 <!--Pour le sexe  -->
                                {% if contrat.getContrat.getEnseignant.sexe == 1 %}
                                    {% set sexe = 'Masculin' %}
                                {% else %}
                                    {% set sexe = 'Féminin' %}
                                {% endif %}
                                {% set numero = numero %}
                                {% if loop.index == 13 or loop.index == 36 or loop.index == 59 or loop.index == 82 or loop.index == 105 %}
                                {# {% if loop.index == 15 or loop.index == 47 or loop.index == 70 %} #}
                                    {% set code = 1 %}
                                {% else %}

                                {% set total = 0 %}
                                {% set total = contrat.nombreHeuresCours + contrat.nombreHeuresCoran + contrat.nombreHeuresSamedi %}
                                <tr class="line-table" bgcolor={{color}}>
                                    <td align="right" class="sexe">{{ total }}&nbsp;</td>
                                    <td align="right" class="sexe">{{ contrat.nombreHeuresSamedi }}&nbsp;</td>
                                    <td align="right" class="sexe">{{ contrat.nombreHeuresCoran }}&nbsp;</td>
                                    <td align="right" class="sexe">{{ contrat.nombreHeuresCours }}&nbsp;</td>
                                    <td align="right" class="sexe">{{ sexe }}&nbsp;</td>
                                    <td align="right" class="nomEleveFr">{{ contrat.getContrat.getEnseignant.nom }}&nbsp;</td>
                                    <td align="right" class="nomEleveAr">{{ contrat.getContrat.getEnseignant.pnomAr }} {{ contrat.getContrat.getEnseignant.nomAr }}&nbsp;</td>
                                    <td align="right" class="matricule">{{ contrat.getContrat.getEnseignant.matricule }}&nbsp;</td>
                                    <td align="center" class="numero">{{ numero - 1 }}</td>
                                </tr>
                                {% endif %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <br />
        <center><span class="effectif">Effectif :  {{ numero }}</span> </center>
    {% endif %}

{% endblock %}
