{% extends "ENSBundle:Default:index.html.twig" %}


{% block title %}
  Fiche de renseignements - {{enseignant.getNomFr}} {{enseignant.getPnomFr}}
{% endblock %}

{% block body %}

<div class="ui container">
  <h2 class="ui horizontal divider header">
    <i class="tag icon"></i>
    {{ 'Identification personnelle'|trans }}
  </h2>
  <center><h2><font  class="ui massive red tag label">{{ enseignant.getMatricule }}</font></h2></center><br>
  <img src="{{ asset('photos/enseignants/' ~ enseignant.photo) }}">
  <div class="ui two column doubling stackable grid container">
    <div class="column">
      <table>
        <tr>
          <td><strong>{{ 'Nom'|trans }} : </strong></td>
          <td>{{ enseignant.getNomFr }}</td>
        </tr>
        <tr>
          <td><strong>{{ 'Prénom'|trans }} : </strong></td>
          <td>{{ enseignant.getPnomFr }}</td>
        </tr>
        <tr>
          <td><strong>{{ 'Sexe'|trans }} : </strong></td>
          {% if enseignant.getSexe == 1 %}
            <td>{{ 'Homme'|trans }}</td>
          {% else %}
            <td>{{ 'Femme'|trans }}</td>
          {% endif %}
        </tr>
        <tr>
          <td><strong>{{ 'Date de naissance'|trans }} : </strong></td>
          <td>{{ enseignant.getDateNaissance|date("d-m-Y") }} à {{ enseignant.getLieuNaissance }} </td>
        </tr>
        <tr>
          <td><strong>{{ 'Référence extrait de naissance'|trans }} : </strong></td>
          {# <td>{{ enseignant.getrefExtrait }} </td> #}
        </tr>
      </table>
    </div>
    <div class="column">
      <table>
        <tr>
          <td><strong>{{ 'Nationalité'|trans }} : </strong></td>
          <td>{{ enseignant.getNationalite }}</td>
        </tr>
        <tr>
          <td><strong>{{ 'Résidence'|trans }} : </strong></td>
          <td>{{ enseignant.getResidence }}</td>
        </tr>
        <tr>
          <td><strong>{{ 'Etablissement d\'origine'|trans }} : </strong></td>
          {# <td>{{ enseignant.getetsOrigine }}</td> #}
        </tr>
        <tr>
          <td><strong>{{ 'Contact'|trans }} : </strong></td>
          <td>{{ enseignant.getcontact }} </td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>

  <h2 class="ui horizontal divider header">
    <i class="bar chart icon"></i>
    {{ 'Programme'|trans }}
  </h2>

  <h2 class="ui horizontal divider header">
    <i class="student icon"></i>
    {{ 'Conduite'|trans }}
  </h2>
</div>

{% endblock %}
