{% extends "ENSBundle:Default:index.html.twig" %}


{% block title %}
  Index prise de fonction
{% endblock %}

{% block contextual_menu %}
  {{ include("ENSBundle::contextual-menu-fonction.html.twig") }}
{% endblock %}

{% block section %}
  <i class="student icon"></i>{{ 'Fonctions'|trans }}
{% endblock %}

{% block body %}

<div class="ui container">
  <h2>{{ 'Nouvelle prise de fonction'|trans }}</h2>
  <div class="ui raised very padded text container segment">
    <center>
      <h3>{{ 'Entrez le matricule de l\'enseignant'|trans }}</h3>
      <form action="" method="post">
        <input type="text" name="matricule" id="" placeholder="ISI-0555M-18" style="font-size: 3em; text-align: center; border-radius: 5px" />
        <br /><br />
        <button class="ui blue button" type="submit" name="button">{{ 'Valider'|trans }}</button>
      </form>
    </center>
  </div>
</div>

{% endblock %}
