{% extends 'ORGBundle:Default:index.html.twig'%}


{% block title %}
  Index Activités locales
{% endblock %}

{% block contextual_menu %}
  {% if is_granted('ROLE_SUPER_ADMIN') %}
      {{ include("ISIBundle::contextual-menu-panel-admin.html.twig") }}
  {% elseif is_granted('ROLE_ADMIN_ANNEXE') %}
    <div class="header">{{ 'Autres modules'|trans }}</div>
    <a class="item" href="{{path('isi_home_scolarite', {'as': asec, 'annexeId': annexe.id})}}">{{ 'Scolarité'|trans }}</a>
    <a class="item" href="{{path('etude_home', {'as': asec, 'annexeId': annexe.id})}}">{{ 'Programmes d\'étude'|trans }}</a>
  {% endif %}
{% endblock %}



{% block section %}
  <i class="users icon"></i>{{ 'Activités locales'|trans }}
{% endblock %}



{% block body %}
    <a href="{{ path('choix.commune.activite.locale.add', {as: asec, 'annexeId': annexe.id}) }}" class="positive ui button">
      <i class="plus icon"></i>
      {{ 'Enregistrer une activité'|trans }}
    </a><br><br>
    <div class="ui four cards">
      {% for activite in activites %}
        <div class="card">
          <div class="content">
            <img class="right floated mini ui image" src="{{ asset('images/logoISI-x.png') }}">
            <div class="header">{{ activite.getTypeType }}</div>
            <div class="meta">{{ activite.date|date('d-m-Y') }} </div>
            <div class="description">
              <div class="ui link list">
                <p>{{ activite.theme }}</p>
              </div>
            </div>
          </div>
          <div class="extra content">
            {{ activite.commune.nom }} - {{ activite.lieu }}
            <span class="right floated"></span><br>
            <span>
              <a href="{{ path('activite.locale.edit', {as: asec, 'annexeId': annexe.id, id: activite.id}) }}" class="ui teal circular label" data-tooltip="Editer">
                <i class="edit icon" ></i>
              </a>
              <a href="{{ path('activite.locale.info', {as: asec, 'annexeId': annexe.id, id: activite.id}) }}" class="ui blue circular label" data-tooltip="Plus de détails">
                <i class="list icon" ></i>
              </a>
            </span>
          </div>
        </div>
      {% endfor %}
    </div><br><br>
    <div class="navigation">
        {{ knp_pagination_render(activites) }}
    </div>
{% endblock %}
