{% extends 'ORGBundle:Localite:index.html.twig'%}


{% block stylesheets %}
{% endblock %}


{% block title 'Communes enregistrées' %}


{% block notification %}
  {% for message in app.session.flashbag.get('error') %}
  <div class="ui red message">
    <div class="header">{{ 'Attention'|trans }} !!! </div>
    <ul class="list">
      <li>{{ message }}.</li>
    </ul>
  </div>
  {% endfor %}
  {% for message in app.session.flashbag.get('info') %}
  <div class="ui green message">
    <div class="header">{{ 'Notification'|trans }}: </div>
    <ul class="list">
      <li>{{ message }}.</li>
    </ul>
  </div>
  {% endfor %}
{% endblock %}


{% block body %}
  <h2>Communes enregistrées</h2>
  <table class="uk-table uk-table-small uk-table-divider" id="communes">
    <thead>
      <tr>
        <th>N°</th>
        <th>Nom</th>
        <th>Ville</th>
        <th>Nbr Hbts</th>
        <th>Taux Musulmans</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% set i = 0 %}
      {% for commune in communes %}
        {% set i = i + 1 %}
        <tr>
          <td>{{ i }}</td>
          <td>{{ commune.nom }}</td>
          <td>{{ commune.ville.nom }}</td>
          <td>
            {% if commune.nombreHabitants %}
              {{ commune.nombreHabitants}}
            {% else %}
              Indéterminé
            {% endif %}
          </td>
          <td>
            {% if commune.tauxMusulmans %}
              {{ commune.tauxMusulmans}}
            {% else %}
              Indéterminé
            {% endif %}
          </td>
          <td>
            <a href="{{ path('commune.edit', {as: asec, id: commune.id}) }}" data-tooltip="Editer la commune"><i class="edit icon"></i></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}



{% block javascript %}
  <script src="{{ asset('TableFilter/dist/tablefilter/tablefilter.js') }}"></script>
  <script data-config>
    var filtersConfig = {
      base_path: '/markaz/web/TableFilter/dist/tablefilter/',
      col_0: 'none',
      col_2: 'select',
      col_5: 'none',
      alternate_rows: true,
      rows_counter: true,
      btn_reset: true,
      loader: true,
      status_bar: true,
      mark_active_columns: true,
      highlight_keywords: true,
      no_results_message: true,
      col_types: [
        'number', 'string', 'string',
        'string', 'string', 'string',
      ],
      col_widths: [
        '25px', '330px', '270px'
      ],
      extensions: [{ name: 'sort' }]
    };

    var tf = new TableFilter('communes', filtersConfig);
    tf.init();
  </script>
{% endblock %}
