{% extends 'ORGBundle:Default:index.html.twig'%}


{% block title 'Administration des localités' %}


{% block contextual_menu %}
  <div class="header">{{ 'Régions'|trans }}</div>
  <a class="item" href="{{ path('regions', {'as': asec, 'annexeId': annexe.id}) }}">Liste</a>
  <a class="item" href="{{ path('region.add', {'as': asec, 'annexeId': annexe.id}) }}">Ajouter</a>
  <div class="header">{{ 'Villes'|trans }}</div>
  <a class="item" href="{{ path('villes', {'as': asec, 'annexeId': annexe.id}) }}">Liste</a>
  <a class="item" href="{{ path('ville.add', {'as': asec, 'annexeId': annexe.id}) }}">Ajouter</a>
  <div class="header">{{ 'Communes'|trans }}</div>
  <a class="item" href="{{ path('communes', {'as': asec, 'annexeId': annexe.id}) }}">Liste</a>
{% endblock %}


{% block section %}
  <i class="location arrow icon"></i>{{ 'Localités'|trans }}
{% endblock %}


{% block body %}
{% endblock %}


{% block javascripts %}
{% endblock %}
