{% extends 'ORGBundle:Localite:index.html.twig'%}


{% block stylesheets %}
{% endblock %}


{% block title 'Régions enregistrées' %}


{% block notification %}
  {% for message in app.session.flashbag.get('error') %}
  <div class="ui red message">
    <div class="header">{{ 'Attention'|trans }} !!! </div>
    <ul class="list">
      <li>{{ message }}.</li>
    </ul>
  </div>
  {% endfor %}
  {% for message in app.session.flashbag.get('info') %}
  <div class="ui green message">
    <div class="header">{{ 'Notification'|trans }}: </div>
    <ul class="list">
      <li>{{ message }}.</li>
    </ul>
  </div>
  {% endfor %}
{% endblock %}


{% block body %}
  <h2>Régions enrégistrées</h2>
  <div class="uk-hidden@s">
    <p uk-margin>
      <a class="uk-button uk-button-default" href="{{ path('region.add', {'as': asec}) }}">Ajouter</a>
    </p>
  </div>
  <table id="regions">
    <thead>
      <tr>
        <th>N°</th>
        <th>Nom</th>
        <th>Localisation</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% set i = 0 %}
      {% for region in regions %}
        {% set i = i + 1 %}
        <tr>
          <td>{{ i }}</td>
          <td>{{ region.nom }}</td>
          <td>{{ region.localisationType }}</td>
          <td><a href="{{ path('region.edit', {as: asec, id: region.id}) }}"><i class="edit outline icon"></i></a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}


{% block javascript %}
  <script src="{{ asset('TableFilter/dist/tablefilter/tablefilter.js') }}"></script>
  <script data-config>
    var filtersConfig = {
      base_path: '/markaz/web/TableFilter/dist/tablefilter/',
      col_0: 'none',
      col_2: 'select',
      col_3: 'none',
      alternate_rows: true,
      rows_counter: true,
      btn_reset: true,
      loader: true,
      status_bar: true,
      mark_active_columns: true,
      highlight_keywords: true,
      no_results_message: true,
      col_types: [
        'number', 'string', 'string',
        'string', 'string', 'string',
      ],
      col_widths: [
        '25px', '330px', '270px'
      ],
      extensions: [{ name: 'sort' }]
    };

    var tf = new TableFilter('regions', filtersConfig);
    tf.init();
  </script>
{% endblock %}
