<div class="header">{{ 'Gestion des fonctions'|trans }}</div>
<a class="item" href="{{ path('ens_initialisation_prise_de_fonction', {'as': asec, 'annexeId': annexe.id}) }}">{{ 'Prise de fonction'|trans }}</a>
<a class="item" href="{{ path('ens_initialisation_l_arret_de_fonction', {'as': asec, 'annexeId': annexe.id}) }}">{{ 'Arrêt des fonctions'|trans }}</a>
<div class="header">{{ 'Enseignants de l\'année'|trans }}</div>
<a class="item" href="{{ path('ens_enseignant_de_l_annee', {'as': asec, 'annexeId': annexe.id}) }}">{{ 'Liste des enseignants'|trans }}</a>