<div class="ui vertical menu">
    {# {% if regime == "A" %} #}
        <div class="item">
            <div class="header">{{ 'Affectation des enseignants'|trans }}</div>
            <div class="menu">
                <a class="item" href="{{ path('ens_liste_des_classes_save_cours_francais', {'as': asec, 'regime': "A"}) }}">{{ 'Pour les cours de français'|trans }}</a>
                <a class="item" href="{{ path('ens_liste_des_halaqas_save_cours', {'as': asec, 'regime': "A"}) }}">{{ 'Pour les cours de Qur\'an'|trans }}</a>
            </div>
        </div>
    {# {% endif %} #}
    <div class="item">
        <div class="header">{{ 'Volume horaire'|trans }}</div>
        <div class="menu">
            <a class="item" href="{{ path('ens_nombre_heures_cours_enseignants', {'as': asec}) }}">{{ 'Nombre heures cours'|trans }}</a>
        </div>
    </div>
</div>