<div class="ui vertical menu">
    <div class="item">
        <div class="header">{{ 'Gestion des convocations'|trans }}</div>
        <div class="menu">
            <a class="item" href="{{ path('ens_convocation_home', {'as': asec}) }}">{{ 'Accueil des convocation'|trans }}</a>
            <a class="item" href="{{path('ens_convoquer_enseignant', {'as': asec})}}">{{ 'Convoquer des enseignants'|trans }}</a>
        </div>
    </div>
</div>