<div class="header">{{ 'Gestion des convocations'|trans }}</div>
<a class="item" href="{{ path('ens_convocation_home', {'as': asec}) }}">{{ 'Accueil des convocation'|trans }}</a>
<a class="item" href="{{path('ens_convoquer_enseignant', {'as': asec})}}">{{ 'Convoquer des enseignants'|trans }}</a>