{% extends "ENSBundle:Default:index.html.twig" %}


{% block title %}
  Enregistrer une sanctions
{% endblock %}

{% block contextual_menu %}
  {# {{ include("ENSBundle:Discipline:contextual-menu-convocation.html.twig") }} #}
{% endblock %}

{% block section %}
  <i class="american sign language interpreting icon"></i>{{ 'Discipline - Sanction'|trans }}
{% endblock %}

{% block body %}
<h2>{{ 'Enregistrement de sanction '|trans }} <font class="ui massive green tag label">{{ contrat.getEnseignant.getNomFr }} {{ contrat.getEnseignant.getPnomFr }}</font></h2>
  {{ form_start(form, {'attr': {'class': 'ui form'}}) }}
    <div class="">
      <div class="two fields">
        <div class="field">
          <label>Date de la sanction:</label>
          <input type="date" name="date" required="required"/>
        </div>
        <div class="field">
          <label>
           {{ form_label(form.type, "Type", {'label_attr': {'class': ''}}) }}
					 {{ form_errors(form.type) }}
				</label> {{ form_widget(form.type, {'attr': {'class': 'description', 'placeholder': 'Choisir le type de la sanction',}}) }}
        </div>
      </div>
      <div class="field">
          <label>
           {{ form_label(form.description, "Description de la sanction", {'label_attr': {'class': ''}}) }}
					 {{ form_errors(form.description) }}
				</label> {{ form_widget(form.description, {'attr': {'class': 'description', 'placeholder': 'Donner une description de la sanction',}}) }}
      </div>
      {{ form_widget(form.save, {'attr': {'class': 'ui primary button'}}) }}
    </div>
  {{ form_end(form) }}
{% endblock %}
