{% extends "ENSBundle:Default:index.html.twig" %}


{% block title %}
  Index Sanctions
{% endblock %}

{% block contextual_menu %}
  {# {{ include("ENSBundle:Discipline:contextual-menu-convocation.html.twig") }} #}
{% endblock %}

{% block section %}
  <i class="american sign language interpreting icon"></i>{{ 'Discipline - Sanction'|trans }}
{% endblock %}

{% block body %}
  <h2>{{ 'Sanctions'|trans }}</h2>
  {% if sanctions is not defined %}
    <p>{{ 'Aucun contrat n\'a encore été enregistrée'|trans }}</p>
  {% else %}
    <div class="column" style="width:90%">
      <table class="ui selectable very basic table" id="sanctions">
        <thead>
          <tr>
            <th style="width: 5%; text-align: center">{{ 'N°'|trans }}</th>
            <th>{{ 'Matricule'|trans }}</th>
            <th>Nom & Prénom</th>
            <th>الإسم و اللقب</th>
            <th>{{ 'Sexe'|trans }}</th>
            <th>{{ 'Nombre de sanctions'|trans }}</th>
            <th>{{ 'Action'|trans }}</th>
          </tr>
        </thead>
        <tbody>
          {% set n = 0 %}
          {% for sanction in sanctions %}
            {% set n = n + 1 %}
            <tr>
              <td style="width: 5%; text-align: center">{{ n }}</td>
              <td>{{ sanction.matricule }}</td>
              <td>{{ sanction.nomFr }}</td>
              <td>{{ sanction.nomAr }}</td>
              <td>
                {% if sanction.sexe == 1 %}
                  {{ 'ذكر' }}
                {% else %}
                  {{ 'أنثى' }}
                {% endif %}
              </td>
              <td>
                {% if sanction.nbrSanction < 3 %}
                  <a href="{{ path('ens_voir_sanction', {'as': asec, 'annexeId': annexe.id, 'contratId': sanction.id}) }}" class="ui teal circular label">{{ sanction.nbrSanction }}</a>
                {% elseif sanction.nbrSanction < 5 %}
                  <a href="{{ path('ens_voir_sanction', {'as': asec, 'annexeId': annexe.id, 'contratId': sanction.id}) }}" class="ui orange circular label">{{ sanction.nbrSanction }}</a>
                {% else %}
                  <a href="{{ path('ens_voir_sanction', {'as': asec, 'annexeId': annexe.id, 'contratId': sanction.id}) }}" class="ui red circular label">{{ sanction.nbrSanction }}</a>
                {% endif %}
              </td>
              <td>
                <a href="{{ path('ens_add_sanction', {'as': asec, 'annexeId': annexe.id, 'contratId': sanction.id})}}"><i class="plus orange icon"></i></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% endblock %}


{% block javascripts %}
  <script src="{{ asset('TableFilter/dist/tablefilter/tablefilter.js') }}"></script>
    <script data-config>
      var filtersConfig = {
        base_path: 'TableFilter/dist/tablefilter/',
        col_0: 'none',
        col_4: 'select',
        col_5: 'select',
        col_6: 'none',
        alternate_rows: true,
        rows_counter: true,
        btn_reset: true,
        loader: true,
        status_bar: true,
        mark_active_columns: true,
        highlight_keywords: true,
        no_results_message: true,
        col_types: [
          'number', 'string', 'string',
          'string', 'string', 'string',
        ],
        col_widths: [
          // '15px', '130px', '270px', , , '100px'
        ],
        extensions: [{ name: 'sort' }]
      };

      var tf = new TableFilter('sanctions', filtersConfig);
      tf.init();
    </script>
  {% endblock %}