{# ISIBundle/Resources/views/Hissaby #}
{# Pour gérer son profil #}

{% set template = '' %}
{% if userType == 'admin' or is_granted('ROLE_SUPER_ADMIN') %}
    {% set template = "ISIBundle:Admin:index.html.twig" %}
{% else %}
    {% if is_granted('ROLE_INTERNAT') %}
        {% set template = "ISIBundle:Internat:layout.html.twig" %}
    {% elseif is_granted('ROLE_DIRECTION_ENSEIGNANT') %}
        {% set template = "ISIBundle:Enseignant:layout.html.twig" %}
    {% elseif is_granted('ROLE_ETUDE') %}
        {% set template = "ISIBundle:Etude:layout.html.twig" %}
    {% elseif is_granted('ROLE_SCOLARITE') %}
        {% set template = "ISIBundle::layout.html.twig" %}
    {% elseif is_granted('ROLE_ORGANISATION') %}
        {% set template = "ORGBundle::layout.html.twig" %}
    {% elseif is_granted('ROLE_ENSEIGNANT') %}
        {% set template = "ENSBundle:Enseignant:index.html.twig" %}
    {% endif %}
{% endif %}

{% extends template %}

{% block body %}
    {% block section %}
        <i class="student icon"></i>{{ 'Mon compte'|trans }}
    {% endblock %}
    <!-- Début d'affichage des notifications et des messages d'erreur -->
    {% for message in app.session.flashbag.get('error') %}
        <div class="ui red message">
            <div class="header">{{ 'Attention'|trans }} !!! </div>
            <ul class="list">
                <li>{{ message|raw }}.</li>
            </ul>
        </div>
    {% endfor %} 
    {% for message in app.session.flashbag.get('info') %}
        <div class="ui green message">
            <div class="header">{{ 'Notification'|trans }}: </div>
            <ul class="list">
                <li>{{ message|raw }}.</li>
            </ul>
        </div>
    {% endfor %}
    <!-- Fin d'affichage des notifications et des message d'erreur  -->
    <div class="">
        <p>{{ 'Nom'|trans }}: <strong>{{ app.user.username }}</strong></p>
    </div>
    <br />
    <div>
        <a href="{{ path('fos_user_change_password', {'as': asec, 'annexeId': annexe.id}) }}">
            <button class="ui positive button">{{ 'Changer mon mot de passe'|trans }}</button>
        </a>
        <a href="{{ path('enseignant_home', {'as': asec, 'annexeId': annexe.id}) }}">
            <button class="ui primary button">{{ 'Espace enseignant'|trans }}</button>
        </a>
    </div>
{% endblock %}
