<div class="header">{{ 'Tournées enseignants'|trans }}</div>
  {#<a class="item" href="{{ path('home_mosquees', {'as': asec, 'annexeId': annexe.id}) }}">Activités enregistrées</a>
  <a class="item" href="{{ path('mosquee.add', {'as': asec, 'annexeId': annexe.id}) }}">Ajouter</a>#}
<div class="header">{{ 'Tournées élèves'|trans }}</div>
  {#<a class="item" href="{{ path('home_imams', {'as': asec, 'annexeId': annexe.id}) }}">Activités enregistrées</a>
  <a class="item" href="{{ path('imam.add', {'as': asec, 'annexeId': annexe.id}) }}">Ajouter</a>#}
