<div class="header">{{ 'Tournées enseignants'|trans }}</div>
  {#<a class="item" href="{{ path('home_mosquees', {'as': asec}) }}">Activités enregistrées</a>
  <a class="item" href="{{ path('mosquee.add', {'as': asec}) }}">Ajouter</a>#}
<div class="header">{{ 'Tournées élèves'|trans }}</div>
  {#<a class="item" href="{{ path('home_imams', {'as': asec}) }}">Activités enregistrées</a>
  <a class="item" href="{{ path('imam.add', {'as': asec}) }}">Ajouter</a>#}
