<div class="ui vertical menu">
  <div class="item">
    <div class="header">{{ 'Tournées enseignants'|trans }}</div>
    <div class="menu">
      {#<a class="item" href="{{ path('home_mosquees', {'as': asec}) }}">Activités enregistrées</a>
      <a class="item" href="{{ path('mosquee.add', {'as': asec}) }}">Ajouter</a>#}
    </div>
  </div>
  <div class="item">
    <div class="header">{{ 'Tournées élèves'|trans }}</div>
    <div class="menu">
      {#<a class="item" href="{{ path('home_imams', {'as': asec}) }}">Activités enregistrées</a>
      <a class="item" href="{{ path('imam.add', {'as': asec}) }}">Ajouter</a>#}
    </div>
  </div>
</div>
