{% extends "ENSBundle:Rencontre:index.html.twig" %}

{% block title %}
  Enregistrement de rencontre
{% endblock %}

{% block contextual_menu %}
  {{ include("ENSBundle:Rencontre:contextual-menu-rencontre.html.twig") }}
{% endblock %}

{% block section %}
  <i class="handshake icon"></i>{{ 'Rencontres'|trans }}
{% endblock %}

{% block body %}
  <h2>{{ 'Enregistrement d\'une nouvelle rencontre'|trans }}</h2>
  <div class="form-group">
    {{ form_start(form, { 'attr': {'class': 'ui form'}, 'action': path('ens_add_rencontre', {'as': asec, 'annexeId': annexe.id})})}}
      <div class="four fields">
        <div class="field">
          <label for="">
            Date de la rencontre
          </label>
          <input type="date" name="date" />
        </div>
        <div class="field">
          {{ form_label(form.type, "Type", {'label_attr': {'class': ''}}) }}
          {{ form_errors(form.type) }}
          {{ form_widget(form.type, {'attr': {'class': ''}}) }}
        </div>
        <div class="field">
          {{ form_label(form.lieu, "Lieu de la rencontre", {'label_attr': {'class': ''}}) }}
          {{ form_errors(form.lieu) }}
          {{ form_widget(form.lieu, {'attr': {'class': ''}}) }}
        </div>
        <div class="field">
          {{ form_label(form.duree, "Durée", {'label_attr': {'class': ''}}) }}
          {{ form_errors(form.duree) }}
          {{ form_widget(form.duree, {'attr': {'class': ''}}) }}
        </div>
      </div>
      <div class="field"> 
        {{ form_label(form.theme, "Thème de la rencontre", {'label_attr': {'class': ''}}) }}
        {{ form_errors(form.theme) }}
        {{ form_widget(form.theme, {'attr': {'class': ''}}) }}
      </div>
      <div class="field">
        <label for="rapport">Rapport de la rencontre</label>
        <textarea name="rapport" id="rapport"></textarea>
      </div>
      {{ form_widget(form.save, {'attr': {'class': 'ui positive button'}}) }}
    {{ form_end(form)}}
  </div>
{% endblock %}


{% block javascripts %}
  <script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
  <script>
    CKEDITOR.replace( 'rapport', {
      language: 'fr',
      uiColor: '#9AB8F3',
    });
  </script>
{% endblock %}
