<div class="ui vertical menu">
    <div class="item">
        <div class="header">{{ 'Gestion des rencontres'|trans }}</div>
        <div class="menu">
            <a class="item" href="{{ path('ens_add_rencontre', {'as': asec}) }}">{{ 'Ajouter une rencontre'|trans }}</a>
            {# <a class="item" href="{{ path('ens_initialisation_l_arret_de_fonction', {'as': asec}) }}">{{ 'Arrêt des fonctions'|trans }}</a> #}
        </div>
    </div>
    {# <div class="item">
        <div class="header">{{ 'Enseignants de l\'année'|trans }}</div>
        <div class="menu">
            <a class="item" href="{{ path('ens_enseignant_de_l_annee', {'as': asec}) }}">{{ 'Liste des enseignants'|trans }}</a>
        </div>
    </div> #}
</div>