{% trans_default_domain 'FOSUserBundle' %}
{% set template = '' %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {% set template = "ISIBundle:Admin:index.html.twig" %}
    {% elseif is_granted('ROLE_INTERNAT') %}
        {% set template = "ISIBundle:Internat:index.html.twig" %}
    {% elseif is_granted('ROLE_DIRECTION_ENSEIGNANT') %}
        {% set template = "ENSBundle:Default:index.html.twig" %}
    {% elseif is_granted('ROLE_ETUDE') %}
        {% set template = "ISIBundle:Etude:index.html.twig" %}
    {% elseif is_granted('ROLE_SCOLARITE') %}
        {% set template = "ISIBundle:Default:index.html.twig" %}
    {% elseif is_granted('ROLE_ORGANISATION') %}
        {% set template = "ORGBundle:Default:index.html.twig" %}
    {% elseif is_granted('ROLE_ENSEIGNANT') %}
        {% set template = "ENSBundle:Enseignant:index.html.twig" %}
    {% endif %}
{% extends template %}


{% block body %} 
    <div class="ui form">
        {{ form_start(form, { 'action': path('fos_user_change_password', {'as': asec, 'annexeId': annexe.id}), 'attr': { 'class': 'fos_user_change_password' } }) }}
            <div class="three fields">
                <div class="field">
                    <label for="">
                        {{ form_label(form.current_password, "Mot de passe actuel", {'label_attr': {'class': ''}}) }} {{ form_errors(form.current_password) }}
                    </label>
                    {{ form_widget(form.current_password, {'attr': {'class': '', 'placeholder': 'Mot de passe actuellement utilisé'}}) }}
                </div>
                <div class="field">
                    <label for="">
                        {{ form_label(form.plainPassword.first, "Nouveau mot de passe", {'label_attr': {'class': ''}}) }} {{ form_errors(form.plainPassword.first) }}
                    </label>
                    {{ form_widget(form.plainPassword.first, {'attr': {'class': '', 'placeholder': 'Nouveau mot de passe'}}) }}
                </div>
                <div class="field">
                    <label for="">
                        {{ form_label(form.plainPassword.second, "Répéter nouveau mot de passe", {'label_attr': {'class': ''}}) }} {{ form_errors(form.plainPassword.second) }}
                    </label>
                    {{ form_widget(form.plainPassword.second, {'attr': {'class': '', 'placeholder': 'Répéter nouveau mot de passe'}}) }}
                </div>
            </div>
            <div>
                <input type="submit" value="{{ 'change_password.submit'|trans }}" class="ui primary button" />
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

