{# Accueil pour l'édition des listes de classe' #}

{% extends 'ISIBundle:Eleve:index.html.twig' %}

{% block title %}
  Modification de la permission du {{ permission.depart|date('d-m-Y') }} pour l'élève {{ permission.eleve.nomFr }} {{ permission.eleve.pnomFr }}
{% endblock %}

{% block body %}
  {% set grp = '' %}
  {% if regime is same as('A') %}
    {% set grp = 'Académie' %}
  {% else %}
    {% set grp = 'Centre de formation' %}
  {% endif %}
  {% for message in app.session.flashbag.get('info') %}
    <div class="ui green message">
      <div class="header">{{ 'Notification'|trans }}: </div>
      <ul class="list">
        <li>{{ message|raw }}</li>
      </ul>
    </div>
  {% endfor %}
  {% for message in app.session.flashbag.get('error') %}
    <div class="ui red message">
      <div class="header">{{ 'Attention'|trans }} !!! </div>
      <ul class="list">
        <li>{{ message|raw }}</li>
      </ul>
    </div>
  {% endfor %}
  <div>
    <h2 class="">Détails de la permission</h2>
    <h2 class="ui horizontal divider header">
      <i class="tag icon"></i>
      {{ 'Identification personnelle'|trans }}
    </h2>
    <center>
      <h2>
        <font color="red">{{ permission.eleve.matricule }}</font>
      </h2>
    </center>
    <br>
    <div class="ui two column doubling stackable grid container">
      <div class="column">
        <table>
          <tr>
            <td>
              <strong>{{ 'Nom'|trans }} : </strong>
            </td>
            <td>{{ permission.eleve.nomFr }}</td>
          </tr>
          <tr>
            <td>
              <strong>{{ 'Prénom'|trans }} : </strong>
            </td>
            <td>{{ permission.eleve.pnomFr }}</td>
          </tr>
          <tr>
            <td>
              <strong>{{ 'Sexe'|trans }} : </strong>
            </td>
            {% if permission.eleve.sexe == 1 %}
            <td>{{ 'Homme'|trans }}</td>
            {% else %}
            <td>{{ 'Femme'|trans }}</td>
            {% endif %}
          </tr>
          <tr>
            <td>
              <strong>{{ 'Date de naissance'|trans }} : </strong>
            </td>
            <td>{{ permission.eleve.dateNaissance|date("d-m-Y") }} à {{ permission.eleve.lieuNaissance }} </td>
          </tr>
          <tr>
            <td>
              <strong>{{ 'Référence extrait de naissance'|trans }} : </strong>
            </td>
            <td>{{ permission.eleve.refExtrait }} </td>
          </tr>
        </table>
      </div>
      <div class="column">
        <table>
          <tr>
            <td>
              <strong>{{ 'Nationalité'|trans }} : </strong>
            </td>
            <td>{{ permission.eleve.nationalite }}</td>
          </tr>
          <tr>
            <td>
              <strong>{{ 'Résidence'|trans }} : </strong>
            </td>
            <td>{{ permission.eleve.commune }} {{ permission.eleve.residence }}</td>
          </tr>
          <tr>
            <td>
              <strong>{{ 'Etablissement d\'origine'|trans }} : </strong>
            </td>
            <td>{{ permission.eleve.etsOrigine }}</td>
          </tr>
          <tr>
            <td>
              <strong>{{ 'Contact'|trans }} : </strong>
            </td>
            <td>{{ permission.eleve.contact }} </td>
          </tr>
          <tr>
            <td>
              <strong></strong>
            </td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
    <h2 class="ui horizontal divider header">
      <i class="student icon"></i>
      {{ 'Scolarité'|trans }}
    </h2>
    <div>
      <table align="center" width="25%">
        <tr>
          <td>
            <strong>{{ 'Classe'|trans }} : </strong>
          </td>
          <td>
            {% if fq is not empty %}
              {{ fq.classe.libelleFr }}
            {% else %}
              Pas inscrit(e)
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>
            <strong>{{ 'Contact'|trans }}</strong>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            <strong>{{ 'Profession'|trans }}</strong>
          </td>
          <td></td>
        </tr>
      </table>
    </div>
    <h2 class="ui horizontal divider header">
      <i class="tag icon"></i>
      {{ 'Permission'|trans }}
    </h2>
    <br>
    <form class="ui form">
      <div class="ui two column doubling stackable grid container">
        <div class="column">
          <div class="field">
            <label for="depart">Date de départ</label>
            <input type="date" name="depart" id="depart" value="{{ permission.depart|date('Y-m-d') }}" readonly>            
          </div>
          <div class="field">
            <label for="retour">Date de retour</label>
            <input type="date" name="retour" id="retour" value="{{ permission.retour|date('Y-m-d') }}" readonly>            
          </div>
        </div>
        <div class="column">
          <label for="motif">Motif de la permission</label>
          <textarea name="motif" rows="2" cols="70" id="motif" readonly>{{ permission.motif }}</textarea>
        </div>
      </div>
    </form>
    <br>
  </div>
{% endblock %}
