{# ISIBundle/Ressources/views/Eleve #}

{% extends 'ISIBundle:Eleve:index.html.twig' %}

{% block title %}
  Elèves inscrits
{% endblock %}


{% block section %}
  <i class="student icon"></i>{{ 'Espace élèves inscrits'|trans }}
  {% if regime is same as ('A') %}
    {{ ' - Academie' }}
  {% else %}
    {{' - Formation'}}
  {% endif %}
{% endblock %}


{% block body %}
  <table id="table2" cellspacing="0" class="mytable filterable ui very basic table">
    <thead>
      <tr>
        <th style="text-align: center">{{ 'N°'|trans }}</th>
        <th>{{ 'Matricule'|trans }}</th>
        <th>{{ 'Nom & Prénom'|trans }}</th>
        <th>الإسم و اللقب</th>
        <th>{{ 'Sexe'|trans }}</th>
        <th>{{ 'Sexe Ar'|trans }}</th>
        <th>{{ 'Date de naissance'|trans }}</th>
        <th>{{ 'Lieu de naissance'|trans }}</th>
        <th>{{ 'Lieu de naissance Ar'|trans }}</th>
        <th>{{ 'Classe'|trans }}</th>
        <th>{{ 'Classe Ar'|trans }}</th>
        <th>{{ 'Contact Tuteur'|trans }}</th>
        <th>{{ 'Actions'|trans }}</th>
      </tr>
    </thead>
    <tbody>
      {% set numero = 0 %}
      {% for eleve in eleves %}
      {% set numero = numero + 1 %}
      <tr>
        <td style="text-align: center">{{ numero }}</td>
        <td>{{eleve.getEleve.getMatricule}}</td>
        <td>{{eleve.getEleve.getNomFr}} {{eleve.getEleve.getPnomFr}}</td>
        <td><span>{{eleve.getEleve.pnomAr}} {{eleve.getEleve.nomAr}}</span></td>
        <td>
          <div data-tooltip="{{eleve.getEleve.getNomFr}} {{eleve.getEleve.getPnomFr}} est de sexe ">
            {% if eleve.getEleve.getSexe == 1 %} 
              {{ 'M' }}
            {% else %}
              {{ 'F' }} 
            {% endif %}
          </div>
        </td>
        <td>
          <div data-tooltip="{{eleve.getEleve.getNomFr}} {{eleve.getEleve.getPnomFr}} est de sexe ">
            {% if eleve.getEleve.getSexe == 1 %} 
              {{ 'ذكر' }}
            {% else %}
              {{ 'أنثى' }} 
            {% endif %}
          </div>
        </td>
        <td>{{ eleve.getEleve.getDateNaissance|date("d-m-Y") }}</td>
        <td>{{ eleve.getEleve.getLieuNaissance }}</td>
        <td>{{ eleve.getEleve.getLieuNaissanceAr }}</td>
        <td>{{ eleve.getClasse.getLibelleAr }}</td>
        <td>{{ eleve.getClasse.getLibelleFr }}</td>
        <td>{{ eleve.eleve.getContactTuteur }}</td>
        <td>
          <div class="ui grid">
            <div class="wide column" data-tooltip="Modifier les information de l'élève">
              <a href="{{ path('isi_edit_eleve', {'as': asec, 'annexeId': annexe.id, 'regime': regime, 'eleveId': eleve.getEleve.getId, origine: 'eleves-inscrits'}) }}"><i class="edit icon"></i></a>
            </div>
            <div class="wide column" data-tooltip="Voir les informations de l'élève">
              <a href="{{ path('isi_info_eleve', {'as': asec, 'annexeId': annexe.id, 'regime': regime, 'eleveId': eleve.getEleve.getId}) }}"><i class="info circle icon"></i></a>
            </div>
            <div class="wide column" data-tooltip="Enregistrer une conduite de l'élève">
              <a href="{{ path('isi_enregistrer_conduite', {'as': asec, 'annexeId': annexe.id, 'regime': regime, 'eleveId': eleve.getEleve.getId, origine: 'eleves-inscrits'}) }}"><i class="certificate{{ ''|trans }} icon"></i></a>
            </div>
            
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('TableFilter/dist/tablefilter/tablefilter.js') }}"></script>
  <script src="{{ asset('DataTables/datatables.min.js') }}"></script>
  {# Bundle JS routing #}
  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
  <script data-config>
    var filtersConfig = {
      base_path: 'TableFilter/dist/tablefilter/',
      col_0: 'none',
      col_4: 'select',
      col_5: 'select',
      col_7: 'select',
      col_8: 'select',
      col_9: 'select',
      col_10: 'select',
      col_12: 'none',
      alternate_rows: true,
      rows_counter: true,
      btn_reset: true,
      loader: true,
      status_bar: true,
      mark_active_columns: true,
      highlight_keywords: true,
      no_results_message: true,
      col_types: [
        'number', 'string', 'string',
        'string', 'string', 'string',
        'string'
      ],
      col_widths: [
        // '5px', '130px', '300px', , , '120px', ,
      ],
      extensions: [{ name: 'sort' }]
    };

    var tf = new TableFilter('table2', filtersConfig);
    tf.init();
  </script>
{% endblock %}
