{# ISIBundle/Ressources/views/Eleve #}

{% extends 'ISIBundle:Eleve:index.html.twig' %}

{% block title %}
  Elèves inscrits
{% endblock %}


{% block body %}

  {% block content %}

    {% for message in app.session.flashbag.get('error') %}
      <div class="ui red message">
        <div class="header">{{ 'Attention'|trans }} !!! </div>
        <ul class="list">
          <li>{{ message }}.</li>
        </ul>
      </div>
    {% endfor %}
    {% for message in app.session.flashbag.get('info') %}
      <div class="ui green message">
        <div class="header">{{ 'Notification'|trans }}: </div>
        <ul class="list">
          <li>{{ message }}.</li>
        </ul>
      </div>
    {% endfor %}
      {# {{dump(eleves)}} #}
        <table id="table2" cellspacing="0" class="mytable filterable ui very basic table">
          <thead>
            <tr>
              <th align="center">{{ 'N°'|trans }}</th>
              <th>{{ 'Matricule'|trans }}</th>
              <th>{{ 'Nom & Prénom'|trans }}</th>
              <th>الإسم و اللقب</th>
              <th>{{ 'Sexe'|trans }}</th>
              <th>{{ 'Date de naissance'|trans }}</th>
              <th>{{ 'Classe'|trans }}</th>
              <th>{{ 'Actions'|trans }}</th>
            </tr>
          </thead>
          <tbody>
            {% set numero = 0 %}
            {% for eleve in eleves %}
            {% set numero = numero + 1 %}
            <tr>
              <td align="center">{{ numero }}</td>
              <td>{{eleve.getEleve.getMatricule}}</td>
              <td>{{eleve.getEleve.getNomFr}} {{eleve.getEleve.getPnomFr}}</td>
              <td><span>{{eleve.getEleve.pnomAr}} {{eleve.getEleve.nomAr}}</span></td>
              <td>
                <div data-tooltip="{{eleve.getEleve.getNomFr}} {{eleve.getEleve.getPnomFr}} est de sexe ">
                  {% if eleve.getEleve.getSexeFr == 1 %} 
                    {{ 'ذكر' }}
                  {% else %}
                    {{ 'أنثى' }} 
                  {% endif %}
                </div>
              </td>
              <td>{{ eleve.getEleve.getDateNaissance|date("d-m-Y") }}</td>
              <td>{{ eleve.getClasse.getLibelleClasseAr }}</td>
              <td>
                <div class="ui grid">
                  <div class="wide column" data-tooltip="Modifier les information de l'élève">
                    <a href="{{ path('isi_edit_eleve', {'as': asec, 'regime': regime, 'eleveId': eleve.getEleve.getEleveId}) }}"><i class="edit icon"></i></a>
                  </div>
                  <div class="wide column" data-tooltip="Voir les informations de l'élève">
                    <a href="{{ path('isi_info_eleve', {'as': asec, 'regime': regime, 'eleveId': eleve.getEleve.getEleveId}) }}"><i class="info circle icon"></i></a>
                  </div>
                  <div class="wide column" data-tooltip="Enregistrer une conduite de l'élève">
                    <a href="{{ path('isi_enregistrer_conduite', {'as': asec, 'regime': regime, 'eleveId': eleve.getEleve.getEleveId}) }}"><i class="certificate{{ ''|trans }} icon"></i></a>
                  </div>
                  
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    {% endblock %}

    <script data-config>
      var filtersConfig = {
        base_path: '/markaz/web/TableFilter/dist/tablefilter/',
        col_0: 'none',
        col_4: 'select',
        col_6: 'select',
        col_7: 'none',
        alternate_rows: true,
        rows_counter: true,
        btn_reset: true,
        loader: true,
        status_bar: true,
        mark_active_columns: true,
        highlight_keywords: true,
        no_results_message: true,
        col_types: [
          'number', 'string', 'string',
          'string', 'string', 'string',
          'string'
        ],
        col_widths: [
          '5px', '130px', '300px', , , '120px', ,
        ],
        extensions: [{ name: 'sort' }]
      };

      var tf = new TableFilter('table2', filtersConfig);
      tf.init();
    </script>
{% endblock %}
