{% extends 'ISIBundle:Eleve:index.html.twig' %}

{% block title %}
    Flash inscription de {{ classe.niveau.libelleFr }} - {{ classe.libelleFr}}
{% endblock %}

{% block body %}
    {% set grp = '' %}
    {% if regime is same as('A') %}
      {% set grp = 'Académie' %}
    {% else %}
      {% set grp = 'Formation' %}
    {% endif %}

    <h3>{{ 'Flash inscription de la classe'|trans }} {{ classe.libelleFr}} </h3>
    {% if frequenter|length == 0 %}
        <p>Tous les élèves de cette classe sont déjà inscrits</p>
    {% else %}
        <form class="ui form" action="{{ path('isi_appliquer_flash_inscription', {'as': asec, 'annexeId': annexe.id, 'regime': regime, 'classeId': classe.id}) }}" method="post">
            <button class="ui small primary labeled icon button">
            <i class="save icon"></i> {{ 'Appliquer les changements'|trans }}
            </button>
            <table class="ui very basic table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Avatar</th>
                        <th>Matricule</th>
                        <th>Nom & Prénom</th>
                        <th>Classe</th>
                        {% if regime == 'A' %}
                            <th>Halaqa</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% set i = 0 %}
                    {% for eleve in eleves %}
                        {% for fq in frequenter %}
                            {% if eleve.id == fq.eleve.id %}
                                {% set i = i + 1 %}
                                {% set class = '' %}
                                {% set reinscrit = false %}
                                {% if fq.admission == 0 %}
                                    {% set class = 'error' %}
                                {% endif %}
                                {% if fq.eleve.id in reinscription|keys %}
                                    {% set reinscrit = true %}
                                {% endif %}
                                <tr class="{{ class }}" {% if reinscrit == false %}title="{{ fq.eleve.nomFr }} {{ fq.eleve.pnomFr }} ne s'est pas réinscrit(e) pour l'année scolaire {{ annee.libelle }}"{% endif %}>
                                    <td>{{ i }}</td> 
                                    <td><img class="ui avatar image" src="{{ asset('images/logoISI-x.png') }}" /></td> 
                                    <td>{{ fq.eleve.matricule }}</td> 
                                    <td>{{ fq.eleve.nomFr }} {{ fq.eleve.pnomFr }}</td> 
                                    <td>
                                        {% if fq.admission == 1 %}
                                            <select class="ui fluid dropdown" name="classe[{{ fq.eleve.id }}]" {% if reinscrit == false %}disabled{% endif %}>
                                                <option value="">{{ 'Sélectionner une classe'|trans }}</option>
                                                {% for cl in classesSup %}
                                                    {% if cl.genre == 'M' or (cl.genre == 'H' and fq.eleve.sexe == 1) or (cl.genre == 'F' and fq.eleve.sexe == 2) %}
                                                        <option value="{{ cl.id }}">{{ cl.libelleFr }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        {% elseif fq.admission == 0 %}
                                            <select class="ui fluid dropdown" name="classe[{{ fq.eleve.id }}]" {% if reinscrit == false %}disabled{% endif %}>
                                                <option value="">{{ 'Sélectionner une classe'|trans }}</option>
                                                {% for cl in classesR %}
                                                    {% if cl.genre == 'M' or (cl.genre == 'H' and fq.eleve.sexe == 1) or (cl.genre == 'F' and fq.eleve.sexe == 2) %}
                                                        <option value="{{ cl.id }}">{{ cl.libelleFr }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        {% endif %}
                                    </td> 
                                    {% if regime == 'A' %}
                                        <td>
                                            <select class="ui fluid dropdown" name="halaqa[{{ fq.eleve.id }}]" {% if reinscrit == false %}disabled{% endif %}>
                                                <option value="">{{ 'Sélectionner une halaqa'|trans }}</option>
                                                {% for halaqa in halaqas %}
                                                    {% if halaqa.genre == 'M' or (halaqa.genre == 'H' and fq.eleve.sexe == 1) or (halaqa.genre == 'F' and fq.eleve.sexe == 2) %}
                                                        <option value="{{ halaqa.id }}">{{ halaqa.libelle }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td> 
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}               
                    {% endfor %}               
                <tbody>
            <table>
            <input type="hidden" name="effectif" value="{{ frequenter|length }}">
            <button class="ui right floated small primary labeled icon massive button">
            <i class="save icon"></i> {{ 'Appliquer les changements'|trans }}
            </button>
        </form>
    {% endif %}
{% endblock %}
