{% extends 'ISIBundle:Eleve:index.html.twig' %}

{% block title %} Modification de niveau - {{ eleve.nomFr }} {{ eleve.pnomfr }} {% endblock %}

{% block body %}
    <h3>{{ 'Modification dniveau de'|trans }} {{ eleve.getNomFr }} {{ eleve.getPnomfr }} </h3>
    <p>{{ 'Classe actuelle'|trans }}: {{ classeActuelle.getLibelleFr }} </p>
    <form action="" class="ui form" method="post">
        <div class="two fields">
            <div class="field">
                <label for="classe">Nouvelle classe</label>
                <select name="classe" id="classe">
                    <option value="">{{ 'Choisir la nouvelle classe pour'|trans }} {{ eleve.getNomFr }} {{ eleve.getPnomfr }}</option>
                    {% for classe in classes %}
                        {% if classe.getNiveau.getId != classeActuelle.getNiveau.getId %}
                            <option value="{{ classe.getId }}">{{ classe.getLibelleFr }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            {% if regime == 'A' %}
                <div class="field">
                    <label for="">Nouvelle halaqa</label>
                    <select name="halaqa" id="">
                        <option value="">{{ 'Choisir la nouvelle halaqa'|trans }} {{ eleve.getNomFr }} {{ eleve.getPnomfr }}</option> 
                        {% for halaqa in halaqas %}
                            <option value="{{ halaqa.getId }}">{{ halaqa.getLibelle }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
        </div>
        <br />
        <input type="submit" class="ui primary button" value="   Valider le changement de classe   " name="submit">
    </form>
{% endblock %}
