{# Page de préinscription #}
{% set template = "" %}
{% if regime == 'C' %}
  {% set template = 'ISIBundle:Coran:index.html.twig' %}
{% else %}
  {% set template = 'ISIBundle:Eleve:index.html.twig' %}
{% endif %}
{% extends template %}

{% block title %}
  Préinscription
{% endblock %}

{% block body %}
  {# {{ matricule }} #}
  <div class="ui large form">
  {{form_start(form, {'attr': {'class': 'ui form'}})}}
  <h3 class="ui dividing header">{{ 'Identification de l\'élève'|trans }}</h3>
   <div class="two fields">
      <div class="sixteen wide field">
         <div class="two fields">
            <div class="field">
               {{ form_label(form.nomFr, "Nom (en français)", {'label_attr': {'class': '', 'style': 'text-transform: capitalize;'}}) }}
               {{ form_errors(form.nomFr) }}
               {{ form_widget(form.nomFr, {'attr': {'class': '', 'placeholder': 'Le nom'}}) }}
            </div>
            <div class="field">
               {{ form_label(form.pnomFr, "Prénom (en français)", {'label_attr': {'class': ''}}) }}
               {{ form_errors(form.pnomFr) }}
               {{ form_widget(form.pnomFr, {'attr': {'class': '', 'placeholder': 'Le prénom'}}) }}
            </div>
         </div>
         <div class="two fields">
            <div class="field">
               {{ form_label(form.nomAr, "اللقب", {'label_attr': {'class': ''}}) }}
               {{ form_errors(form.nomAr) }}
               {{ form_widget(form.nomAr, {'attr': {'class': '', 'placeholder': 'Le nom'}}) }}
            </div>
            <div class="field">
               {{ form_label(form.pnomAr, "الاسم", {'label_attr': {'class': ''}}) }}
               {{ form_errors(form.pnomAr) }}
               {{ form_widget(form.pnomAr, {'attr': {'class': '', 'placeholder': 'Le prénom'}}) }}
            </div>
         </div>
         <div class="four fields">
            <div class="field">
               {{ form_label(form.sexe, "Sexe", {'label_attr': {'class': ''}}) }}
               {{ form_errors(form.sexe) }}
               {{ form_widget(form.sexe, {'attr': {'class': '', 'placeholder': 'sexe'}}) }}
            </div>
            <div class="field">
               <label for="">
                  Date de naissance
               </label>
               <input type="date" name="date" required="required"/>
            </div>
            <div class="field">
               {{ form_label(form.lieuNaissance, "Lieu de naissance", {'label_attr': {'class': ''}}) }}
               {{ form_errors(form.lieuNaissance) }}
               {{ form_widget(form.lieuNaissance, {'attr': {'class': 'select-date-naissance', 'placeholder': 'Où est né l\'élève ?'}}) }}
            </div>
            <div class="field">
               {{ form_label(form.lieuNaissanceAr, "Lieu de naissance (en arabe)", {'label_attr': {'class': ''}}) }}
               {{ form_errors(form.lieuNaissanceAr) }}
               {{ form_widget(form.lieuNaissanceAr, {'attr': {'class': 'select-date-naissance', 'placeholder': 'Où est né l\'élève ?'}}) }}
            </div>
         </div>
         <div class="four fields">
            <div class="field">
               {{ form_label(form.refExtrait, "Référence Extr.", {'label_attr': {'class': ''}}) }}
               {{ form_errors(form.refExtrait) }}
               {{ form_widget(form.refExtrait, {'attr': {'class': '', 'placeholder': 'Extrait de naissance'}}) }}
            </div>
            <div class="field">
               {{ form_label(form.grpSanguin, "Groupe sanguin", {'label_attr': {'class': ''}}) }}
               {{ form_errors(form.grpSanguin) }}
               {{ form_widget(form.grpSanguin, {'attr': {'class': ''}}) }}
            </div>
            <div class="field">
               {{ form_label(form.nationalite, "Nationalite", {'label_attr': {'class': ''}}) }}
               {{ form_errors(form.nationalite) }}
               {{ form_widget(form.nationalite, {'attr': {'class': '', 'placeholder': 'Sa nationalité', 'list': 'nationalite'}}) }}
            </div>
            <datalist id='nationalite'>
               <option value="Ivoirienne"></option>
               <option value="Malienne"></option>
               <option value="Guinéenne"></option>
               <option value="Burkinabé"></option>
            </datalist>
            <div class="field">
               {{ form_label(form.nationaliteAr, "Nationalite (en arabe)", {'label_attr': {'class': ''}}) }}
               {{ form_errors(form.nationaliteAr) }}
               {{ form_widget(form.nationaliteAr, {'attr': {'class': '', 'placeholder': 'Sa nationalité', 'list': 'nationalite_ar'}}) }}
            </div>
            <datalist id='nationalite_ar'>
               <option value=""></option>
            </datalist>
         </div>
         <div class="four fields">
            <div class="field">
               {{ form_label(form.commune, "Commune", {'label_attr': {'class': ''}}) }}
               {{ form_errors(form.commune) }}
               {{ form_widget(form.commune, {'attr': {'placeholder': 'Commune', 'list': 'commune'}}) }}
            </div>
            <datalist id='commune'>
               <option value="Abobo"></option>
               <option value="Adjamé"></option>
               <option value="Anyama"></option>
               <option value="Attécoubé"></option>
               <option value="Cocody"></option>
               <option value="Koumassi"></option>
               <option value="Marcory"></option>
               <option value="Plateau"></option>
               <option value="Port-Bouët"></option>
               <option value="Riviera"></option>
               <option value="Yopougon"></option>
            </datalist>
            <div class="field">
               {{ form_label(form.residence, "Résidence", {'label_attr': {'class': ''}}) }}
               {{ form_errors(form.residence) }}
               {{ form_widget(form.residence, {'attr': {'placeholder': 'Où réside l\'élève ?'}}) }}
            </div>
            <div class="field">
               {{ form_label(form.contact, "Contact", {'label_attr': {'class': ''}}) }}
               {{ form_errors(form.contact) }}
               {{ form_widget(form.contact, {'attr': {'class': '', 'placeholder': 'Numéro de téléphone'}}) }}
            </div>
            <div class="field">
                  {{ form_label(form.profession, "Profession", {'label_attr': {'class': ''}}) }}
                  {{ form_errors(form.profession) }}
                  {{ form_widget(form.profession, {'attr': {'class': '', 'placeholder': 'Profession', 'list': 'profession'}}) }}
            </div>
            <datalist id='profession'>
               {% for item in professions %}
                  <option value="{{ item["profession"] }}"></option>
               {% endfor %}
            </datalist>
         </div>
         <div class="two fields">
            <div class="field">
               <label for="">
                  {{ form_label(form.etsOrigine, "Ets d'origine", {'label_attr': {'class': ''}}) }}
                  {{ form_errors(form.etsOrigine) }}
               </label>
               {{ form_widget(form.etsOrigine, {'attr': {'class': ''}}) }}
            </div>
            <div class="field">
               <label for="">
                  {{ form_label(form.etatSante, "Etat de santé", {'label_attr': {'class': ''}}) }}
                  {{ form_errors(form.etatSante) }}
               </label>
               {{ form_widget(form.etatSante, {'attr': {'class': ''}}) }}
            </div>
         </div>
      </div>
      <div class="field">
         <div class="field">
            <div class="col-lg-4">
               <div class="p-5">
                  <h3>Photo d'identité</h3>
                  <hr>
                  <div class="form-group row">
                     <div class="col-sm-12 mb-3 mb-sm-0">
                        <img id="blah" width="50%" src="#" alt="Image" />
                     </div>
                  </div>
                  <div class="form-group row">
                     <div class="col-sm-12 mb-3 mb-sm-0">
                        {{ form_row(form.photo, {'attr': {'accept': 'image/*', 'capture': 'capture'}}) }}
                        {# <input type="file" accept="" capture="" id="photo"> #}
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
    <br />
    <h3 class="ui dividing header">{{ 'Identification des parents de l\'élève'|trans }}</h3>
    <div class="four fields">
      <div class="field">
         {{ form_label(form.nomPere, "Nom du père", {'label_attr': {'class': ''}}) }}
         {{ form_errors(form.nomPere) }}
         {{ form_widget(form.nomPere, {'attr': {'placeholder': 'Nom & Prénom'}}) }}
      </div>
      <div class="field">
         {{ form_label(form.contactPere, "Contact", {'label_attr': {'class': ''}}) }}
         {{ form_errors(form.contactPere) }}
         {{ form_widget(form.contactPere, {'attr': {'class': '', 'placeholder': 'Contact du père'}}) }}
      </div>
      <div class="field">
         {{ form_label(form.professionPere, "Profession", {'label_attr': {'class': ''}}) }}
         {{ form_errors(form.professionPere) }}
         {{ form_widget(form.professionPere, {'attr': {'class': '', 'placeholder': 'Profession'}}) }}
      </div>
      <div class="field">
         {{ form_label(form.situationPere, "Situation", {'label_attr': {'class': ''}}) }}
         {{ form_errors(form.situationPere) }}
         {{ form_widget(form.situationPere, {'attr': {'class': ''}}) }}
      </div>
    </div>
    <div class="four fields">
      <div class="field">
         {{ form_label(form.nomMere, "Nom de la mère", {'label_attr': {'class': ''}}) }}
         {{ form_errors(form.nomMere) }}
         {{ form_widget(form.nomMere, {'attr': {'placeholder': 'Nom & Prénom'}}) }}
      </div>
      <div class="field">
         {{ form_label(form.contactMere, "Contact", {'label_attr': {'class': ''}}) }}
         {{ form_errors(form.contactMere) }}
         {{ form_widget(form.contactMere, {'attr': {'class': '', 'placeholder': 'Contact de la mère'}}) }}
      </div>
      <div class="field">
         {{ form_label(form.professionMere, "Profession", {'label_attr': {'class': ''}}) }}
         {{ form_errors(form.professionMere) }}
         {{ form_widget(form.professionMere, {'attr': {'class': '', 'placeholder': 'Profession'}}) }}
      </div>
      <div class="field">
         {{ form_label(form.situationMere, "Situation", {'label_attr': {'class': ''}}) }}
         {{ form_errors(form.situationMere) }}
         {{ form_widget(form.situationMere, {'attr': {'class': ''}}) }}
      </div>
    </div>
    <br />
    <h3 class="ui dividing header">{{ 'Identification du tuteur (s\'il y en a)'|trans }}</h3>
    <div class="three fields">
      <div class="field">
         {{ form_label(form.nomTuteur, "Nom du tuteur", {'label_attr': {'class': ''}}) }}
         {{ form_errors(form.nomTuteur) }}
         {{ form_widget(form.nomTuteur, {'attr': {'placeholder': 'Nom & Prénom'}}) }}
      </div>
      <div class="field">
         {{ form_label(form.contactTuteur, "Contact", {'label_attr': {'class': ''}}) }}
         {{ form_errors(form.contactTuteur) }}
         {{ form_widget(form.contactTuteur, {'attr': {'class': '', 'placeholder': 'Contact du tuteur'}}) }}
      </div>
      <div class="field">
         {{ form_label(form.professionTuteur, "Profession", {'label_attr': {'class': ''}}) }}
         {{ form_errors(form.professionTuteur) }}
         {{ form_widget(form.professionTuteur, {'attr': {'class': '', 'placeholder': 'Profession'}}) }}
      </div>
    </div>
    <br />
    {{ form_widget(form.save, {'attr': {'class': 'ui primary button'}}) }}

  {{form_end(form)}}
  </div>
{% endblock %}



{% block javascripts %}
	<script>
		var input = document.getElementById("isibundle_eleve_photo");
		function verifTaille(){
			file =input.files[0];
			window.URL = window.URL || window.webkitURL;
			img = new Image();
			
			img.onload = function(){
				// if(img.width > 413 || img.height > 532){
				// 	pasGlop(img.width-413, img.height-532);
				// 	input.value = null
				// }
				// else{
				// 	// glop(img.width, img.height);
				// 	//Tout c'est bien passé
				// }
            function readURL(input) {
            if (input.files && input.files[0]) {
               var reader = new FileReader();
               
               reader.onload = function (e) {
                  $('#blah').attr('src', e.target.result);
               }
               
               reader.readAsDataURL(input.files[0]);
            }
            }
            
            $("#isibundle_eleve_photo").change(function(){
               readURL(this);
            });
			}
			img.src = window.URL.createObjectURL(file);
		}
				
		function glop(width, height){
			alert("ok c'est cool (dims : "+width+"X"+height+"px)");
		}

		function pasGlop(width, height){
			var str = "votre image est trop "
			if(width>0){str+="large de "+width+"px";}
			if(width>0 && height>0){str+=" et trop ";}
			if(height>0){str+="haute de "+height+"px.";}
			alert(str);
		}

		input.onchange=verifTaille;
	</script>
{% endblock %}