{# Page de gestion des examens #}

{% extends "ISIBundle:Etude:index.html.twig" %}

{% block pageTitle %}
	Gestion des examens
{% endblock %}


{% block contextual_menu %}
  {{ include("ISIBundle:Examen:contextual-menu-notes-exam.html.twig") }}
{% endblock %}


{% block head %}
	<div class="ui {{ dir2 }} aligned segment">
		<h1 class="ui header">
			<i class="settings icon"></i>{{ 'NOTES D\'EXAMENS'|trans }}
		</h1>
	</div> 
{% endblock %}


{% block content %}
	<h3>{{ 'Gestion des notes d\'examens'|trans }}</h3>
	{% if examen is empty %}
		<p>{{ 'Aucune examen n\'a encore été enregistré'|trans }}</p>
	{% endif %}
{% endblock %}
