{# Page d'ajout d'une nouvelle classe #}

{% extends "ISIBundle:Etude:index.html.twig" %}

{% block pageTitle %}
	Enregistrer matière
{% endblock %}

{% block contextual_menu %}  
    {% include('ISIBundle:Etude:contextual-menu-parametres.html.twig') %}
{% endblock %}

{% block head %}
	<div class="ui {{ dir2 }} aligned segment">
		<h1 class="ui header">
			<i class="student icon"></i>{{ 'Matières'|trans }}
		</h1>
	</div>
{% endblock %}

{% block content %}
	<h3>{{ 'Enregistrement d\'une nouvelle matière'|trans }}</h3>

	<div class="well">
		{{ form_start(form, {'attr': {'class': 'ui form'}}) }}
			<div class="form-group">
				<div class="three fields">
					<div class="field">
						<label>
							{{ form_label(form.libelle, "Libellé de la matière", {'label_attr': {'class': ''}}) }}
							{{ form_errors(form.libelle) }}
						</label>
						<div class="">
							{{ form_widget(form.libelle, {'attr': {'class': ''}}) }}
						</div>
					</div>
					<div class="field">
						<label>
							{{ form_label(form.referenceLangue, "Langue", {'label_attr': {'class': ''}}) }}
							{{ form_errors(form.referenceLangue) }}
						</label>
						<div class="">
							{{ form_widget(form.referenceLangue, {'attr': {'class': ''}}) }}
						</div>
					</div>
					<div class="field">
						<label>
							{{ form_label(form.matiere_mere, "Matière mère", {'label_attr': {'class': ''}}) }}
							{{ form_errors(form.matiere_mere) }}
						</label>
						<div class="">
							{{ form_widget(form.matiere_mere, {'attr': {'class': ''}}) }}
						</div>
					</div>
				</div>
		    </div>

		    {{ form_widget(form.save, {'attr': {'class': 'ui primary button'}}) }}
	  	{{ form_end(form) }}
	</div>

{% endblock %}
