{# Page d'ajout d'un nouveau niveau #}

{% extends "ISIBundle:Etude:index.html.twig" %}

{% block title %}
	Enregistrer niveau
{% endblock %}

{% block contextual_menu %}  
    {% include('ISIBundle:Etude:contextual-menu-parametres.html.twig') %}
{% endblock %}


{% block body %}
	<h3>{{ 'Enregistrement d\'un nouveau niveau de formation'|trans }}</h3>

	<div class="well">
		{{form_start(form, {'attr': {'class': 'ui form'}})}}
			<div class="form-group">
				<div class="two fields">
					<div class="field">
						<label for="">
						{{ form_label(form.libelleAr, "Niveau (en arabe)", {'label_attr': {'class': ''}}) }}
						{{ form_errors(form.libelleAr) }}
						</label>
						{{ form_widget(form.libelleAr, {'attr': {'class': '', 'placeholder': 'Niveau'}}) }}
					</div>
					<div class="field">
						<label for="">
						{{ form_label(form.libelleFr, "Niveau (en français)", {'label_attr': {'class': ''}}) }}
						{{ form_errors(form.libelleFr) }}
						</label>
						{{ form_widget(form.libelleFr, {'attr': {'class': '', 'placeholder': 'Niveau'}}) }}
					</div>
				</div>
		    </div>

		    {{ form_widget(form.save, {'attr': {'class': 'ui primary button'}}) }}

	  	{{ form_end(form) }}
	</div>

{% endblock %}
