{# Page de liaison des matieres et des niveaux #}

{% extends "ISIBundle:Etude:progression-home.html.twig" %}

{% block title %}
	Edition de liaison de matières
{% endblock %}

{% block body %}
	<h3>{{ 'Edition de la matière pour le niveau'|trans }} {{ enseignement.matiere.libelle }} {{ niveau.libelleFr }}</h3>
	{{ form_start(form, {'attr': {'class': 'ui form'}}) }} 
		<div class="five fields">
			<div class="field">
				<label for="">
					{{ form_label(form.coefficient, "Coefficient", {'label_attr': {'class': ''}}) }} 
					{{ form_errors(form.coefficient) }}
				</label>
				{{ form_widget(form.coefficient, {'attr' : {'class' : 'niveauclass'}}) }}
			</div>
			<div class="field">
				<label for="">
					{{ form_label(form.livre, "Sélectionner un livre", {'label_attr': {'class': ''}}) }} 
					{{ form_errors(form.livre) }}
				</label>
				{{ form_widget(form.livre) }}
			</div>
			<div class="field">
				<label for="">
					{{ form_label(form.nombre_heure_cours, "Nombre d'heures de cours", {'label_attr': {'class': ''}}) }} 
					{{ form_errors(form.nombre_heure_cours) }}
				</label>
				{{ form_widget(form.nombre_heure_cours) }}
			</div>
			<div class="field">
				<label for="">
					{{ form_label(form.statu, "Cocher si c'est une matière spécifique", {'label_attr': {'class': ''}}) }} 
					{{ form_errors(form.statu) }}
				</label>
				{{ form_widget(form.statu, {'attr' : {'class' : 'ui toggle checkbox'}}) }}
			</div>
		</div>
		{{ form_widget(form.update, {'attr': {'class': 'ui primary button'}}) }}
	{{ form_end(form) }}
{% endblock %}
