{# Page d'édition d'une matière #}

{% extends "ISIBundle:Etude:index.html.twig" %}

{% block title %}
	Editer matière
{% endblock %}

{% block contextual_menu %}  
    {% include('ISIBundle:Etude:contextual-menu-parametres.html.twig') %}
{% endblock %}

{% block section %}
	<i class="student icon"></i>{{ 'Matières'|trans }}
{% endblock %}

{% block body %}
	<h3>{{ 'Edition de matière'|trans }}</h3>

	<div class="well">
		{{ form_start(form, {'attr': {'class': 'ui form'}}) }}
			<div class="form-group">
				<div class="two fields">
					<div class="field">
						<label>
							{{ form_label(form.libelle, "Libellé de la matière", {'label_attr': {'class': ''}}) }}
							{{ form_errors(form.libelle) }}
						</label>
						<div class="">
							{{ form_widget(form.libelle, {'attr': {'class': ''}}) }}
						</div>
					</div>
				</div>
		    </div>

		    {{ form_widget(form.update, {'attr': {'class': 'ui primary button'}}) }}
	  	{{ form_end(form) }}
	</div>

{% endblock %}
