{# Accueil pour la liaison des classes et des matières #}
{% extends 'ISIBundle:Etude:index.html.twig' %}

{% block pageTitle %}
  Liaison de classes et matières
{% endblock %}

{% set grp = '' %}
{% if regime is same as ('A') %}
    {% set grp = 'Academie' %}
{% else %}
    {% set grp = 'Formation' %}
{% endif %}
{% block head %}
    <div class="ui {{ dir2 }} aligned segment">
        <h1 class="ui header">
            <i class="student icon"></i>{{ 'PROGRESSION : '|trans }} {{ grp }}
        </h1>
    </div>
{% endblock %}


{% block content %}
<h3>{{ 'Affichage des niveaux pour liaison avec matières'|trans }}</h3>
{% if niveaux is empty %}
  <p>Pas de classes pour le moment</p>
{% else %}
  <div class="ui cards">
      {% for niveau in niveaux %}
        {% if niveau.groupeFormation.referenceGrp is same as(regime) %}
          <div class="card">
            <div class="content">
              <img class="right floated mini ui image" src="/markaz/web/images/logoISI-x.png">
              <div class="header">{{ niveau.libelleFr }}</div>
              <div class="meta">{{ niveau.groupeFormation.referenceGrp }} </div>
              <div class="description">
                <div class="ui link list">
                  <a href="{{path('etude_liste_niveaux_matieres', {'as': asec, 'niveauId': niveau.id, 'regime': regime})}}">
                  {{ 'Cliquez ici pour voir les matières dispensées dans ce niveau de formation'|trans }}</a>
                </div>
              </div>
            </div>
            <div class="extra content">
              <div class="ui buttons">
                <a href="{{path('etude_lier_niveaux_matieres', {'as': asec, 'niveauId': niveau.id, 'regime': regime})}}">
                  <div class="ui basic green button">{{ 'Ajouter des matières'|trans }}</div>
                </a>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
  </div>
{% endif %}
{% endblock %}
