{% extends "ISIBundle:Etude:index.html.twig" %}

{% block title %}
    Etude | Page d'accueil
{% endblock %}

{% block contextual_menu %}  
    <div class="header">{{ 'Programme général'|trans }}</div>
    <a class="item" href="{{ path('etude_niveaux_matieres', {'as': asec, 'annexeId': annexe.id, 'regime': regime}) }}">{{ 'Contenu de formation'|trans }}</a>
{% endblock %}



{% block section %}
    {% set grp = '' %}
    {% if regime is same as ('A') %}
        {% set grp = 'Academie' %}
    {% else %}
        {% set grp = 'Formation' %}
    {% endif %}
    <i class="student icon"></i>{{ 'Progression : '|trans }} {{ grp }}
{% endblock %}


{% block body %}
{% endblock %}