{% extends "ISIBundle:Internat:index.html.twig" %}

{% block title %}
    Gestion des chambres
{% endblock %}

{% block corps %}
    <div class="ui container">
        <h3>Accueil de la gestion des chambres</h3>
        <a href="{{ path('internat_add_chambre', {'as': asec}) }}" class="ui positive button" type="button" name="button">{{ 'Ajouter une chambre'|trans }}</a>
        <br />
        <table id="table1" cellspacing="0" class="mytable filterable ui very basic table">
          <thead>
            <tr>
              <th align="center">{{ 'N°'|trans }}</th>
              <th>{{ 'Libellé chambre'|trans }}</th>
              <th>{{ 'Genre'|trans }}</th>
              <th>{{ 'Nombre de places'|trans }}</th>
              <th>{{ 'Bâtiment'|trans }}</th>
              <th>{{ 'Nombre de places disponibles'|trans }}</th>
            </tr>
          </thead>
          <tbody>
            {% set n = 0 %}
            {% for chambre in chambres %}
              {% set n = n + 1 %}
              {% set color = "" %}
              {% if (n % 2) == 0 %}
                  {% set color = "WhiteSmoke" %}
              {% endif %}
              <tr bgcolor="{{ color }}">
                <td>{{ n }}</td>
                <td>{{ chambre.libelle }}</td>
                <td>
                  {% if chambre.genre == 1 %}
                    Garçon
                  {% else %}
                    Fille
                  {% endif %}
                </td>
                <td>{{ chambre.nombreDePlaces }}</td>
                <td>{{ chambre.batiment.nom }}</td>
                <td>{{ chambre.placesDisponibles }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}
