{% extends "ISIBundle:Internat:index.html.twig" %}

{% block title %}
    Gestion des chambres
{% endblock %}


{% block section %}
  <i class="student icon"></i>{{ 'Gestion des chambres'|trans }}
{% endblock %}


{% block body %}
  <h3>Accueil de la gestion des chambres</h3>
  <a href="{{ path('internat_add_chambre', {'as': asec, annexeId: annexe.id}) }}" class="ui positive button" type="button" name="button">{{ 'Ajouter une chambre'|trans }}</a>
  <br />
  <table id="chambres" cellspacing="0" class="mytable filterable ui very basic table">
    <thead>
      <tr>
        <th align="center">{{ 'N°'|trans }}</th>
        <th>{{ 'Bâtiment'|trans }}</th>
        <th>{{ 'Responsable'|trans }}</th>
        <th>{{ 'Libellé chambre'|trans }}</th>
        <th>{{ 'Genre'|trans }}</th>
        <th>{{ 'Nombre de places'|trans }}</th>
        <th>{{ 'Nombre de places disponibles'|trans }}</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% set n = 0 %}
      {% for chambre in chambres %}
        {% set n = n + 1 %}
        {% set color = "" %}
        {% if (n % 2) == 0 %}
            {% set color = "WhiteSmoke" %}
        {% endif %}
        <tr bgcolor="{{ color }}">
          <td>{{ n }}</td>
          <td>{{ chambre.batiment.nom }}</td>
          <td>{{ chambre.batiment.responsable }}</td>
          <td>{{ chambre.libelle }}</td>
          <td>
            {% if chambre.genre == 1 %}
              Garçon
            {% else %}
              Fille
            {% endif %}
          </td>
          <td>{{ chambre.nombreDePlaces }}</td>
          <td>{{ chambre.placesDisponibles }}</td>
          <td>
            <a href="{{ path('internat_edit_chambre', {'as': asec, 'annexeId': annexe.id, 'chambreId':chambre.getId}) }}"><i class="edit circle icon"></i></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}


{% block javascripts %}
  <script src="{{ asset('TableFilter/dist/tablefilter/tablefilter.js') }}"></script>
  <script src="{{ asset('Highcharts-6.1.0/code/highcharts.js') }}"></script>
  <script src="{{ asset('DataTables/datatables.min.js') }}"></script>
  <script data-config>
    var filtersConfig = {
      base_path: 'TableFilter/dist/tablefilter/',
      col_0: "none",
      col_2: 'select',
      col_4: 'select',
      col_7: 'none',
      alternate_rows: true,
      rows_counter: true,
      btn_reset: true,
      loader: true,
      status_bar: true,
      mark_active_columns: true,
      highlight_keywords: true,
      no_results_message: true,
      col_types: [
        'number', 'string', 'string',
        'string', 'string', 'string',
        'string', 'none'
      ],
      col_widths: [
      ],
      extensions: [{ name: 'sort' }]
    };

    var tf = new TableFilter('chambres', filtersConfig);
    tf.init();
  </script>
{% endblock %}