{# Fiche de renseignement d'un élève #}
{% extends 'ISIBundle:Internat:index.html.twig' %}

{% block title %}
  Fiche de renseignements - {{eleve.nomFr}} {{eleve.pnomFr}}
{% endblock %}

{% block corps %}

<div class="ui container">
  <h2 class="ui horizontal divider header">
    <i class="tag icon"></i>
    {{ 'Identification personnelle'|trans }}
  </h2>
  <center><h2><font color="red">{{ eleve.matricule }}</font></h2></center><br>
  <div class="ui two column doubling stackable grid container">
    <div class="column">
      <table>
        <tr>
          <td><strong>{{ 'Nom'|trans }} : </strong></td>
          <td>{{ eleve.nomFr }}</td>
        </tr>
        <tr>
          <td><strong>{{ 'Prénom'|trans }} : </strong></td>
          <td>{{ eleve.pnomFr }}</td>
        </tr>
        <tr>
          <td><strong>{{ 'Sexe'|trans }} : </strong></td>
          {% if eleve.sexeFr == 1 %}
            <td>{{ 'Homme'|trans }}</td>
          {% else %}
            <td>{{ 'Femme'|trans }}</td>
          {% endif %}
        </tr>
        <tr>
          <td><strong>{{ 'Date de naissance'|trans }} : </strong></td>
          <td>{{ eleve.dateNaissance|date("d-m-Y") }} à {{ eleve.lieuNaissance }} </td>
        </tr>
        <tr>
          <td><strong>{{ 'Référence extrait de naissance'|trans }} : </strong></td>
          <td>{{ eleve.refExtrait }} </td>
        </tr>
      </table>
    </div>
    <div class="column">
      <table>
        <tr>
          <td><strong>{{ 'Nationalité'|trans }} : </strong></td>
          <td>{{ eleve.nationalite }}</td>
        </tr>
        <tr>
          <td><strong>{{ 'Résidence'|trans }} : </strong></td>
          <td>{{ eleve.commune }} {{ eleve.residence }}</td>
        </tr>
        <tr>
          <td><strong>{{ 'Etablissement d\'origine'|trans }} : </strong></td>
          <td>{{ eleve.etsOrigine }}</td>
        </tr>
        <tr>
          <td><strong>{{ 'Contact'|trans }} : </strong></td>
          <td>{{ eleve.contact }} </td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>

  <h2 class="ui horizontal divider header">
    <i class="bar chart icon"></i>
    {{ 'Identification des parents'|trans }}
  </h2>
  <div class="ui two column stackable doubling grid container">
    <div class="column">
      <table>
        <tr>
          <th colspan="2">{{ 'Père'|trans }}</th>
        </tr>
        <tr>
          <td><strong>{{ 'Nom'|trans }}</strong></td>
          <td>{{ eleve.nomPere }}</td>
        </tr>
        <tr>
          <td><strong>{{ 'Contact'|trans }}</strong></td>
          <td>{{ eleve.contactPere }}</td>
        </tr>
        <tr>
          <td><strong>{{ 'Profession'|trans }}</strong></td>
          <td>{{ eleve.professionPere }}</td>
        </tr>
        <tr>
          <td><strong>{{ 'Situation'|trans }}</strong></td>
          {% if eleve.situationPere == 1 %}
            <td>{{ 'Vivant'|trans }}</td>
          {% else %}
            <td>{{ 'Décédé'|trans }}</td>
          {% endif %}
        </tr>
      </table>
    </div>
    <div class="column">
      <table>
        <tr>
          <th colspan="2">{{ 'Mère'|trans }}</th>
        </tr>
        <tr>
          <td><strong>{{ 'Nom'|trans }}</strong></td>
          <td>{{ eleve.nomMere }}</td>
        </tr>
        <tr>
          <td><strong>{{ 'Contact'|trans }}</strong></td>
          <td>{{ eleve.contactMere }}</td>
        </tr>
        <tr>
          <td><strong>{{ 'Profession'|trans }}</strong></td>
          <td>{{ eleve.professionMere }}</td>
        </tr>
        <tr>
          <td><strong>{{ 'Situation'|trans }}</strong></td>
          {% if eleve.situationMere == 1 %}
            <td>{{ 'Vivante'|trans }}</td>
          {% else %}
            <td>{{ 'Décédée'|trans }}</td>
          {% endif %}
        </tr>
      </table>
    </div>
  </div>
  {% if eleve.nomTuteur is not empty %}
  <h2 class="ui horizontal divider header">
    <i class="bar chart icon"></i>
    {{ 'Identification du tuteur'|trans }}
  </h2>
  <div>
    <table align="center" width="25%">
        <tr>
          <td><strong>{{ 'Nom'|trans }}</strong></td>
          <td>{{ eleve.nomTuteur }}</td>
        </tr>
        <tr>
          <td><strong>{{ 'Contact'|trans }}</strong></td>
          <td>{{ eleve.contactTuteur }}</td>
        </tr>
        <tr>
          <td><strong>{{ 'Profession'|trans }}</strong></td>
          <td>{{ eleve.professionTuteur }}</td>
        </tr>
      </table>
  </div>
  {% endif %}

  <h2 class="ui horizontal divider header">
    <i class="student icon"></i>
    {{ ''|trans }}Scolarité
  </h2>
  {% if fq is empty %}
    <center>{{ eleve.nomFr }} {{ eleve.pnomFr }} {{ 'n\'est pas encore inscrit(e)'|trans }}</center>
  {% else %}
    <div>
      <table align="center" width="25%">
        <tr>
          <td><strong>{{ 'Classe'|trans }} : </strong></td>
          <td>{{ fq.classe.niveau.libelleFr }} - {{ fq.classe.libelleClasseFr }}</td>
        </tr>
        <tr>
          <td><strong>{{ 'Contact'|trans }}</strong></td>
          <td></td>
        </tr>
        <tr>
          <td><strong>{{ 'Profession'|trans }}</strong></td>
          <td></td>
        </tr>
      </table>
    </div>
  {% endif %}

  <h2 class="ui horizontal divider header">
    <i class="student icon"></i>
    Conduite
  </h2>
  {% if problemes is empty %}
      <div class="">
        Rien A Signaler
      </div>
  {% else %}
    <div class="ui list">
      {% for probleme in problemes %}
        <div class="item">
          <i class="map marker icon"></i>
          <div class="content">
            <a class="header">{{ probleme.appreciation }} </a>
            <div class="description">{{ probleme.description }} </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>

{% endblock %}
