{# Accueil pour l'édition des listes de classe' #}

{% extends 'ISIBundle:Internat:index.html.twig' %}

{% block title %}
  Info élève à interner
{% endblock %}

{% block body %}
  <div class="ui container">
    <center>
      <form class="ui form" action="" method="post">
        <button class="positive ui button">
          <i class="plus icon"></i>
          {{ 'Interner'|trans }} {{ eleve.nomFr }} {{ eleve.pnomFr }}
        </button><br /><br />
        <div class="two fields">
          <div class="field">
            <label for="chambre">{{ 'Chambre'|trans }}</label>
            <select class="" id="chambre" name="chambre">
              <option value="">{{ 'Choisir une chambre pour l\'élève'|trans }}</option>
              {% for chambre in chambres %}
                <option value="{{ chambre.id }}">{{ chambre.libelle }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="field">
            <label for="dateI">{{ 'Date d\'inscription à l\'internat'|trans }}</label>
            <input class="" id="dateI" name="dateI" value="{{ 'now'|date('Y-m-d') }}" type="date">
          </div>
        </div>
      </form>
    </center><br>
    <div>
      <h2 class="ui horizontal divider header">
        <i class="tag icon"></i>
        {{ 'Identification personnelle'|trans }}
      </h2>
      <center>
        <h2>
          <font color="red">{{ eleve.matricule }}</font>
        </h2>
      </center>
      <br>
      <div class="ui two column doubling stackable grid container">
        <div class="column">
          <table>
            <tr>
              <td>
                <strong>{{ 'Nom'|trans }} : </strong>
              </td>
              <td>{{ eleve.nomFr }}</td>
            </tr>
            <tr>
              <td>
                <strong>{{ 'Prénom'|trans }} : </strong>
              </td>
              <td>{{ eleve.pnomFr }}</td>
            </tr>
            <tr>
              <td>
                <strong>{{ 'Sexe'|trans }} : </strong>
              </td>
              {% if eleve.sexe == 1 %}
              <td>{{ 'Homme'|trans }}</td>
              {% else %}
              <td>{{ 'Femme'|trans }}</td>
              {% endif %}
            </tr>
            <tr>
              <td>
                <strong>{{ 'Date de naissance'|trans }} : </strong>
              </td>
              <td>{{ eleve.dateNaissance|date("d-m-Y") }} à {{ eleve.lieuNaissance }} </td>
            </tr>
            <tr>
              <td>
                <strong>{{ 'Référence extrait de naissance'|trans }} : </strong>
              </td>
              <td>{{ eleve.refExtrait }} </td>
            </tr>
          </table>
        </div>
        <div class="column">
          <table>
            <tr>
              <td>
                <strong>{{ 'Nationalité'|trans }} : </strong>
              </td>
              <td>{{ eleve.nationalite }}</td>
            </tr>
            <tr>
              <td>
                <strong>{{ 'Résidence'|trans }} : </strong>
              </td>
              <td>{{ eleve.commune }} {{ eleve.residence }}</td>
            </tr>
            <tr>
              <td>
                <strong>{{ 'Etablissement d\'origine'|trans }} : </strong>
              </td>
              <td>{{ eleve.etsOrigine }}</td>
            </tr>
            <tr>
              <td>
                <strong>{{ 'Contact'|trans }} : </strong>
              </td>
              <td>{{ eleve.contact }} </td>
            </tr>
            <tr>
              <td>
                <strong></strong>
              </td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
