{% extends 'ISIBundle:Disposition:index.html.twig'%}


{% block stylesheets %}
{% endblock %}


{% block title 'Edition de disposition de classe dans une salle' %}



{% block body %}
  <h2>Disposition de classe dans la salle : {{ salle.nom }} - {{ salle.batiment.nom }} - {{ salle.localisation }}</h2>
  <div>
    <form action="" method="post" class="ui form">
      <div class="three fields">
        <div class="field">
          <label for="classeA">Classe Académie</label>
          <select class="ui fluid dropdown" name="classeA" id="classeA">
              <option value="">{{ 'Sélectionner une classe'|trans }}</option>
              {% for cl in classesA %}
                {% if academie|length != 0 and academie.classe == cl %}
                  <option value="{{ cl.id }}" selected>{{ cl.libelleFr }}</option>
                {% else %}
                  <option value="{{ cl.id }}">{{ cl.libelleFr }}</option>
                {% endif %}
              {% endfor %}
          </select>
        </div>
        <div class="field">
          <label for="classeF">Classe Centre de formation</label>
          <select class="ui fluid dropdown" name="classeF" id="classeF">
              <option value="">{{ 'Sélectionner une classe'|trans }}</option>
              {% for cl in classesF %}
                {% if centreformation|length != 0 and centreformation.classe == cl %}
                  <option value="{{ cl.id }}" selected>{{ cl.libelleFr }}</option>
                {% else %}
                  <option value="{{ cl.id }}">{{ cl.libelleFr }}</option>
                {% endif %}
              {% endfor %}
          </select>
        </div>
      </div>
      <button type="submit" class="ui positive button">Valider</button>
    </form>
  </div>
{% endblock %}


{% block javascripts %}
{% endblock %}
