{% extends "ISIBundle:Disposition:index.html.twig" %}
{# {% extends "ISIBundle::layout.html.twig" %} #}

{% block title %}
  Gestion des salles
{% endblock %}

{% block contextual_menu %}
  {# {% include('ISIBundle::contextual-menu.html.twig') %} #}
{% endblock %}


{% block section %}
  <i class="users icon"></i>{{ 'Disposition en salle de classe'|trans }}
{% endblock %}


{% block body %}
  <h2>Salles enregistrés</h2>
  <div>
    <a href="{{ path('salle_add', {'as' : asec, 'annexeId': annexe.id}) }}" class="ui primary button">Ajouter une salle</a>
  </div>
  <table class="" id="salles">
    <thead>
      <tr>
        <th>N°</th>
        <th>Nom</th>
        <th>Batiment</th>
        <th>Localisation</th>
        <th>Nombre de place</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% set i = 0 %}
      {% for salle in salles %}
        {% set i = i + 1 %}
        <tr>
          <td>{{ i }}</td>
          <td>{{ salle.nom }}</td>
          <td>{{ salle.batiment.nom }}</td>
          <td>{{ salle.localisation }}</td>
          <td>{{ salle.nombrePlace }}</td>
          <td>
            <a href="{{ path('salle_edit', {as: asec, 'annexeId': annexe.id, id: salle.id}) }}" data-tooltip="Editer les informations de la salle"><i class="edit icon"></i></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}



{% block javascripts %}
  <script src="{{ asset('TableFilter/dist/tablefilter/tablefilter.js') }}"></script>
  <script data-config>
    var filtersConfig = {
      base_path: 'TableFilter/dist/tablefilter/',
      col_0: 'none',
      col_2: 'select',
      col_3: 'select',
      col_5: 'none',
      alternate_rows: true,
      rows_counter: true,
      btn_reset: true,
      loader: true,
      status_bar: true,
      mark_active_columns: true,
      highlight_keywords: true,
      no_results_message: true,
      col_types: [
        'number', 'string', 'string',
        'string', 'string', 'string',
      ],
      col_widths: [
        // '25px', '330px', '270px'
      ],
      extensions: [{ name: 'sort' }]
    };

    var tf = new TableFilter('salles', filtersConfig);
    tf.init();
  </script>
{% endblock %}
