{% extends "ORGBundle::layout.html.twig" %}

{% block title %}
  Index Activités externes
{% endblock %}

{% block contextual_menu %}
  {% if is_granted('ROLE_SUPER_ADMIN') %}
      {{ include("ISIBundle::contextual-menu-panel-admin.html.twig") }}
  {% elseif is_granted('ROLE_ADMIN_ANNEXE') %}
      <div class="ui vertical menu">
        <div class="item">
          <div class="header">{{ 'Autres modules'|trans }}</div>
          <div class="menu">
            {# Cette partie permet de voir la liste de tous les élèves de la l'institut #}
            <a class="item" href="{{path('isi_home_scolarite')}}">{{ 'Scolarité'|trans }}</a>
            <a class="item" href="{{path('etude_home', {'as': asec})}}">{{ 'Programmes d\'étude'|trans }}</a>
          </div>
        </div>
      </div>
  {% else %}
    {{ include("ISIBundle::contextual-menu-user.html.twig") }}
  {% endif %}
{% endblock %}



{% block notification %}
  {% for message in app.session.flashbag.get('error') %}
  <div class="ui red message">
    <div class="header">{{ 'Attention'|trans }} !!! </div>
    <ul class="list">
      <li>{{ message|raw }}.</li>
    </ul>
  </div>
  {% endfor %}
  {% for message in app.session.flashbag.get('info') %}
  <div class="ui green message">
    <div class="header">{{ 'Notification'|trans }}: </div>
    <ul class="list">
      <li>{{ message|raw }}.</li>
    </ul>
  </div>
  {% endfor %}
{% endblock %}



{% block titre_page %}
  <i class="users icon"></i>{{ 'Tournées'|trans }}
{% endblock %}



{% block corps %}
    <a href="{{ path('tournee.nationale.add', {as: asec}) }}" class="positive ui button">
      <i class="plus icon"></i>
      {{ 'Enregistrer une tournée nationale'|trans }}
    </a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{{ path('tournee.internationale.add', {as: asec}) }}" class="teal ui button">
      <i class="plus icon"></i>
      {{ 'Enregistrer une tournée internationale'|trans }}
    </a><br><br>
    <table class="ui very basic compact table">
      <thead>
        <tr>
          <th>#</th>
          <th>Début</th>
          <th>Fin</th>
          <th>Destinations</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% set i = 0 %}
        {% for tournee in tournees %}
          {% set i = i + 1 %}
          <tr title="{{ tournee.commentaire }}">
            <td>{{ i }}</td>
            <td>{{ tournee.debut|date('d-m-Y') }}</td>
            <td>{{ tournee.fin|date('d-m-Y') }}</td>
            <td>
              {% for item in tournee.communes %}
                <li>{{ item.commune.nom }}</li>
              {% endfor %}
            </td>
            <td>
              <a href="{{ path('tournee.nationale.edit', {as: asec, id: tournee.id}) }}" data-tooltip="Editer tournée"><i class="edit icon"></i></a>
              <a href="{{ path('tournee.nationale.info', {as: asec, id: tournee.id}) }}" data-tooltip="Informations tournée"><i class="info icon"></i></a>
              <a href="{{ path('destination.tournee.add.activite', {as: asec, id: tournee.id}) }}" data-tooltip="Ajouter une activité"><i class="plus icon"></i></a>
              <a href="{{ path('destination.tournee.remove.activite', {as: asec, id: tournee.id}) }}" data-tooltip="Retirer une commune"><i class="minus red icon"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(tournees) }}
    </div>
{% endblock %}
