{% extends "ORGBundle::layout.html.twig" %}

{% block title %}
  Index Activités externes
{% endblock %}



{% block contextual_menu %}
    {{ include("ORGBundle::contextual-menu-tournee.html.twig") }}
{% endblock %}



{% block notification %}
  {% for message in app.session.flashbag.get('error') %}
  <div class="ui red message">
    <div class="header">{{ 'Attention'|trans }} !!! </div>
    <ul class="list">
      <li>{{ message|raw }}.</li>
    </ul>
  </div>
  {% endfor %}
  {% for message in app.session.flashbag.get('info') %}
  <div class="ui green message">
    <div class="header">{{ 'Notification'|trans }}: </div>
    <ul class="list">
      <li>{{ message|raw }}.</li>
    </ul>
  </div>
  {% endfor %}
{% endblock %}



{% block titre_page %}
  <i class="plane icon"></i>{{ 'Tournées'|trans }}
{% endblock %}



{% block corps %}
    <a href="{{ path('tournee.add', {as: asec, nationale: 1}) }}" class="positive ui button">
      <i class="plus icon"></i>
      {{ 'Enregistrer une tournée nationale'|trans }}
    </a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{{ path('tournee.add', {as: asec, nationale: 0}) }}" class="teal ui button">
      <i class="plus icon"></i>
      {{ 'Enregistrer une tournée internationale'|trans }}
    </a><br><br>
    <table class="ui very basic compact table">
      <thead>
        <tr>
          <th>#</th>
          <th>Début</th>
          <th>Fin</th>
          <th>Destinations</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% set i = 0 %}
        {% for tournee in tournees %}
          {% set i = i + 1 %}
          {% set bold = '' %}
          {% if tournee.nationale == false %}
            {% set bold = 'warning' %}
          {% endif %}
          <tr title="{{ tournee.commentaire }}" class="{{ bold }}">
            <td>{{ i }}</td>
            <td>{{ tournee.debut|date('d-m-Y') }}</td>
            <td>{{ tournee.fin|date('d-m-Y') }}</td>
            <td>
              {% if tournee.nationale == true %}
                {% for item in tournee.communes %}
                  <li>{{ item.commune.nom }}</li>
                {% endfor %}
              {% else %}
                {% for item in tournee.pays %}
                  <li>{{ item.pays.nom }}</li>
                {% endfor %}
              {% endif %}
            </td>
            <td>
              <a href="{{ path('tournee.edit', {as: asec, id: tournee.id}) }}" data-tooltip="Editer tournée"><i class="edit icon"></i></a>
              {% if tournee.nationale == true %}
                <a href="{{ path('tournee.info', {as: asec, id: tournee.id}) }}" data-tooltip="Informations tournée"><i class="info icon"></i></a>
                <a href="{{ path('destination.tournee.add.activite', {as: asec, id: tournee.id}) }}" data-tooltip="Ajouter une activité"><i class="plus icon"></i></a>
                <a href="{{ path('destination.tournee.remove.activite', {as: asec, id: tournee.id}) }}" data-tooltip="Retirer une commune"><i class="minus red icon"></i></a>
              {% else %}
                <a href="{{ path('tournee.internationale.info', {as: asec, id: tournee.id}) }}" data-tooltip="Informations tournée"><i class="info icon"></i></a>
                <a href="{{ path('destination.tournee.internationale.add.activite', {as: asec, id: tournee.id}) }}" data-tooltip="Ajouter une activité"><i class="plus icon"></i></a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(tournees) }}
    </div>
{% endblock %}
