{% extends 'ORGBundle:Default:index.html.twig'%}


{% block title %}
  Destinations de la tournée du {{ tournee.debut|date('d-m-Y') }} au {{ tournee.fin|date('d-m-Y') }}
{% endblock %}


{% block section %}
  <i class="plane icon"></i>{{ 'Tournées'|trans }}
{% endblock %}


{% block body %}
    <h2>Destinations de la du {{ tournee.debut|date('d-m-Y') }} au {{ tournee.fin|date('d-m-Y') }}</h2>
    <div class="ui three cards">
      {% for item in tournee.pays %}
      <div class="card">
        <div class="content">
          <img class="right floated mini ui image" src="{{ asset('images/logoISI-x.png') }}">
          <div class="header">{{ item.pays.nom }}</div>
          <div class="description">
            <div class="ui link list">

            </div>
          </div>
        </div>
        <div class="extra content">
          <span>
            <a href="{{ path('activite.tournee.internationale.add', {as: asec, 'annexeId': annexe.id, id: tournee.id, paysId: item.pays.id}) }}" class="ui teal button" data-tooltip="Ajouter une activité">
              <i class="plus icon"></i> activité
            </a>
          </span>
          <span>
            <a href="{{ path('converti.add', {as: asec, 'annexeId': annexe.id, tourneeId: tournee.id, paysId: item.pays.id}) }}" class="ui orange button" data-tooltip="Ajouter un(e) converti(e)">
              <i class="plus icon"></i> converti(e)
            </a>
          </span>
        </div>
      </div>
      {% endfor %}
    </div>
{% endblock %}
