{% extends 'ORGBundle:Default:index.html.twig'%}



{% block stylesheets %}
{% endblock %}


{% block title %}
  Edition d'une activité pour la tournée du {{ tournee.debut|date('d-m-Y') }} au {{ tournee.fin|date('d-m-Y') }} à {{ commune.nom }}
{% endblock %}



{% block notification %}
  {% for message in app.session.flashbag.get('error') %}
  <div class="ui red message">
    <div class="header">{{ 'Attention'|trans }} !!! </div>
    <ul class="list">
      <li>{{ message|raw }}.</li>
    </ul>
  </div>
  {% endfor %}
  {% for message in app.session.flashbag.get('info') %}
  <div class="ui green message">
    <div class="header">{{ 'Notification'|trans }}: </div>
    <ul class="list">
      <li>{{ message|raw }}.</li>
    </ul>
  </div>
  {% endfor %}
{% endblock %}


{% block section %}
  <i class="plane icon"></i>{{ 'Tournées'|trans }}
{% endblock %}


{% block body %}
<h2>
  {% trans with {'%commune%': commune.nom, '%debut%': tournee.debut|date('d-m-Y'), '%fin%': tournee.fin|date('d-m-Y')} from 'app' %}
    Edition d'une activité dans la commune de %commune% pour la tournée du %debut% au %fin%
  {% endtrans %}
</h2>
{{ include('ORGBundle:Activite:_activite-form.html.twig') }}

{% endblock %}


{% block javascript %}
{% endblock %}
