{% extends "ORGBundle::layout.html.twig" %}

{% block title %}
  Suppression de destinations de la tournée du {{ tournee.debut|date('d-m-Y') }} au {{ tournee.fin|date('d-m-Y') }}
{% endblock %}



{% block notification %}
  {% for message in app.session.flashbag.get('error') %}
  <div class="ui red message">
    <div class="header">{{ 'Attention'|trans }} !!! </div>
    <ul class="list">
      <li>{{ message|raw }}.</li>
    </ul>
  </div>
  {% endfor %}
  {% for message in app.session.flashbag.get('info') %}
  <div class="ui green message">
    <div class="header">{{ 'Notification'|trans }}: </div>
    <ul class="list">
      <li>{{ message|raw }}.</li>
    </ul>
  </div>
  {% endfor %}
{% endblock %}



{% block corps %}
    <h2>Suppression de destinations de la du {{ tournee.debut|date('d-m-Y') }} au {{ tournee.fin|date('d-m-Y') }}</h2>
    <table class="ui very basic compact table">
      <thead>
        <tr>
          <th>#</th>
          <th>Nom des communes</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% set i = 0 %}
        {% for item in tournee.communes %}
          {% set i = i + 1 %}
          <tr>
            <td>{{ i }}</td>
            <td>{{ item.commune.nom }}</td>
            <td>
              <form method="post" action="{{ path('destination.tournee.remove.action', {as: asec, id: item.id, tourneeId: tournee.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes-vous vraiment sûrs de vouloir supprimer cette commune ?')">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
                <button class="ui small negative button">Supprimer</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
{% endblock %}
