<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}Connexion{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {# <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> #}
  <!-- <script src="main.js"></script> -->
  {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('semantic/ui/dist/semantic.min.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/mdb.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
  {% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  <style>
    .mon-alignement{
      width: 50%;
      margin: 0 auto;
    }
  </style>
</head>
  <body>
    <br /><br /><br />
    <div>
      {# <center>{{ 'Connexion à Markaz'|trans }} </center> #}
      <div class="ui raised very padded text container segment test">
        {% if error %}
          <div class="ui error message">
            <p>{{ error.messageKey }}</p>
          </div>
        {% endif %} {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
        <form class="ui form" action="{{ path('fos_user_security_check') }}" method="post">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Nom d'utilisateur"/>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" id="password" name="_password" placeholder="Mot de passe"/>
            </div>
          </div>
          <input type="submit" id="_submit" name="_submit" value="Connexion" class="ui positive button" />
          <input type="reset" value="Annuler" class="ui clear button" />
        </form>
      </div>
    </div>
    {# <div class="container-fluid">
    <!-- Material form login -->
      <div class="card">

        <h5 class="card-header info-color white-text text-center py-4">
          <strong>Sign in</strong>
        </h5>

        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">

          <!-- Form -->
          <form class="text-center" style="color: #757575;">

            <!-- Email -->
            <div class="md-form">
              <input type="email" id="materialLoginFormEmail" class="form-control">
              <label for="materialLoginFormEmail">E-mail</label>
            </div>

            <!-- Password -->
            <div class="md-form">
              <input type="password" id="materialLoginFormPassword" class="form-control">
              <label for="materialLoginFormPassword">Password</label>
            </div>

            <div class="d-flex justify-content-around">
              <div>
                <!-- Remember me -->
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
                  <label class="form-check-label" for="materialLoginFormRemember">Remember me</label>
                </div>
              </div>
              <div>
                <!-- Forgot password -->
                <a href="">Forgot password?</a>
              </div>
            </div>

            <!-- Sign in button -->
            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>

            <!-- Register -->
            <p>Not a member?
              <a href="">Register</a>
            </p>

            <!-- Social login -->
            <p>or sign in with:</p>
            <a type="button" class="btn-floating btn-fb btn-sm">
              <i class="fa fa-facebook"></i>
            </a>
            <a type="button" class="btn-floating btn-tw btn-sm">
              <i class="fa fa-twitter"></i>
            </a>
            <a type="button" class="btn-floating btn-li btn-sm">
              <i class="fa fa-linkedin"></i>
            </a>
            <a type="button" class="btn-floating btn-git btn-sm">
              <i class="fa fa-github"></i>
            </a>

          </form>
          <!-- Form -->

        </div>

      </div>
      <!-- Material form login -->
      </div> #}
  </body>
  <script src="{{ asset('js/velocity.min.js') }}"></script>
  <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{{ asset('js/mdb/popper.min.js') }}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{{ asset('js/mdb/bootstrap.min.js') }}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{{ asset('js/mdb/mdb.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/mdb/jquery-3.3.1.min.js') }}"></script>
  <script>
    $("document").ready(function(){
      console.log("C'est bon")
      $('.test').velocity("callout.bounce")
    });
    $('.add.example .ui.form')
        .form({
          username: ['empty', 'minLength[5]']
        });

    $('.add.example .ui.positive.button')
        .on('click', function () {
          $('.add.example .ui.form')
            // adding longform
            .form('add rule', 'gender', {
              rules: [
                {
                  type: 'empty',
                  prompt: 'Entering your gender is necessary'
                }
              ]
            })
            // adding shorthand
            .form('add rule', 'password', ['empty', 'minLength[5]'])
            ;
        });
    $('.add.example .ui.negative.button')
        .on('click', function () {
          $('.add.example .ui.form')
            // removing multiple at once
            .form('remove fields', ['gender', 'password'])
            ;
        });
  </script>
</html>
