{% extends "ORGBundle::layout.html.twig" %}

{% block title %}
  Gestion des mosquées
{% endblock %}

{% block contextual_menu %}
  {% include('ORGBundle::contextual-menu.html.twig') %}
{% endblock %}


{% block titre_page %}
  <i class="location arrow icon"></i>{{ 'Mosquées'|trans }}
{% endblock %}


{% block notification %}
  {% for message in app.session.flashbag.get('error') %}
  <div class="ui red message">
    <div class="header">{{ 'Attention'|trans }} !!! </div>
    <ul class="list">
      <li>{{ message }}.</li>
    </ul>
  </div>
  {% endfor %}
  {% for message in app.session.flashbag.get('info') %}
  <div class="ui green message">
    <div class="header">{{ 'Notification'|trans }}: </div>
    <ul class="list">
      <li>{{ message }}.</li>
    </ul>
  </div>
  {% endfor %}
{% endblock %}


{% block body %}
  <h2>Mosquées enregistrées</h2>
  <table width="100%" id="mosquees">
    <thead>
      <tr>
        <th>N°</th>
        <th>Nom</th>
        <th>Commune</th>
        <th>Quartier</th>
        <th>Imam</th>
        <th>Responsable</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% set i = 0 %}
      {% for mosquee in mosquees %}
        {% set i = i + 1 %}
        <tr>
          <td>{{ i }}</td>
          <td>{{ mosquee.nom }}</td>
          <td>{{ mosquee.commune.nom }}</td>
          <td>{{ mosquee.quartier }}</td>
          <td>{{ mosquee.imam.nom }} {{ mosquee.imam.nom }} ({{ mosquee.imam.numero }})</td>
          <td>
            {% if mosquee.responsable is empty %}
              Pas de responsable
            {% else %}
              {{ mosquee.responsable }} ({{ mosquee.numeroResponsable }})
            {% endif %}
          </td>
          <td>
            <a href="{{ path('mosquee.edit', {as: asec, id: mosquee.id}) }}" data-tooltip="Editer la mosquée"><i class="edit icon"></i></a>
            <a href="{{ path('mosquee.info', {as: asec, id: mosquee.id}) }}" data-tooltip="Infos de la mosquée"><i class="info icon"></i></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}


{% block javascript %}
  <script src="{{ asset('TableFilter/dist/tablefilter/tablefilter.js') }}"></script>
  <script data-config>
    var filtersConfig = {
      base_path: '/markaz/web/TableFilter/dist/tablefilter/',
      col_0: 'none',
      col_2: 'select',
      col_6: 'none',
      alternate_rows: true,
      rows_counter: true,
      btn_reset: true,
      loader: true,
      status_bar: true,
      mark_active_columns: true,
      highlight_keywords: true,
      no_results_message: true,
      col_types: [
        'number', 'string', 'string',
        'string', 'string', 'string',
      ],
      col_widths: [
        // '25px', '330px', '270px'
      ],
      extensions: [{ name: 'sort' }]
    };

    var tf = new TableFilter('mosquees', filtersConfig);
    tf.init();
  </script>
{% endblock %}
