{% extends "ISIBundle:Programme:index.html.twig" %}

{% block title %}
  Edition de programme - {{ programme.description }}
{% endblock %}


{% block body %}
  <h2>{{ 'Edition d\'un nouveau programme '|trans }}- {{ programme.description }}</h2>
  <div class="form-group">
    <form action="" method="post" class="ui form">
      <div class="fields">
        <div class="eight wide field">
          <label for="description">Description</label>
          <input type="text" name="description" id="description" value="{{ programme.description }}">
        </div>
        <div class="field">
          <label for="debut">Début</label>
          <input type="date" name="debut" id="debut" value="{{ programme.debut|date("Y-m-d") }}" />
        </div>
        <div class="field">
          <label for="fin">Fin</label>
          <input type="date" name="fin" id="fin" value="{{ programme.fin|date("Y-m-d") }}" />
        </div>
      </div>
      <div class="twelve wide field">
        <label for="commentaire">Commentaire</label>
        <textarea name="commentaire" id="commentaire">{{ programme.commentaire }}</textarea>
      </div>
      <br>
      <button class="ui positive button">Enregistrer</button>
    </form><br><br>
  </div>
{% endblock %}


{% block javascripts %}
  <script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
  <script>
    CKEDITOR.replace( 'commentaire', {
      language: 'fr',
      uiColor: '#9AB8F3',
    });
  </script>
{% endblock %}
