{% extends 'ISIBundle:Etude:index.html.twig' %}

{% block title %}
    Programme de {{ examen.libelleFr }} de l'année scolaire {{ examen.annee.libelle }}
{% endblock %}

{% block contextual_menu %}  
    {% include('ISIBundle:ProgrammeExamen:contextual-menu-programme-examen.html.twig') %}
{% endblock %}

{% block section %}
  <i class="settings icon"></i>{{ 'Programme d\'examen '|trans }}
{% endblock %}


{% block body %}
  {% set grp = '' %}
  {% if regime is same as('A') %}
    {% set grp = 'Académie' %}
  {% else %}
    {% set grp = 'Formation' %}
  {% endif %}
  <h3>{{ 'Programme de '|trans }} {{ examen.libelleFr }} {{ 'de l\'année scolaire'|trans }} {{ examen.annee.libelle }} - <span style="color: darkgreen">{{ grp }}</span></h3>
  <table class="ui selectable very basic table" id="programmes">
    <thead>
      <tr>
        <th width="3%" style="text-align: center">N°</th>
        <th width="">{{ 'Niveaux'|trans }}</th>
        <th width="">{{ 'Classes'|trans }}</th>
        <th width="">{{ 'Groupes'|trans }}</th>
        <th width="">{{ 'Effectif'|trans }}</th>
        <th width="">{{ 'Matières'|trans }}</th>
        <th width="">{{ 'Salles'|trans }}</th>
        <th width="">{{ 'Dates'|trans }}</th>
        <th width="">{{ 'Heures début'|trans }}</th>
        <th width="">{{ 'Heures fin'|trans }}</th>
        <th width="">{{ 'Surveillants'|trans }}</th>
        <th class="">{{ 'Actions'|trans }}</th>
      </tr>
    </thead>
    <tbody>
      {% set numero = 0 %}
      {% for programme in programmes %}
        {% set numero = numero + 1 %}
        <tr>
          <td style="text-align: center">{{ numero }}</td>
          <td>{{ programme.groupeComposition.classe.niveau.libelleFr }}</td>
          <td>{{ programme.groupeComposition.classe.libelleFr }}</td>
          <td>{{ programme.groupeComposition.classe.libelleFr }} {{ programme.groupeComposition.libelle }}</td>
          <td>{{ programme.groupeComposition.elevegroupecomposition|length }}</td>
          <td>{{ programme.programmeexamenniveau.matiere.libelle }}</td>
          <td>{{ programme.salle.nom }}</td>
          <td>{{ programme.programmeexamenniveau.date|date("d-m-Y") }}</td>
          <td>{{ programme.programmeexamenniveau.heureDebut|date("H:i") }}</td>
          <td>{{ programme.programmeexamenniveau.heureFin|date("H:i") }}</td>
          <td>
            {% for item in programme.surveillances if item.disabled == false %}
              <li>{{ item.anneeContrat.contrat.enseignant.nom }}</li>
            {% endfor %}
          </td>
          <td>
            <a href="{{path('enregistrement_du_programme_d_examen_d_une_classe', {'as': asec, 'annexeId': annexe.id, 'regime': regime, examenId: examen.id, 'classeId': programme.groupeComposition.classe.id})}}"  data-tooltip="Pour enregistrer ou modifier le programme d'examen de la classe">
              <i class="teal tasks icon"></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}


{% block javascripts %}
  <script src="{{ asset('TableFilter/dist/tablefilter/tablefilter.js') }}"></script>
  <script data-config>
    var filtersConfig = {
      base_path: 'TableFilter/dist/tablefilter/',
      col_0: "none",
      col_1: "select",
      col_5: "select",
      col_6: "select",
      col_7: "select",
      col_8: "select",
      col_11: 'none',
      alternate_rows: true,
      rows_counter: true,
      btn_reset: true,
      loader: true,
      status_bar: true,
      mark_active_columns: true,
      highlight_keywords: true,
      no_results_message: true,
      col_types: [
        'number', 'string', 'string', 'string'
      ],
      col_widths: [
          '10px', , 
      ],
      extensions: [{ name: 'sort' }]
    };

    var tf = new TableFilter('programmes', filtersConfig);
    tf.init();
  </script>
{% endblock %}
