{% extends "ENSBundle::index-enseignant.html.twig" %}

{% block title %}
  Index Enseignant
{% endblock %}

{% block contextual_menu %}
  {% if is_granted('ROLE_SUPER_ADMIN') %}
      {{ include("ISIBundle::contextual-menu-panel-admin.html.twig") }}
  {% elseif is_granted('ROLE_ADMIN_ANNEXE') %}
      <div class="ui vertical menu">
        <div class="item">
          <div class="header">{{ 'Autres modules'|trans }}</div>
          <div class="menu">
            {# Cette partie permet de voir la liste de tous les élèves de la l'institut #}
            <a class="item" href="{{path('isi_home_scolarite')}}">{{ 'Scolarité'|trans }}</a>
            <a class="item" href="{{path('etude_home', {'as': asec})}}">{{ 'Programmes d\'étude'|trans }}</a>
          </div>
        </div>
      </div>
  {% else %}
    {{ include("ISIBundle::contextual-menu-user.html.twig") }}
  {% endif %}
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
      <a href="{{ path('ens_add', {'as': asec}) }}" class="ui positive button"><i class="plus icon"></i> {{ 'Ajouter un agent'|trans }}</a>
    {% endif %}
    {% if cours is not defined %}
      <p>{{ 'Aucun enseignant n\'a encore été inscrit'|trans }}</p>
    {% else %}
      <table id="table-cours" cellspacing="0" class="mytable filterable ui very basic table">
        <thead>
          <tr>
            <th>{{ 'N°'|trans }}</th>
            <th>{{ 'Matière'|trans }}</th>
            <th>{{ 'Classe'|trans }}</th>
            <th>{{ 'Numéro'|trans }}</th>
            <th>{{ 'Jour'|trans }}</th>
            <th>{{ 'Heure'|trans }}</th>
            <th>{{ 'Actions'|trans }}</th>
          </tr>
        </thead>
        <tbody>
          {% set n = 0 %}
          {% for item in cours %}
            {% set n = n + 1 %}
            {% set color = "" %}
            {% if (n % 2) == 0 %}
                {% set color = "WhiteSmoke" %}
            {% endif %}
            <tr bgcolor="{{ color }}">
              <td>{{ n }}</td>
              <td>{{ item.matiere.libelle }}</td>
              <td>
              {% if item.classe %}
                {{ item.classe.libelleFr }}
              {% else %}
                {{ item.halaqa.libelle }}
              {% endif %}
              </td>
              <td>{{ item.numero }}</td>
              <td>{{ item.jourdecours }}</td>
              <td>{{ item.heure }}</td>
              <td>
                {# <a href="{{ path('ens_info', {'as': asec, 'enseignantId':item.getId}) }}" data-tooltip="Voir les informations de l'enseignant">
                  <i class="info circle icon"></i>
                </a> #}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
    {# {{dump(cours)}} #}
{% endblock %}

{% block scripts %}
    <script src="{{ asset('TableFilter/dist/tablefilter/tablefilter.js') }}"></script>
    <script data-config>
      var filtersConfig = {
        base_path: '/markaz/web/TableFilter/dist/tablefilter/',
        col_0: 'none',
        col_1: 'select',
        col_2: 'select',
        col_3: 'select',
        col_4: 'select',
        col_5: 'select',
        col_6: 'none',
        alternate_rows: true,
        rows_counter: true,
        btn_reset: true,
        loader: true,
        status_bar: true,
        mark_active_columns: true,
        highlight_keywords: true,
        no_results_message: true,
        col_types: [
          'number', 'string', 'string',
          'string', 'string', 'string',
        ],
        col_widths: [
          '15px', '200px', '270px', '100px', '100px', '100px', '50px'
        ],
        extensions: [{ name: 'sort' }]
      };

      var tf = new TableFilter('table-cours', filtersConfig);
      tf.init();
    </script>
  {% endblock %}

{# 
ALTER TABLE matiere ADD matiere_mere INT DEFAULT NULL;
ALTER TABLE matiere ADD CONSTRAINT FK_9014574AF517F1F4 FOREIGN KEY (matiere_mere) REFERENCES matiere (id);
CREATE INDEX IDX_9014574AF517F1F4 ON matiere (matiere_mere);
ALTER TABLE languematiere CHANGE reference reference VARCHAR(255) NOT NULL;
ALTER TABLE interner RENAME INDEX chambre_id TO IDX_9590E5649B177F54;
ALTER TABLE reinscription CHANGE eleve_id eleve_id INT DEFAULT NULL, CHANGE annee_id annee_id INT DEFAULT NULL;
ALTER TABLE reinscription ADD CONSTRAINT FK_503AD36FA6CC7B2 FOREIGN KEY (eleve_id) REFERENCES eleve (id);
ALTER TABLE reinscription ADD CONSTRAINT FK_503AD36F543EC5F0 FOREIGN KEY (annee_id) REFERENCES annee (id);
ALTER TABLE annee_contrat_classe ADD halaqa_id INT DEFAULT NULL;
ALTER TABLE annee_contrat_classe ADD CONSTRAINT FK_762229A44C652862 FOREIGN KEY (halaqa_id) REFERENCES halaqa (id);
CREATE INDEX IDX_762229A44C652862 ON annee_contrat_classe (halaqa_id);
ALTER TABLE enseignant ADD enseignant TINYINT(1) NOT NULL, ADD arabe TINYINT(1) NOT NULL, ADD francais TINYINT(1) NOT NULL, ADD administrateur TINYINT(1) NOT NULL, ADD autre TINYINT(1) NOT NULL;
ALTER TABLE languematiere CHANGE reference reference VARCHAR(255) NOT NULL;
ALTER TABLE user CHANGE nom nom VARCHAR(255) DEFAULT NULL, CHANGE pnom pnom VARCHAR(255) DEFAULT NULL;
ALTER TABLE enseignant ADD user INT DEFAULT NULL;
ALTER TABLE enseignant ADD CONSTRAINT FK_81A72FA18D93D649 FOREIGN KEY (user) REFERENCES user (id);
CREATE INDEX IDX_81A72FA18D93D649 ON enseignant (user);
ALTER TABLE annee_contrat_classe ADD numero INT NOT NULL, ADD jour INT DEFAULT NULL, ADD heure INT DEFAULT NULL;
#}
