{# On affiche toues les classes d'un niveau de formation. On sélectionne alors une classe pour aller saisir les notes #}
{% extends "ISIBundle:Scolarite:index.html.twig" %}

{% block pageTitle %}
  Saisie de notes
{% endblock %}


{% block content %}
  {% set grp = '' %}
  {% if regime is same as('A') %}
    {% set grp = 'Académie' %}
  {% else %}
    {% set grp = 'Formation' %}
  {% endif %}
  <div class="ui info message">
    <center>
      <h2>{{ 'Saisie des notes des classes'|trans }} : {{ grp }}</h2>
      <h3>{{ 'Session'|trans }} {{ examen.session }} : {{ examen.anneeScolaire.libelleAnneeScolaire }}</h3>
    </center>
  </div>
  
  {# Cas de fiches de notes déjà éditées #}
    {% for message in app.session.flashbag.get('error') %}
      <div class="ui red message">
        <div class="header">{{ 'Attention'|trans }} !!! </div>
        <ul class="list">
          <li>{{ message }}</li>
        </ul>
      </div>
    {% endfor %}
    {% for message in app.session.flashbag.get('info') %}
      <div class="ui green message">
        <div class="header">{{ 'Notification'|trans }}: </div>
        <ul class="list">
          <li>{{ message }}.</li>
        </ul>
      </div>
    {% endfor %}
  {# Fin des notifications #}
  {% if classes is empty %}
    <p>{{ 'Pas de classes pour le moment'|trans }}</p>
  {% else %}
    {% for niveau in niveaux %}
      <h4>{{ niveau.getLibelleFr }}</h4>
      <div class="ui four cards">
          {% for classe in classes %}
            {% if classe.niveau.getGroupeFormation.getReferenceGrp is same as(regime) and niveau.getId == classe.getNiveau.getId %}
              <div class="card">
                <div class="content">
                  <img class="right floated mini ui image" src="/markaz/web/images/logoISI-x.png">
                  <div class="header">{{ classe.getLibelleClasseFr }}</div>
                  <div class="meta">{{ classe.getNiveau.getGroupeFormation.getLibelleFr }} </div>
                  <div class="description">
                    <div class="ui link list">
                    </div>
                  </div>
                </div>
                <div class="extra content">
                  <div class="ui buttons">
                    <a href="{{path('isi_saisie_de_notes_de_la_classe', {'as': asec, 'regime': regime, 'classeId': classe.getClasseId, 'examenId': examen.getExamenId})}}">
                      <div class="ui basic green button">{{ 'Saisie des notes'|trans }}</div>
                    </a>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}{# Fin for classe in classes #}
      </div>
    {% endfor %}{# Fin for niveau in niveaux #}
  {% endif %}
{% endblock %}
