{# Page d'ajout d'un nouvel examen #}

{% extends "ISIBundle:Scolarite:index.html.twig" %}

{% block title %}
	Heures enregistrées - {{ classe.getLibelleFr }}
{% endblock %}

{% block body %}
	<h3>{{ 'Heures d\'absences enregistrées '|trans }} {{ '"' ~ absence ~ '"' }} {{ ' de la classe'|trans }} {{ classe.getLibelleFr }} </h3>
	<table class="">
		<thead>
			<tr style="background-color: #efefef">
				<th width="25px" rowspan="2" align="center" class="table-header">N°</th>
				<th width="110px" rowspan="2" align="center" class="matricule-ar">الرقم التسلسلي</th>
				<th width="180px" rowspan="2" class="">الاسم و اللقب</th>
				<th width="180px" rowspan="2" align="right" class="">{{ 'Nom & Prénom'|trans }}</th>
				<th width="30px" rowspan="2" align="center" class=""><span class="sexe-ar">الجنس</span></th>
				{% for mois in moisAbsences %}
					<th colspan="" class="">
						{{ mois.getMois.getMois }}<br>
						<a href="{{path('isi_modification_des_heures_d_absence', {'as': asec, 'annexeId': annexe.id, 'regime': regime, 'classeId': classe.id, 'absence': absence, 'moisId': mois.getMois.getId })}}" data-tooltip="Modifier les heures d'absence de {{ mois.getMois.getMois }}">
							<i class="edit teal icon"></i>
						</a>
					</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% set numero = 0 %}
			{% set color = '' %}
			{% for eleve in eleves %}
				{# Ce code me permet d'alterner la couleur des lignes du tableau #}
				{% if (numero % 2) == 0 %}
					{% set color = 'white' %}
				{% else %}
					{% set color = '#efefef' %}
				{% endif %}
				{# Pour le sexe #}
				{% if eleve.sexe == 1 %}
					{% set sexe = 'ذكر' %}
				{% else %}
					{% set sexe = 'أنثى' %}
				{% endif %}
				{% set numero = numero + 1 %}
				<tr class="line-table" bgcolor={{ color }}>
					<td align="center">{{ numero }}</td>
					<td align="right" class="matricule">{{ eleve.matricule }}</td>
					<td align="right" class="nomEleveAr">{{ eleve.pnomAr }} {{ eleve.nomAr }}</td>
					<td align="right" class="nomEleveFr">{{ eleve.nomFr  }} {{  eleve.pnomFr }}</td>
					<td align="center">{{ sexe }}</td>
					{% for abs in moisAbsences %}
						{% for absEleve in absences %}
							{% if abs.getMois.getId == absEleve.getMois.getId and eleve.id == absEleve.getEleve.getId %}
								{% set heuresAbsences = 0 %}
								{% if absence == 'Cours' %}
									{% set heuresAbsences = absEleve.getHeureCours %}
								{% else %}
									{% set heuresAbsences = absEleve.getHeureCoran %}
								{% endif %}
								<td align="right" data-tooltip="{{ abs.getMois.getMois}}">{{ heuresAbsences }}</td>
							{% endif %}
						{% endfor %}
					{% endfor %}
                </tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
