{% extends "ISIBundle::index.html.twig" %}

{% block title %}
    Index Scolarité
{% endblock %}

{% block contextual_menu %}
  {% if is_granted("ROLE_NOTE") %}
    <div class="header">{{ 'Edition'|trans }}</div>
    <a class="item" href="{{path('isi_home_note', {'as': asec, 'annexeId': annexe.id})}}">{{ 'Accueil'|trans }}</a>
  {% else %}
  <div class="header">{{ 'Edition'|trans }}</div>
  <a class="item" href="{{path('isi_statistiques_regime', {'as': asec, 'annexeId': annexe.id, 'regime': regime})}}">{{ 'Statistiques'|trans }}</a>
  <a class="item" href="{{path('isi_liste_de_classe_home', {'as': asec, 'annexeId': annexe.id, 'regime': regime})}}">{{ 'Une liste de classe'|trans }}</a>
  {% if regime == 'A' %}
    <a class="item" href="{{path('isi_liste_des_halaqas', {'as': asec, 'annexeId': annexe.id, 'regime': regime})}}">{{ 'Une liste de halaqa'|trans }}</a>
  {% endif %}
    <div class="header">{{ 'Absences'|trans }}</div>
    <a class="item" href="{{path('isi_accueil_gestion_absences',{'as': asec, 'annexeId': annexe.id, 'regime': regime})}}">{{ 'Enregistrer les absences'|trans }}</a>
    <a class="item" href="{{path('isi_accueil_heures_enregistrees',{'as': asec, 'annexeId': annexe.id, 'regime': regime})}}">{{ 'Voir les heures d\'absences'|trans }}</a>
    <div class="header">{{ 'Conduites'|trans }}</div>
    <a class="item" href="{{path('isi_liste_des_classes_conduite',{'as': asec, 'annexeId': annexe.id, 'regime': regime})}}">{{ 'Voir les conduites'|trans }}</a>
    <div class="header">{{ 'Réaménagement'|trans }}</div>
    <a class="item" href="{{path('isi_disposition', {'as': asec, 'annexeId': annexe.id, 'regime': regime})}}">{{ 'Disposition des classes'|trans }}</a>
    <a class="item" href="{{path('isi_reamenager_classes_home', {'as': asec, 'annexeId': annexe.id, 'regime': regime})}}">{{ 'Reorganiser les classes'|trans }}</a>
    <div class="header">{{ 'Résultats'|trans }}</div>
    <a class="item" href="{{path('isi_resultats_annuels', {'as': asec, 'annexeId': annexe.id, 'regime': regime, 'direction': 'scolarite'})}}">{{ 'Résultats annuels'|trans }}</a>
  {% endif %}
{% endblock %}


{% block section %}
  <i class="folder open icon"></i>{{ 'Affaires Scolaires'|trans }} {% if regime is same as ('A') %} {{' - Academie'}} {% else %} {{' - Formation'}} {% endif %}
{% endblock %}


{% block body %}
{% endblock %}
