{# ISIBundle/Ressources/views/Scolarite #}
{% extends "ISIBundle::pdf.html.twig" %}
{% block title %}
    Liste de classe | {{ classe.libelleAr }}
{% endblock %}

{% block body %}
    {% if eleves is empty %}
        <p>{{ 'Inscrivez d\'abord des élèves dans cette classe.'|trans }}</p>
    {% else %}
        <div class="titre-document">
            <center>
                <h1>قائمة الطلاب</h1>
            </center>
        </div>
        <br />
        <div class="id-fiche"> 
            <center>
                <div class="classe">
                    <span>الفصل : <span class="libelleClasse">{{ classe.libelleAr }}</span></span>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{ annexe.libelle }}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="annee">
                    <span>السنة الدراسية : <span class="libelleClasse">{{ annee.libelle }}</span></span>
                </div>
            </center>
        </div>
        <br />
        {# {{dump(eleves)}} #}
        <table width="100%" class="" align="center">
            <thead>
                <tr class="table-header">
                    <th width="" class="nomAr" align="right">الجنس</th>
                    <th width="45%" align="right">Nom & Prénom</th>
                    <th width="25%" class="nomAr">الاسم و اللقب</th>
                    <th width="15%" class="matricule-ar" align="right">الرقم التسلسلي</th>
                    <th width="5%" align="center">N°</th>
                </tr>
            </thead>
            <tbody>
                {% set numero = 0 %}
                {% set color = '' %}
                {% for eleve in eleves %}
                    {# Ce code me permet d'alterner la couleur des lignes du tableau #}
                    {% if (numero % 2) == 0 %}
                        {% set color = 'white' %}
                    {% else %}
                        {% set color = '#efefef' %}
                    {% endif %}
                    {# Pour le sexe #}
                    {% if eleve.sexe == 1 %}
                        {% set sexe = 'ذكر' %}
                    {% else %}
                        {% set sexe = 'أنثى' %}
                    {% endif %}
                    {% set numero = numero + 1 %}
                    <tr class="line-table" bgcolor={{color}}>
                        <td align="right" class="sexe">{{ sexe }}&nbsp;</td>
                        <td align="right" class="nomEleveFr">{{ eleve.nomFr }} {{ eleve.pnomFr }}&nbsp;</td>
                        <td align="right" class="nomEleveAr">{{ eleve.pnomAr }} {{ eleve.nomAr }}&nbsp;</td>
                        <td align="right" class="matricule">{{ eleve.matricule }}&nbsp;</td>
                        <td align="center" class="numero">{{ numero }}</td>
                    </tr>
                    <!-- On divise le tableau pour mieux afficher la suite de la liste -->
                    {% if numero == 25 or numero == 59 %}
                            </tbody>
                        </table>
                        <br>
                        <table width="100%" class="" align="center">
                            <thead>
                                <tr class="table-header">
                                    <th width="" class="nomAr" align="right">الجنس</th>
                                    <th width="45%" align="right">Nom & Prénom</th>
                                    <th width="25%" class="nomAr">الاسم و اللقب</th>
                                    <th width="15%" class="matricule-ar" align="right">الرقم التسلسلي</th>
                                    <th width="5%" align="center">N°</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Pour la couleur de fond des différentes lignes -->
                                {% if (numero % 2) == 0 %}
                                    {% set color = 'white' %}
                                {% else %}
                                    {% set color = '#efefef' %}
                                {% endif %}
                                 <!--Pour le sexe  -->
                                {% if eleve.sexe == 1 %}
                                    {% set sexe = 'Masculin' %}
                                {% else %}
                                    {% set sexe = 'Féminin' %}
                                {% endif %}
                                {% set numero = numero %}
                                {% if loop.index == 25 or loop.index == 59 %}
                                    {% set code = 1 %}
                                {% else %}

                                <tr class="line-table" bgcolor={{ color }}>
                                    <td align="right" class="sexe">{{ sexe }}&nbsp;</td>
                                    <td align="right" class="nomEleveFr">{{ eleve.nomFr }} {{ eleve.pnomFr }}&nbsp;</td>
                                    <td align="right" class="nomEleveAr">{{ eleve.pnomAr }} {{ eleve.nomAr }}&nbsp;</td>
                                    <td align="right" class="matricule">{{ eleve.matricule }}&nbsp;</td>
                                    <td align="center" class="numero">{{ numero - 1 }}</td>
                                </tr>
                                {% endif %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <br />
        <center><span class="effectif">Effectif :  {{ numero }}</span> </center>
    {% endif %}
{% endblock %}
