{# Accueil pour l'édition des listes de classe' #}

{% extends 'ISIBundle:Scolarite:index.html.twig' %}

{% block title %}
  Liste des classes
{% endblock %}


{% block body %}
  {% set grp = '' %}
  {% if regime is same as('A') %}
    {% set grp = 'Académie' %}
  {% else %}
    {% set grp = 'Formation' %}
  {% endif %}
  <h3>{{ 'Edition des listes de classe'|trans }} : {{grp}}</h3>
{% if classes is empty %}
  <p>{{ 'Pas de classes pour le moment'|trans }}</p>
{% else %}
  <div class="column" style="width:85%">
    <table class="ui selectable very basic table" id="classes">
      <thead>
        <tr>
          <th style="width: 5%; text-align: center">N°</th>
          <th>Niveaux</th>
          <th>Classses</th>
          <th>المستويات</th>
          <th>الفصول</th>
          <th>Genre</th>
          <th class="two wide">{{ 'Actions'|trans }}</th>
        </tr>
      </thead>
      <tbody>
        {% set numero = 0 %}
        {% for classe in classes %} 
          {% if classe.niveau.groupeFormation.reference is same as(regime) %}
            {% set numero = numero + 1 %}
            {% set genre = '' %}
            {% if classe.genre == 'H' %}
              {% set genre = 'Homme' %}
            {% elseif classe.genre == 'F' %}
              {% set genre = 'Femme' %}
            {% else %}
              {% set genre = 'Mixte' %}
            {% endif %}
            <tr>
              <td style="width: 5%; text-align: center">{{ numero }}</td>
              <td>{{ classe.getNiveau.getLibelleFr }}</td>
              <td>{{ classe.libellefr }}</td>
              <td>{{ classe.getNiveau.getLibelleAr }}</td>
              <td>{{ classe.libellear }}</td>
              <td>{{ genre }}</td>
              <td style="width: 20%; text-align: center">
                {% set lien = '' %}
                {% if regime == 'A' %}
                  {% set lien = path('isi_tirer_liste_d_appel_de_la_classe_academie', {'as': asec, 'annexeId': annexe.id, 'regime': regime, 'classeId': classe.id}) %}
                {% else %}
                  {% set lien = path('isi_tirer_liste_d_appel_de_la_classe_formation', {'as': asec, 'annexeId': annexe.id, 'regime': regime, 'classeId': classe.id}) %}
                {% endif %}
                <a href="{{ lien }}" data-tooltip="Liste d'appel">
                  <i class="print icon"></i>
                </a>
                &nbsp;&nbsp;&nbsp;
                <a href="{{path('isi_tirer_liste_de_la_classe_edition_sans_impression', {'as': asec, 'annexeId': annexe.id, 'regime': regime, 'classeId': classe.id})}}" data-tooltip="Liste simple">
                  <i class="list icon"></i>
                </a>
                &nbsp;&nbsp;&nbsp;
                <a href="{{path('isi_mise_a_jour_informations_des_eleves_d_une_classe', {'as': asec, 'annexeId': annexe.id, 'regime': regime, 'classeId': classe.id})}}" data-tooltip="Mettre à jour les informations des élèves">
                  <i class="edit icon"></i>
                </a>
                &nbsp;&nbsp;&nbsp;
                <a href="{{path('isi_cartes_scolaires_d_une_classe', {'as': asec, 'annexeId': annexe.id, 'regime': regime, 'classeId': classe.id})}}" data-tooltip="Cartes scolaire">
                  <i class="ticket icon"></i>
                </a>
                &nbsp;&nbsp;&nbsp;
                <a href="{{path('isi_tirer_liste_de_la_classe', {'as': asec, 'annexeId': annexe.id, 'regime': regime, 'classeId': classe.id})}}" data-tooltip="Liste de classe">
                  <i class="print icon"></i>
                </a>
                &nbsp;&nbsp;&nbsp;
                <a href="{{path('fiche_identification', {'as': asec, 'annexeId': annexe.id, 'regime': regime, 'classeId': classe.id})}}" data-tooltip="Fiches d'identification">
                  <i class="file icon"></i>
                </a>
                &nbsp;&nbsp;&nbsp;
                <a href="{{path('emploi_du_temps_classe', {'as': asec, 'annexeId': annexe.id, 'regime': regime, 'classeId': classe.id})}}"  data-tooltip="Voir l'emploi du temps de la classe">
                  <i class="time icon"></i>
                </a>
              </td>
            </tr>
          {% endif %} 
        {% endfor %}
      </tbody>
    </table>
    <hr width="75%">
  </div><br><br>
{% endif %}
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('TableFilter/dist/tablefilter/tablefilter.js') }}"></script>
  <script data-config>
    var filtersConfig = {
      base_path: 'TableFilter/dist/tablefilter/',
      col_0: "none",
      col_1: 'select',
      col_3: 'select',
      col_5: 'select',
      col_6: 'none',
      alternate_rows: true,
      rows_counter: true,
      btn_reset: true,
      loader: true,
      status_bar: true,
      mark_active_columns: true,
      highlight_keywords: true,
      no_results_message: true,
      col_types: [
        'number', 'string', 'string', 'string'
      ],
      col_widths: [
          // '20px', , , '200px', , , '300px'
      ],
      extensions: [{ name: 'sort' }]
    };

    var tf = new TableFilter('classes', filtersConfig);
    tf.init();
  </script>
{% endblock %}
