<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>
        {% block title %} Impression halaqa | {{ halaqa.getLibelleHalaqa }} {% endblock %}
    </title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <style>
        @font-face
        {
            font-family: "majalla";
            src: url("file:///C:/wamp64/www/markaz/web/polices/majalla.ttf");
        }

        @font-face
        {
            font-family: "Lato";
            src: url("file:///C:/wamp64/www/markaz/web/polices/Lato-Regular.ttf");
        }

        @font-face
        {
            font-family: "amiri";
            src: url("file:///C:/wamp64/www/markaz/web/polices/Amiri-Regular.ttf");
        }

        @font-face
        {
            font-family: "katibeth";
            src: url("file:///C:/wamp64/www/markaz/web/polices/Katibeh-Regular.ttf");
        }

        * {
            font-family: majalla, Lato;
        }

        body {
            font-family: Lato;
			direction: rtl
        }

        thead{
            border: 1px solid black;
        }

        .en-tete{
            width: 1350px;
            height: 1984px;
        }

        .en-tete table{
            border: 0px;
        }

        .en-tete-fr, .en-tete-ar{
          line-height: 5px;
          font-weight: bold;
          font-size: 1.7em;
        }

        .en-tete-ar{
          font-size: 1.8em;
        }

        .titre-document {
            border: solid 2px;
            line-height: 0px;
            width: 100%;
            margin: auto;
            font-size: 1.5em;
            font-family: "sakkal majalla", "majalla", "sakkal", "traditional arabic";
            font-weight: bold;
        }

        span {
            font-family: majalla, 'traditional arabic';
        }

        .id-fiche {
            font-size: 2em;
            direction: rtl;
        }

        .halaqa, .annee {
            font-family: majalla, 'traditional arabic';
            display: inline;
        }

        .matiere {
            font-family: majalla, 'traditional arabic';
            display: inline;
            margin-right: 700px;
        }

        .libelleClasse, .libelleMatiere {
            font-family: majalla, 'traditional arabic';
            font-weight: bold;
        }

        table {
            display: inline-table;
            border-spacing: 0px;
            table-layout: fixed;
        }

        td {
            border: 0.99px solid black;
            overflow: hidden;
            white-space: nowrap;
        }

        .line-table {
            font-size: 1.6em;
            line-height: 27px;
        }

        .table-header {
            font-weight: bold;
            font-size: 1.5em;
            height: 20px;
            background-color: rgb(190, 190, 190);
            align-content: center;
        }

        .table-header-semaine{
            font-size: 1em;
            background-color: rgb(190, 190, 190);
        }

        .matricule-ar{
            font-size: 1.1em;
            background-color: rgb(190, 190, 190);
            align-content: center;
        }

        .matricule{
            font-size: 0.9em;
        }

        .sexe-ar{
            font-size: 0.5em;
        }

        .classe{
            font-size: 0.7em;
        }

        .nomAr, .nomFr {
            font-family: "sakkal majalla", "majalla", "sakkal", "traditional arabic";
            font-weight: bold;
        }

        .nomEleveAr {
            font-family: "sakkal majalla", "majalla", "sakkal", "traditional arabic";
            font-weight: bold;
            font-size: 0.9em
        }

        .nomEleveFr {
            font-family: "sakkal majalla", "majalla", "sakkal", "traditional arabic";
            white-space: nowrap;
            text-overflow: clip;
			font-size: 0.85em
        }

        .effectif {
            font-size: 2.5em;
            font-family: majalla;
        }
    </style>
</head>

<body style="font-family: Arial">
    <header>
        {# <div class="en-tete">
            <table width="100%" align="center" border="0">
                <tr>
                <td align="" width="30%" class="en-tete-ar">
                    <center>
                    <p>جمهورية ساحل العاج</p>
                    <p>مركز الألوم الإسلامية</p>
                    <p>أبيجان - حي أنيام</p>
                    <p>هاتف : 21373048 - 20248312</p>
                    </center>
                </td>
                <td align="" width="" class="">
                    <center>
                    <img src="{{app.request.schemeAndHttpHost ~ asset('../web/images/logoISI.png')}}" alt="" width="40%">
                    </center>
                </td>
                <td align="" width="30%" class="en-tete-fr">
                    <center>
                    <p>REPUBLIQUE DE COTE D'IVOIRE</p>
                    <p>INSTITUT DES SCIENCES ISLAMIQUES</p>
                    <p>ABIDJAN - ANYAMA</p>
                    <p>Tél: 21373048 - 20248312</p>
                    </center>
                </td>
                </tr>
            </table>
        <div> #}
        <center>
            <img src="{{app.request.schemeAndHttpHost ~ asset('../web/images/en-tete.png')}}" alt="" width="75%">
            {# <img src="file:///C:/wamp64/www/markaz/web/images/en-tete.png"
                alt=""> #}
        </center>
    </header>
    {% block body %}

        {% if memoriser is empty %}
            <p>Inscrivez d'abord des élèves dans cette classe.</p>
        {% else %}
            <div class="titre-document">
                <center>
                    <h1>قائمة الحضور</h1>
                </center>
            </div>
            <br />
            <div class="id-fiche">
                <center>
                    <div class="halaqa">
                        <span>الفصل : <span class="libelleClasse">{{ halaqa.libellehalaqa }}</span></span>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="annee">
                        <span>السنة الدراسية : <span class="libelleClasse">{{ annee.libelleAnneeScolaire }}</span></span>
                    </div>
                </center>
            </div>
            <br /> {# {{dump(eleves)}} #}
            <table width="100%" class="" align="center">
                <thead>
                    <tr>
                        <th width="40px" rowspan="2" align="center">N°</th>
                        <th width="110px" rowspan="2" align="right" class="matricule-ar">الرقم التسلسلي</th>
                        <th width="200px" rowspan="2" class="nomAr table-header">الاسم و اللقب</th>
                        <th width="300px" rowspan="2" align="right" class="nomFr table-header">{{ 'Nom & Prénom'|trans }}</th>
                        {% if regime == 'A' %}
                            <th width="110px" rowspan="2" align="center" class="nomAr table-header"><span class="">الفصل</span></th>  
                        {% endif %}
                        <th width="50px" rowspan="2" align="center" class="nomAr table-header"><span class="sexe-ar">الجنس</span></th>
                        <th colspan="5" align="right" class=""></th>
                    </tr>
                    <tr class="table-header-semaine">
                        <th>الأحد</th>
                        <th>الاثنين</th>
                        <th>الثلاثاء</th>
                        <th>الأربعاء</th>
                        <th>الخميس</th>
                    </tr>
                </thead>
                <tbody>
                    {% set numero = 0 %}
                    {% set color = '' %}
                    {% for eleve in memoriser %}
                        {% if eleve.getEleve.getRenvoye == 0 %}
                            {# Ce code me permet d'alterner la couleur des lignes du tableau #}
                            {% if (numero % 2) == 0 %}
                                {% set color = 'white' %}
                            {% else %}
                                {% set color = '#efefef' %}
                            {% endif %}
                            {# Pour le sexe #}
                            {% if eleve.getEleve.getSexeFr == 1 %}
                                {% set sexe = 'ذكر' %}
                            {% else %}
                                {% set sexe = 'أنثى' %}
                            {% endif %}
                            {% set numero = numero + 1 %}
                            <tr class="line-table" bgcolor={{color}}>
                                <td align="center">{{ numero }}</td>
                                <td align="right" class="matricule">{{ eleve.getEleve.getMatricule }}</td>
                                <td align="right" class="nomEleveAr">{{ eleve.getEleve.getPnomAr }} {{ eleve.getEleve.getNomAr }}</td>
                                <td align="right" class="nomEleveFr">{{ eleve.getEleve.getNomFr  }} {{ eleve.getEleve.getPnomFr }}</td>
                                {% if regime == 'A' %}
                                    {% for classe in classes %}
                                        {% if eleve.getEleve.getEleveId == classe.getEleve.getEleveId %}
                                            <td align="center" class="classe">{{ classe.getClasse.getLibelleClasseAr }}</td>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <td align="center">{{ sexe }}</td>
                                {% for i in 0..4 %}
                                    <td align="right"></td>
                                {% endfor %}
                            </tr>
                        <!-- On divise le tableau pour mieux afficher la suite de la liste -->
                        {% if numero == 17 or numero == 43 %}
                    </tbody>
                </table>
                <br><br>
                <table width="100%" class="" align="center">
                    <thead>
                        <tr>
                            <th width="40px" rowspan="2" align="center">N°</th>
                            <th width="110px" rowspan="2" align="right" class="matricule-ar">الرقم التسلسلي</th>
                            <th width="200px" rowspan="2" class="nomAr table-header">الاسم و اللقب</th>
                            <th width="300px" rowspan="2" align="right" class="nomFr table-header">{{ 'Nom & Prénom'|trans }}</th>
                            {% if regime == 'A' %}
                                <th width="110px" rowspan="2" align="center" class="nomAr table-header"><span class="">الفصل</span></th>  
                            {% endif %}
                            <th width="50px" rowspan="2" align="center" class="nomAr table-header"><span class="sexe-ar">الجنس</span></th>
                            <th colspan="5" align="right" class=""></th>
                        </tr>
                        <tr class="table-header-semaine">
                            <th>الأحد</th>
                            <th>الاثنين</th>
                            <th>الثلاثاء</th>
                            <th>الأربعاء</th>
                            <th>الخميس</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Pour la couleur de fond des différentes lignes -->
                        {% if (numero % 2) == 0 %}
                            {% set color = 'white' %}
                        {% else %}
                            {% set color = 'gray' %}
                        {% endif %}
                        <!--Pour le sexe  -->
                        {% if eleve.getEleve.getSexeFr == 1 %}
                            {% set sexe = 'ذكر' %}
                        {% else %}
                            {% set sexe = 'أنثى' %}
                        {% endif %}
                        {% set numero = numero %}
                            {% if loop.index == 17 or loop.index == 43 %}
                                {% set sautEleve = 0 %}
                            {% else %}
                                <tr class="line-table" bgcolor={{color}}>
                                    <td align="center">{{ numero }}</td>
                                    <td align="right">{{ eleve.getEleve.getMatricule }}</td>
                                    <td align="right" class="nomEleveAr">{{ eleve.getEleve.getPnomAr }} {{ eleve.getEleve.getNomAr }}</td>
                                    <td align="right" class="nomEleveFr">{{ eleve.getEleve.getNomFr }} {{ eleve.getEleve.getPnomFr }}</td>
                                    {% if regime == 'A' %}
                                        {% for classe in classes %}
                                            {% if eleve.getEleve.getEleveId == classe.getEleve.getEleveId %}
                                                <td align="center" class="classe">{{ classe.getClasse.getLibelleClasseAr }}</td>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <td align="center">{{ sexe }}</td>
                                    {% for i in 0..4 %}
                                        <td align="right"></td>
                                    {% endfor %}
                                </tr>
                            {% endif %}
                            {# Fin if numero = 17 or numero = 43 #}
                        {% endif %}
                        {% endif %}
                        <!-- Fin if eleve est renvoye  -->
                    {% endfor %}
                </tbody>
            </table>
            <br />
            <center><span class="effectif">المجموع :  {{ numero }}</span> </center>
        {% endif %}
        <!-- Fin if eleves empty  -->

    {% endblock %}
</body>

</html>
