<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>
        {% block title %} Impression liste d'appel | {{ classe.getLibelleAr }} {% endblock %}
    </title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <style>
        {% if server == '/var/www/html' %}
            @font-face
            {
                font-family: "majalla";
                src: url("file:///var/www/html/markaz/web/polices/majalla.ttf");
            }

            @font-face
            {
                font-family: "Lato";
                src: url("file:///var/www/html/markaz/web/polices/Lato-Regular.ttf");
            }
        {% else %}
            @font-face
            {
                font-family: "majalla";
                src: url("file:///C:/xampp/htdocs/markaz/web/polices/majalla.ttf");
            }

            @font-face
            {
                font-family: "Lato";
                src: url("file:///C:/xampp/htdocs/markaz/web/polices/Lato-Regular.ttf");
            }
        {% endif %}

        * {
            font-family: majalla, Lato;
        }

        body {
            font-family: Lato;
			direction: rtl
        }

        .en-tete{
            width: 1350px;
            height: 1984px;
        }

        .en-tete table{
            border: 0px;
        }

        .en-tete-fr, .en-tete-ar{
          line-height: 5px;
          font-weight: bold;
          font-size: 1.7em;
        }

        .en-tete-ar{
          font-size: 1.8em;
        }

        .titre-document {
            border: solid 2px;
            line-height: 0px;
            width: 100%;
            margin: auto;
            font-size: 1.5em;
            font-family: "sakkal majalla", "majalla", "sakkal", "traditional arabic";
            font-weight: bold;
        }

        span {
            font-family: majalla, 'traditional arabic';
        }

        .id-fiche {
            font-size: 2em;
            direction: rtl;
        }

        .classe, .annee {
            font-family: majalla, 'traditional arabic';
            display: inline;
        }

        .matiere {
            font-family: majalla, 'traditional arabic';
            display: inline;
            margin-right: 700px;
        }

        .libelleClasse, .libelleMatiere {
            font-family: majalla, 'traditional arabic';
            font-weight: bold;
        }

        table {
            display: inline-table;
            border-spacing: 0px;
            table-layout: fixed;
        }

        td {
            border: 0.99px solid black;
            overflow: hidden;
            white-space: nowrap;
        }

        .line-table {
            font-size: 1.6em;
            line-height: 27px;
        }

        .table-header {
            border: 1px solid black;
            font-weight: bold;
            font-size: 1.5em;
            height: 20px;
            align-content: center;
        }

        .table-header-semaine{
            font-size: 1em;
        }

        .matricule-ar{
            font-size: 1.1em;
            border: 1px solid black;
            align-content: center;
        }

        .matricule{
            font-size: 0.9em;
        }

        .sexe-ar{
            font-size: 0.5em;
        }

        .nomAr, .nomFr {
            font-family: "sakkal majalla", "majalla", "sakkal", "traditional arabic";
            font-weight: bold;
        }

        .nomEleveAr {
            font-family: "sakkal majalla", "majalla", "sakkal", "traditional arabic";
            font-weight: bold;
            font-size: 0.9em
        }

        .nomEleveFr {
            font-family: "sakkal majalla", "majalla", "sakkal", "traditional arabic";
            white-space: nowrap;
            text-overflow: clip;
			font-size: 0.85em
        }

        .effectif {
            font-size: 2.5em;
            font-family: majalla;
        }
    </style>
</head>

<body style="font-family: Arial">
    <header>
        <center>
            <img src="{{ app.request.schemeAndHttpHost ~ asset('../web/images/en-tete.png') }}" alt="" width="75%">
            {# <img src="file:///C:/wamp64/www/markaz/web/images/en-tete.png"
                alt=""> #}
        </center>
    </header>
    {% block body %}

        {% if eleves is empty %}
            <p>Inscrivez d'abord des élèves dans cette classe.</p>
        {% else %}
            <div class="titre-document">
                <center>
                    <h1>قائمة الحضور</h1>
                </center>
            </div>
            <br />
            <div class="id-fiche">
                <center>
                    <div class="classe">
                        <span>الفصل : <span class="libelleClasse">{{ classe.libelleAr }}</span></span>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="annee">
                        <span>السنة الدراسية : <span class="libelleClasse">{{ annee.libelle }}</span></span>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {{ informations.ville }}
                </center>
            </div>
            <br /> {# {{dump(eleves)}} #}
            <table width="100%" class="" align="center">
                <thead>
                    <tr>
                        <th width="25px" align="center" class="table-header">N°</th>
                        <th width="110px" align="center" class="matricule-ar">الرقم التسلسلي</th>
                        <th width="200px" class="nomAr table-header">الاسم و اللقب</th>
                        <th width="250px" align="right" class="nomFr table-header">{{ 'Nom & Prénom'|trans }}</th>
                        <th width="40px" align="center" class="nomAr table-header"><span class="sexe-ar">الجنس</span></th>
                        <th colspan="9" class="table-header">أسبوع 1</th>
                        <th colspan="9" class="table-header">أسبوع 2</th>
                    </tr>
                </thead>
                <tbody>
                    {% set numero = 0 %}
                    {% set color = '' %}
                    {% for eleve in eleves %}
                        {# Ce code me permet d'alterner la couleur des lignes du tableau #}
                        {% if (numero % 2) == 0 %}
                            {% set color = 'white' %}
                        {% else %}
                            {% set color = '#efefef' %}
                        {% endif %}
                        {# Pour le sexe #}
                        {% if eleve.sexe == 1 %}
                            {% set sexe = 'ذكر' %}
                        {% else %}
                            {% set sexe = 'أنثى' %}
                        {% endif %}
                        {% set numero = numero + 1 %}
                        <tr class="line-table" bgcolor={{ color }}>
                            <td align="center">{{ numero }}</td>
                            <td align="right" class="matricule">{{ eleve.matricule }}</td>
                            <td align="right" class="nomEleveAr">{{ eleve.pnomAr }} {{ eleve.nomAr }}</td>
                            <td align="right" class="nomEleveFr">{{ eleve.nomFr  }} {{ eleve.pnomFr }}</td>
                            <td align="center">{{ sexe }}</td>
                            {% for i in 0..17 %}
                                <td align="right"></td>
                            {% endfor %}
                        </tr>
                    <!-- On divise le tableau pour mieux afficher la suite de la liste -->
                    {% if numero == 19 or numero == 48 or numero == 77 or loop.index == 106 %}
                </tbody>
            </table>
            <br><br>
            <table width="100%" class="" align="center">
                <thead>
                    <tr>
                        <th width="25px" align="center" class="table-header">N°</th>
                        <th width="110px" align="center" class="matricule-ar">الرقم التسلسلي</th>
                        <th width="200px" class="nomAr table-header">الاسم و اللقب</th>
                        <th width="250px" align="right" class="nomFr table-header">{{ 'Nom & Prénom'|trans }}</th>
                        <th width="40px" align="center" class="nomAr table-header"><span class="sexe-ar">الجنس</span></th>
                        <th colspan="9" class="table-header">أسبوع 1</th>
                        <th colspan="9" class="table-header">أسبوع 2</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Pour la couleur de fond des différentes lignes -->
                    {% if (numero % 2) == 0 %}
                        {% set color = 'white' %}
                    {% else %}
                        {% set color = 'gray' %}
                    {% endif %}
                    <!--Pour le sexe  -->
                    {% if eleve.sexe == 1 %}
                        {% set sexe = 'ذكر' %}
                    {% else %}
                        {% set sexe = 'أنثى' %}
                    {% endif %}
                    {% set numero = numero %}
                        {% if loop.index == 19 or loop.index == 48 or loop.index == 77 or loop.index == 106 %}
							{% set sautEleve = 0 %}
                        {% else %}
							<tr class="line-table" bgcolor={{color}}>
								<td align="center">{{ numero }}</td>
								<td align="right">{{ eleve.matricule }}</td>
								<td align="right" class="nomEleveAr">{{ eleve.pnomAr }} {{ eleve.nomAr }}</td>
								<td align="right" class="nomEleveFr">{{ eleve.nomFr }} {{ eleve.pnomFr }}</td>
								<td align="center">{{sexe}}</td>
								{% for i in 0..17 %}
									<td align="right"></td>
								{% endfor %}
							</tr>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <br />
            <center><span class="effectif">المجموع :  {{ numero }}</span> </center>
        {% endif %}
        <!-- Fin if eleves empty  -->

    {% endblock %}
</body>

</html>
