<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>
        {% block title %} Impression liste de halaqa{% endblock %}
    </title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <style>
        @font-face
        {
            font-family: "majalla";
            src: url("file:///C:/xampp/htdocs/markaz/web/polices/majalla.ttf");
            /*src: url("file:///var/www/html/markaz/web/polices/majalla.ttf");*/
        }

        @font-face
        {
            font-family: "Lato";
            src: url("file:///C:/xampp/htdocs/markaz/web/polices/Lato-Regular.ttf");
            /*src: url("file:///var/www/html/markaz/web/polices/Lato-Regular.ttf");*/
        }

        * {
            font-family: majalla, Lato;
        }

        body {
            font-family: Lato;
			direction: rtl
        }

        .en-tete{
            width: 1350px;
            height: 1984px;
        }

        .en-tete table{
            border: 0px;
        }

        .en-tete-fr, .en-tete-ar{
          line-height: 5px;
          font-weight: bold;
          font-size: 1.7em;
        }

        .en-tete-ar{
          font-size: 1.8em;
        }

        .titre-document {
            border: solid 5px;
            border-radius: 10px;
            line-height: 10px;
            width: 60%;
            margin: auto;
            font-size: 1.3em
        }

        h1 {
            font-family: 'traditional arabic';
            font-weight: bold;
        }

        span {
            font-family: majalla, 'traditional arabic';
        }

        .id-fiche {
            font-size: 2em;
            direction: rtl;
        }

        .classe {
            font-family: majalla, 'traditional arabic';
            display: inline;
        }

        .matiere {
            font-family: majalla, 'traditional arabic';
            display: inline;
            margin-right: 700px;
        }

        .libelleClasse, .libelleMatiere {
            font-family: majalla, 'traditional arabic';
            font-weight: bold;
        }

        table {
            #border: 3px solid black;
            display: inline-table;
            border-spacing: 0px;
            table-layout: fixed;
        }

        td {
            border: 1px solid black;
            overflow: hidden;
            white-space: nowrap;
        }

        .line-table {
            font-size: 1.6em;

        }

        .table-header {
            font-weight: bold;
            font-size: 2.2em;
            height: 20px;
            background-color: rgb(190, 190, 190);
            border: 3px solid black;
            align-content: center;
        }

        .table-header-semaine{
            font-size: 1em;
            background-color: rgb(190, 190, 190);
        }

        .matricule-ar{
            font-size: 1em;
        }

        .sexe-ar{
            font-size: 0.5em;
        }

		.matricule{

		}

        .nomAr, .nomFr {
            font-family: "sakkal majalla", "majalla", "sakkal", "traditional arabic";
            font-size: 0.7em;
            font-weight: bold;
        }

        .nomEleveAr {
            font-family: "sakkal majalla", "majalla", "sakkal", "traditional arabic";
            font-weight: bold;
            font-size: 0.9em
        }

        .nomEleveFr {
            font-family: "sakkal majalla", "majalla", "sakkal", "traditional arabic";
            white-space: nowrap;
            text-overflow: clip;
			font-size: 0.85em
        }

        .effectif {
            font-size: 2.5em;
            font-family: majalla;
        }
    </style>
</head>

<body style="font-family: Arial">
    <header>
        {# <div class="en-tete">
            <table width="100%" align="center" border="0">
                <tr>
                <td align="" width="30%" class="en-tete-ar">
                    <center>
                    <p>جمهورية ساحل العاج</p>
                    <p>مركز الألوم الإسلامية</p>
                    <p>أبيجان - حي أنيام</p>
                    <p>هاتف : 21373048 - 20248312</p>
                    </center>
                </td>
                <td align="" width="" class="">
                    <center>
                    <img src="{{app.request.schemeAndHttpHost ~ asset('../web/images/logoISI.png')}}" alt="" width="40%">
                    </center>
                </td>
                <td align="" width="30%" class="en-tete-fr">
                    <center>
                    <p>REPUBLIQUE DE COTE D'IVOIRE</p>
                    <p>INSTITUT DES SCIENCES ISLAMIQUES</p>
                    <p>ABIDJAN - ANYAMA</p>
                    <p>Tél: 21373048 - 20248312</p>
                    </center>
                </td>
                </tr>
            </table>
        <div> #}
        <center>
            <img src="{{app.request.schemeAndHttpHost ~ asset('../web/images/en-tete.png')}}" alt="" width="75%">
            {# <img src="file:///C:/wamp64/www/markaz/web/images/en-tete.png"
                alt=""> #}
        </center>
    </header>
    {% block body %}

        {% if eleves is empty %}
            <p>Inscrivez d'abord des élèves dans cette classe.</p>
        {% else %}
            <div class="titre-document">
                <center>
                    <h1>قائمة الحضور</h1>
                </center>
            </div>
            <br />
            <div class="id-fiche">
                <div class="classe">
                    <span>الفصل : <span class="libelleClasse">{{classe.libelleAr}}</span></span>
                </div>
            </div>
            <br /> {# {{dump(eleves)}} #}
            <table width="100%" class="" align="center">
                <thead>
                    <tr>
                        <th width="" rowspan="2" align="center">N°</th>
                        <th width="100px" rowspan="2" align="right" class="nomAr table-header"><span class="matricule-ar">الرقم التسلسلي</span></th>
                        <th width="150px" rowspan="2" class="nomAr table-header">الاسم و اللقب</th>
                        <th width="150px" rowspan="2" align="right" class="nomFr table-header">{{ 'Nom & Prénom'|trans }}</th>
                        <th width="" rowspan="2" align="center" class="nomAr table-header"><span class="sexe-ar">الجنس</span></th>
                        <th colspan="5" align="right" class=""></th>
                    </tr>
                    <tr class="table-header-semaine">
                        <th>الأحد</th>
                        <th>الاثنين</th>
                        <th>الثلاثاء</th>
                        <th>الأربعاء</th>
                        <th>الخميس</th>
                    </tr>
                </thead>
                <tbody>
                    {% set numero = 0 %}
                    {% set color = '' %}
                    {% for eleve in eleves %}
                        {# Ce code me permet d'alterner la couleur des lignes du tableau #}
                        {% if (numero % 2) == 0 %}
                            {% set color = 'white' %}
                        {% else %}
                            {% set color = '#efefef' %}
                        {% endif %}
                        {# Pour le sexe #}
                        {% if eleve.sexe == 1 %}
                            {% set sexe = 'ذكر' %}
                        {% else %}
                            {% set sexe = 'أنثى' %}
                        {% endif %}
                        {% set numero = numero + 1 %}
                        <tr class="line-table" bgcolor={{color}}>
                            <td align="center">{{ numero }}</td>
                            <td align="right" class="matricule">{{ eleve.matricule }}</td>
                            <td align="right" class="nomEleveAr">{{ eleve.pnomAr }} {{ eleve.nomAr }}</td>
                            <td align="right" class="nomEleveFr">{{ eleve.nomFr  }} {{  eleve.pnomFr }}</td>
                            <td align="center">{{ sexe }}</td>
                            {% for i in 0..24 %}
                                <td align="right"></td>
                            {% endfor %}
                        </tr>
                    <!-- On divise le tableau pour mieux afficher la suite de la liste -->
                    {% if numero == 13 or numero == 33 %}
                </tbody>
            </table>
            <br><br>
            <table width="100%" class="" align="center">
                <thead>
                    <tr>
                        <th width="" rowspan="2" align="center">N°</th>
                        <th width="100px" rowspan="2" align="right" class="nomAr table-header"><span class="matricule-ar">الرقم التسلسلي</span></th>
                        <th width="150px" rowspan="2" class="nomAr table-header">الاسم و اللقب</th>
                        <th width="150px" rowspan="2" align="right" class="nomFr table-header">{{ 'Nom & Prénom'|trans }}</th>
                        <th width="" rowspan="2" align="center" class="nomAr table-header"><span class="sexe-ar">الجنس</span></th>
                        <th colspan="5" align="right" class=""></th>
                    </tr>
                    <tr class="table-header-semaine">
                        <th>الأحد</th>
                        <th>الاثنين</th>
                        <th>الثلاثاء</th>
                        <th>الأربعاء</th>
                        <th>الخميس</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Pour la couleur de fond des différentes lignes -->
                    {% if (numero % 2) == 0 %}
                        {% set color = 'white' %}
                    {% else %}
                        {% set color = 'gray' %}
                    {% endif %}
                    <!--Pour le sexe  -->
                    {% if eleve.sexeFr == 1 %}
                        {% set sexe = 'ذكر' %}
                    {% else %}
                        {% set sexe = 'أنثى' %}
                    {% endif %}
                    {% set numero = numero %}
                        {% if loop.index == 13 or loop.index == 33 %}
							{% set sautEleve = 0 %}
                        {% else %}
							<tr class="line-table" bgcolor={{color}}>
								<td align="center">{{ numero }}</td>
								<td align="right">{{ eleve.matricule }}</td>
								<td align="right" class="nomEleveAr">{{ eleve.pnomAr }} {{ eleve.nomAr }}</td>
								<td align="right" class="nomEleveFr">{{ eleve.nomFr }} {{ eleve.pnomFr }}</td>
								<td align="center">{{ sexe }}</td>
								{% for i in 0..24 %}
									<td align="right"></td>
								{% endfor %}
							</tr>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <br />
            <center><span class="effectif">المجموع :  {{ numero }}</span> </center>
        {% endif %}
        <!-- Fin if eleves empty  -->

    {% endblock %}
</body>

</html>
