{# ISIBundle/Ressources/views/Scolarite #}
{% extends "ISIBundle:Scolarite:index.html.twig" %}
{% block title %}
    Mise à jour informations des élèves {{ classe.libelleFr }} {{ annee.libelle }}
{% endblock %}

{% block body %}

    {% if eleves is empty %}
        <p>{{ 'Inscrivez d\'abord des élèves dans cette classe.'|trans }}</p>
    {% else %}
        <div class="titre-document">
            <center>
                <h1>{{ 'Mise à jour des informations des élèves de '|trans }}{{ classe.libelleFr }}</h1>
            </center>
        </div>
        <br />
        <br />
        {# {{dump(eleves)}} #}
        <form class="ui mini form" action="" method="post">
            <table class="ui selectable celled table" width="100%" align="center">
                <thead>
                    <tr class="table-header" bgcolor="">
                        <th width="1%" align="center">N°</th>
                        <th width="6%" class="nomAr">الرقم التسلسلي</th>
                        <th width="5%" class="nomAr">اللقب</th>
                        <th width="5%" class="nomAr">الاسم</th>
                        <th width="5%">{{ 'Nom'|trans }}</th>
                        <th width="5%">{{ 'Prénom'|trans }}</th>
                        <th width="5%" class="nomAr">Date de naissance</th>
                        <th width="auto" class="nomAr">Lieu de naissance</th>
                        <th width="auto" class="nomAr">Commune</th>
                        <th width="auto" class="nomAr">Résidence</th>
                        <th width="auto" class="nomAr">Contact</th>
                        <th width="auto" class="nomAr">Contact père</th>
                        <th width="auto" class="nomAr">Contact mère</th>
                        <th width="auto" class="nomAr">Contact tuteur</th>
                    </tr>
                </thead>
                <tbody>
                    {% set numero = 0 %}
                    {% set color = '' %}
                    {% for eleve in eleves %}
                        {# Ce code me permet d'alterner la couleur des lignes du tableau #}
                        {% if (numero % 2) == 1 %}
                            {% set color = 'white' %}
                        {% else %}
                            {% set color = '#DCDCDC' %}
                        {% endif %}
                        {# Pour le sexe #}
                        {% if eleve.sexe == 1 %}
                            {% set sexe = 'Masculin' %}
                        {% else %}
                            {% set sexe = 'Féminin' %}
                        {% endif %}
                        {% set numero = numero + 1 %}
                        <tr class="line-table" bgcolor={{ color }}>
                            <td align="center">{{ numero }}</td>
                            <td>{{ eleve.matricule }}</td>
                            <td><input type="text" name="nomsAr[{{eleve.id}}]" value="{{ eleve.nomAr }}"></td>
                            <td><input type="text" name="pnomsAr[{{eleve.id}}]" value="{{ eleve.pnomAr }}"></td>
                            <td><input type="text" name="nomsFr[{{eleve.id}}]" value="{{ eleve.nomFr }}"></td>
                            <td><input type="text" name="pnomsFr[{{eleve.id}}]" value="{{ eleve.pnomFr }}" title="{{ eleve.pnomFr }}"></td>
                            <td><input type="date" name="dates[{{eleve.id}}]" value="{{ eleve.dateNaissance|date("Y-m-d") }}"></td>
                            <td><input type="text" name="lieux[{{eleve.id}}]" value="{{ eleve.lieuNaissance }}"></td>
                            <td><input type="text" name="communes[{{eleve.id}}]" value="{{ eleve.commune }}"></td>
                            <td><input type="text" name="residences[{{eleve.id}}]" value="{{ eleve.residence }}"></td>
                            <td><input type="text" name="contact[{{eleve.id}}]" value="{{ eleve.contact }}"></td>
                            <td><input type="text" name="contactP[{{eleve.id}}]" value="{{ eleve.contactPere }}"></td>
                            <td><input type="text" name="contactM[{{eleve.id}}]" value="{{ eleve.contactMere }}"></td>
                            <td><input type="text" name="contactT[{{eleve.id}}]" value="{{ eleve.contactTuteur }}"></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br />
            <button class="ui right floated labeled icon massive positive button">
                <i class="save icon"></i> {{ 'Appliquer les changements'|trans }}
            </button>
        </form>
        <br><br><br><br>
    {% endif %}

{% endblock %}
