{% extends 'ISIBundle:Scolarite:index.html.twig' %}

{% block title %}
    Réaménagement de{{ classe.libelleFr}}
{% endblock %}

{% block body %}
    {% set grp = '' %}
    {% if regime is same as('A') %}
      {% set grp = 'Académie' %}
    {% else %}
      {% set grp = 'Formation' %}
    {% endif %}
    <h3>{{ 'Réaménagement de la classe'|trans }} {{ classe.libelleFr}} </h3>
    <form class="ui form" action="{{ path('isi_appliquer_reamenagement', {'as': asec, 'annexeId': annexe.id, 'regime': regime, 'classeId': classe.id}) }}" method="post">
        <button class="ui small primary labeled icon button">
          <i class="save icon"></i> {{ 'Appliquer les changements'|trans }}
        </button>
        <table class="ui very basic table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Avatar</th>
                    <th>Matricule</th>
                    <th>Nom & Prénom</th>
                    <th>Classe</th>
                    {% if regime == 'A' %}
                        <th>Halaqa</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% set i = 0 %}
                {% for eleve in eleves %}
                    {% set i = i + 1 %}
                    <tr class="positive">
                        <td>{{ i }}</td> 
                        <td><img class="ui avatar image" src="{{ asset('images/logoISI-x.png') }}" /></td> 
                        <td>{{ eleve.matricule }}</td> 
                        <td>{{ eleve.nomFr }} {{ eleve.pnomFr }}</td> 
                        <td>
                            <select class="ui fluid dropdown" name="classe[{{ eleve.id }}]">
                                <option value="">{{ 'Sélectionner une classe'|trans }}</option>
                                {% for cl in classes %}
                                    {% if cl.genre == 'M' or (cl.genre == 'H' and eleve.sexe == 1) or (cl.genre == 'F' and eleve.sexe == 2) %}
                                        <option value="{{ cl.id }}">{{ cl.libelleFr }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>  
                        {% if regime == 'A' %}
                            <td>
                                <select class="ui fluid dropdown" name="halaqa[{{ eleve.id }}]">
                                    <option value="">{{ 'Sélectionner une halaqa'|trans }}</option>
                                    {% for halaqa in halaqas %}
                                        {% if halaqa.genre == 'M' or (halaqa.genre == 'H' and eleve.sexe == 1) or (halaqa.genre == 'F' and eleve.sexe == 2) %}
                                            <option value="{{ halaqa.id }}">{{ halaqa.libelle }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td> 
                        {% endif %}
                    </tr>              
                {% endfor %}               
            <tbody>
        <table>
        <button class="ui right floated small primary labeled icon massive button">
          <i class="save icon"></i> {{ 'Appliquer les changements'|trans }}
        </button>
    </form>
{% endblock %}
