{% extends 'ISIBundle:Scolarite:index.html.twig' %}

{% block pageTitle %}
    Accueil réaménagement
{% endblock %}

{% block content %}
    {% set grp = '' %}
    {% if regime is same as('A') %}
      {% set grp = 'Académie' %}
    {% else %}
      {% set grp = 'Formation' %}
    {% endif %}
    <h3>{{ 'Réaménagement des classes'|trans }} : {{ grp }}</h3>
    {# Cas de fiches de notes déjà éditées #}
      {% for message in app.session.flashbag.get('error') %}
        <div class="ui red message">
          <div class="header">{{ 'Attention'|trans }} !!! </div>
          <ul class="list">
            <li>{{ message }}</li>
          </ul>
        </div>
      {% endfor %}
      {% for message in app.session.flashbag.get('info') %}
        <div class="ui green message">
          <div class="header">{{ 'Notification'|trans }}Notification: </div>
          <ul class="list">
            <li>{{ message }}.</li>
          </ul>
        </div>
      {% endfor %}
    {# Fin des notifications #}
    {% if classes is empty %}
      <p>{{ 'Pas de classes pour le moment'|trans }}</p>
    {% else %}
        {% for niveau in niveaux %}
                <h2>{{ niveau.libelleFr }}</h2>
                <div class="ui middle aligned selection list">
                    {% for classe in classes %}
                        {% if classe.niveau.id == niveau.id %}
                            <div class="item">
                                <div class="right floated content">
                                  <a class="ui button" href="{{ path('isi_reamenager_une_classe', {'as': asec, 'regime': regime, 'classeId': classe.id}) }}">
                                    {{ 'Réaménager la classe'|trans }}
                                  </a>
                                </div>
                                <img class="ui avatar image" src="/markaz/web/images/logoISI-x.png">
                                <div class="content">
                                  {{ classe.libelleFr }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
        {% endfor %}
    {% endif %}
{% endblock %}
