{# Page d'ajout d'un nouvel examen #}

{% extends "ISIBundle:Parametres:index.html.twig" %}

{% block pageTitle %}
	Enregistrer examen
{% endblock %}

{% block content %}
	<h3>{{ 'Enregistrement d\'un nouvel examen'|trans }}</h3>

	<div class="well">
		{#{{ form_start(form, {'attr': {'class': ''}}) }}
			<div class="form-group">

			    {{ form_label(form.libelleanneescolaire, "Année scolaire", {'label_attr': {'class': ''}}) }}


			    {{ form_errors(form.libelleanneescolaire) }}

			    <div class="">

			        {{ form_widget(form.libelleanneescolaire, {'attr': {'class': ''}}) }}
			    </div>
		    </div>

		    {{ form_widget(form.save, {'attr': {'class': ''}}) }}

	  	{{ form_end(form) }}#}
      {{ form(form) }}
	</div>

{% endblock %}
