{# Page d'ajout d'une nouvelle année scolaire #}

{% extends "ISIBundle:Parametres:index.html.twig" %}

{% block title %}
	Nouvelle année
{% endblock %}

{% block body %}
	<h3>{{ 'Enregistrement d\'une nouvelle année scolaire'|trans }}</h3>

	<div class="well">
		{{ form_start(form, {'attr': {'class': 'ui form'}}) }}
			<div class="field">
				{# Génération du label. #}
				{{ form_label(form.libelle) }}
				{# Affichage des erreurs pour ce champ précis. #}
				{{ form_errors(form.libelle) }}
				{# Génération de l'input. #}
				{{ form_widget(form.libelle, {'attr': {'class': ''}}) }}
			</div>
			<div class="four fields">
				<div class="field">
					<label for="debut_semestre_1">Début des cours du premier semestre</label>
					<input type="date" name="debut_semestre_1" id="debut_semestre_1" required>
				</div>
				<div class="field">
					<label for="fin_semestre_1">Fin des cours du premier semestre</label>
					<input type="date" name="fin_semestre_1" id="fin_semestre_1" required>
				</div>
				<div class="field">
					<label for="debut_semestre_2">Début des cours du second semestre</label>
					<input type="date" name="debut_semestre_2" id="debut_semestre_2" required>
				</div>
				<div class="field">
					<label for="fin_semestre_2">Fin des cours du second semestre</label>
					<input type="date" name="fin_semestre_2" id="fin_semestre_2" required>
				</div>
			</div>
		    {{ form_widget(form.save, {'attr': {'class': 'ui primary button'}}) }}

	  	{{ form_end(form) }}
	</div>

{% endblock %}
