{# Page d'ajout d'une nouvelle année scolaire #}

{% set template = '' %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {% set template = "ISIBundle:Admin:index.html.twig" %}
    {% elseif is_granted('ROLE_INTERNAT') %}
        {% set template = "ISIBundle:Internat:index.html.twig" %}
    {% elseif is_granted('ROLE_DIRECTION_ENSEIGNANT') %}
        {% set template = "ENSBundle:Enseignant:index.html.twig" %}
    {% elseif is_granted('ROLE_ETUDE') %}
        {% set template = "ISIBundle:Etude:index.html.twig" %}
    {% elseif is_granted('ROLE_SCOLARITE') %}
        {% set template = "ISIBundle:Default:index.html.twig" %}
    {% elseif is_granted('ROLE_ORGANISATION') %}
        {% set template = "ORGBundle:Default:index.html.twig" %}
    {% elseif is_granted('ROLE_ENSEIGNANT') %}
        {% set template = "ENSBundle:Enseignant:index.html.twig" %}
	{% elseif is_granted('ROLE_ADMIN_ANNEXE') %}
		{% set template = "ENSBundle::index.html.twig" %}
    {% endif %}
{% extends template %}

{% block title %}
	Années précédentes
{% endblock %}

{% block body %}
	<h3>{{ 'Années scolaires précédentes'|trans }}</h3>
	<div class="ui cards">
		{% for item in annees %}
			<div class="card">
				<div class="content">
					<img class="right floated mini ui image" src="{{ asset('images/logoISI-x.png') }}">
					<div class="header">{{ item.libelle }} </div>
				</div>
				{% set route_params = "5" %}
				<div class="extra content">
					<div class="ui buttons">
						<a href="{{ path('isi_homepage', {'as': item.id, 'annexeId': annexe.id}) }}">
							<div class="ui basic green button">{{ 'Revenir en '|trans }}<strong>{{ item.libelle}}</strong> </div>
						</a>
						{% if item.achevee == 0 and is_granted('ROLE_SUPER_ADMIN') %}
							<a href="{{ path('edit_annee', {'as': item.id, 'annexeId': annexe.id}) }}">
								<div class="ui basic primary button">{{ 'Editer l\'année'|trans }}</div>
							</a>
						{% endif %}
						
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
