{# Page d'ajout d'une nouvelle année scolaire #}

{% extends "ISIBundle:Parametres:index.html.twig" %}

{% block pageTitle %}
	Années précédentes
{% endblock %}

{% block content %}
	<h3>{{ 'Années scolaires précédentes'|trans }}</h3>
	<div class="ui cards">
		{% for anneeP in annees %}
			<div class="card">
				<div class="content">
					<img class="right floated mini ui image" src="/markaz/web/images/logoISI-x.png">
					<div class="header">{{ anneeP.libelleAnneeScolaire }} </div>
				</div>
				{% set route_params = "5" %}
				<div class="extra content">
					<div class="ui buttons">
						<a href="{{ path('isi_parametres', {'as': anneeP.anneeScolaireId}) }}">
							<div class="ui basic green button">{{ 'Revenir en '|trans }}{{ anneeP.libelleAnneeScolaire}} </div>
						</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
