{# Page de gestion des classes #}

{% extends "ISIBundle:Parametres:index.html.twig" %}

{% block pageTitle %}
  Gestion des classes
{% endblock %}

{% block content %}
  <h3>{{ 'Gestion des classes'|trans }}</h3>
  <a href="{{ path('isi_nouvelle_classe', {'as': asec, 'regime': regime}) }}">
    <button class="positive ui button">
      <i class="plus icon"></i>
      {{ 'Ajouter une classe'|trans }}
    </button>
  </a>
  <div class="ui hidden divider"></div>
  {% if classes is empty %}
    <p>{{ 'Aucune classe n\'a encore été enregistrée'|trans }}</p>
  {% else %}
    <div class="column" style="width:75%">
      <table class="ui selectable very basic table" id="classes">
        <thead>
          <tr>
            <th width="10%">N°</th>
            <th>Niveaux</th>
            <th>Classses</th>
            <th>المستويات</th>
            <th>الفصول</th>
            <th class="two wide">{{ 'Actions'|trans }}</th>
          </tr>
        </thead>
        <tbody>
          {% set numero = 0 %}
          {% for classe in classes %} 
            {% if classe.niveau.groupeFormation.referenceGrp is same as(regime) %}
              {% set numero = numero + 1 %}
              <tr>
                <td>
                  <h4 class="ui image header">{{ numero }}</h4>
                </td>
                <td>
                  <h4 class="ui image header">{{ classe.getNiveau.getLibelleFr }}</h4>
                </td>
                <td>
                  <h4 class="ui image header">{{ classe.libelleclasseFr }}</h4>
                </td>
                <td>
                  <h4 class="ui image header">{{ classe.getNiveau.getLibelleAr }}</h4>
                </td>
                <td>
                  <h4 class="ui image header">{{ classe.libelleclasseAr }}</h4>
                </td>
                <td>
                  <a href="{{ path('isi_edit_classe', {'as': classe.anneescolaire.anneeScolaireId, 'classeId': classe.classeId, 'regime': regime}) }}">
                    <i class="edit icon"></i>
                  </a>
                  <a>
                    <i class="delete icon"></i>
                  </a>
                </td>
              </tr>
            {% endif %} 
          {% endfor %}
        </tbody>
      </table>
      <hr width="75%">
      <script data-config>
        var filtersConfig = {
          base_path: '/markaz/web/TableFilter/dist/tablefilter/',
          col_0: "none",
          col_1: 'select',
          col_3: 'select',
          col_5: 'none',
          alternate_rows: true,
          rows_counter: true,
          btn_reset: true,
          loader: true,
          status_bar: true,
          mark_active_columns: true,
          highlight_keywords: true,
          no_results_message: true,
          col_types: [
            'number', 'string', 'string', 'string'
          ],
          col_widths: [
              '20px', , , '200px'
          ],
          extensions: [{ name: 'sort' }]
        };

        var tf = new TableFilter('classes', filtersConfig);
        tf.init();
      </script>
    </div><br><br>
  {% endif %}

{% endblock %}
