{# Page de gestion des matières #}

{% extends "ISIBundle:Parametres:index.html.twig" %}

{% block pageTitle %}
	Index | Matières
{% endblock %}

{% block content %}
	<h3>{{ 'Gestion des matieres'|trans }}</h3>
	{% if is_granted('ROLE_ETUDE') %}
		<a href="{{ path('isi_nouvelle_matiere', {'as': asec}) }}">
			<button class="positive ui button">
				<i class="plus icon"></i>
				{{ 'Ajouter une matière'|trans }}
			</button>
		</a>
	{% endif %}

	{% if matieres is null %}
		<p>{{ 'Aucune matière n\'a encore été enregistrée'|trans }}</p>
	{% else %}
	<div class="ui cards">
		{% for matiere in matieres %}
			<div class="card">
				<div class="content">
					<img class="right floated mini ui image" src="/markaz/web/images/logoISI-x.png">
					<div class="header">{{ matiere.libelleMatiere }} </div>
					<div class="meta">{{ matiere.referenceLangue.libelleLangue }}</div>
				</div>
				<div class="extra content">
					<div class="ui two buttons">
						{% if is_granted('ROLE_ADMIN_SCOLARITE') %}
							<a href="{{ path('isi_edit_matiere', {'as': asec, 'matiereId': matiere.matiereId}) }}">
								<div class="ui basic green button">{{ 'Modifier'|trans }}</div>
							</a>
							<a href="">
								<div class="ui basic red button">{{ 'Supprimer'|trans }}</div>
							</a>
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	{% endif %}

{% endblock %}
