{% extends "ENSBundle:Default:index.html.twig" %}


{% block title %}
  Voir les absences enregistrées
{% endblock %}

{% block contextual_menu %}
  {{ include("ENSBundle:AbsencesEtRetards:contextual-menu-retards-et-absences.html.twig") }}
{% endblock %}

{% block section %}
  <i class="flag checkered icon"></i>{{ 'Absences'|trans }}
{% endblock %}

{% block body %}
  <h3>{{ 'Retards enregistrés'|trans }}</h3>
  <br />
  {# {{ dump(moisR) }} #}
  <div class="ui accordion">
    {% for abs in absencesEns %}
      <div class="title"><h3><i class="dropdown icon"></i> {{ abs.nomFr }} </h3></div>
      <div class="content">
          <p>
            {% for absence in absences %}
              {% if abs.id == absence.getContrat.getId %}
                {% set date = "" %}
                {% if absence.dateDepart == absence.dateRetour %}
                  {% set date = "même jour" %}
                {% else %}
                  {% set date = absence.dateRetour|date("d-m-Y") %}
                {% endif %}
                Parti le {{ absence.dateDepart|date("d-m-Y") }} pour "{{ absence.getMotif }}". Retour prévu pour le {{ date }}. <br />
              {% endif %}
            {% endfor %}
          </p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
