<div class="header">{{ 'Retards'|trans }}</div>
<a class="item" href="{{ path('ens_voir_retards_home', {'as': asec, 'annexeId': annexe.id}) }}">{{ 'Voir les retards'|trans }}</a>
<a class="item" href="">{{ 'Modifier les retards'|trans }}</a>
<div class="header">{{ 'Absences'|trans }}</div>
<a class="item" href="{{ path('ens_voir_absences_home', {'as': asec, 'annexeId': annexe.id}) }}">{{ 'Voir les absences'|trans }}</a>