{% extends "ENSBundle:Default:index.html.twig" %}

{% block title %}
  Index Absence
{% endblock %}

{% block contextual_menu %}
  {{ include("ENSBundle:AbsencesEtRetards:contextual-menu-retards-et-absences.html.twig") }}
{% endblock %}

{% block section %}
  <i class="flag checkered icon"></i>{{ 'Absences'|trans }}
{% endblock %}

{% block body %}
    <h2>{{ 'Enregistrement d\'absences des enseignants '|trans }} {{ annee.getLibelle }}</h2>
    {% if contrats is not defined %}
        <p>{{ 'Il n y a auccun enseignant enregistré pour le moment'|trans }}</p>
    {% else %}
        <table id="table-ens" cellspacing="0" class="mytable filterable ui very basic table">
          <thead>
            <tr>
              <th>{{ 'N°'|trans }}</th>
              <th>{{ 'Matricule'|trans }}</th>
              <th>Nom & Prénom</th>
              <th>الإسم و اللقب</th>
              <th>{{ 'Sexe'|trans }}</th>
              <th>{{ 'Actions'|trans }}</th>
            </tr>
          </thead>
          <tbody>
            {% set n = 0 %}
            {% for contrat in contrats %}
              {% set n = n + 1 %}
              {% set color = "" %}
              {% if (n % 2) == 0 %}
                  {% set color = "WhiteSmoke" %}
              {% endif %}
              <tr bgcolor="{{ color }}">
                <td>{{ n }}</td>
                <td>{{ contrat.getContrat.getEnseignant.getMatricule }}</td>
                <td>{{ contrat.getContrat.getEnseignant.getNomFr }} {{ contrat.getContrat.getEnseignant.getPnomFr }}</td>
                <td>{{ contrat.getContrat.getEnseignant.getNomAr }} {{ contrat.getContrat.getEnseignant.getPnomAr }}</td>
                <td>
                  {% if contrat.getContrat.getEnseignant.getSexe == 1 %}
                    {{ 'ذكر' }}
                  {% else %}
                    {{ 'أنثى' }}
                  {% endif %}
                </td>
                {# <!-- <td>{{ contrat.getContrat.getEnseignant.getdateNaissance|localizeddate('full', 'none', 'locale') }}</td> --> #}
                <td>
                  <a href="{{ path('ens_enregistrer_absence', {'as': asec, 'contratId': contrat.getContrat.getId}) }}" data-tooltip="Enregistrer une absence">
                    <i class="info circle icon"></i>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    {% endif %}
{% endblock %}
