{% extends "ENSBundle:Default:index.html.twig" %}

{% block title %}
  Retards du mois ({{ mois.mois }})
{% endblock %}

{% block contextual_menu %}
  {{ include("ENSBundle:AbsencesEtRetards:contextual-menu-retards-et-absences.html.twig") }}
{% endblock %}

{% block section %}
  <i class="flag checkered icon"></i>{{ 'Retards'|trans }}
{% endblock %}

{% block body %}
  <h3>{{ 'Retards enregistrés pour le mois de '|trans }} {{ mois.mois }}</h3>
  {# Cas de fiches de notes déjà éditées #}
    {% for message in app.session.flashbag.get('error') %}
      <div class="ui red message">
        <div class="header">{{ 'Attention'|trans }} !!! </div>
        <ul class="list">
          <li>{{ message|raw }}</li>
        </ul>
      </div>
    {% endfor %}
    {% for message in app.session.flashbag.get('info') %}
      <div class="ui green message">
        <div class="header">{{ 'Notification'|trans }}: </div>
        <ul class="list">
          <li>{{ message|raw }}.</li>
        </ul>
      </div>
    {% endfor %}
  {# Fin des notifications #}
  <br />
  <p class="accordeon"><center><a href="{{ path('ens_voir_retards_mois_cumul', {'as': asec, 'moisId': mois.getId }) }}">------------- Bilan mensuel -------------</a></center></p>
  <div class="ui accordion">
    {% for jour in jours %}
        <div class="title"><h3><i class="dropdown icon"></i> Le {{ jour.date|date("d-m-Y") }}</h3></div>
        <div class="content">
          <p>
            {% for retard in retards %}
              {% if retard.date == jour.date %}
                {{ retard.matricule }} -> {{ retard.nomFr }} -> {{ retard.periode }}({{ retard.duree }} mm)<br />
              {% endif %}
            {% endfor %}
          </p>
        </div>
    {% endfor %}
  </div>
{% endblock %}
