{# On affiche toues les classes d'un niveau de formation. On sélectionne alors une classe pour aller saisir les notes #}

{% extends 'ENSBundle:Enseignant:layout.html.twig' %}

{% block pageTitle %}
  Voir les retards enregistrés
{% endblock %}

{% block contextual_menu %}
  {{ include("ENSBundle:AbsencesEtRetards:contextual-menu-retards-et-absences.html.twig") }}
{% endblock %}

{% block titre_page %}
  <i class="flag checkered icon"></i>{{ 'Retards'|trans }}
{% endblock %}

{% block body %}
  <h3>{{ 'Retards enregistrés'|trans }}</h3>
  {# Cas de fiches de notes déjà éditées #}
    {% for message in app.session.flashbag.get('error') %}
      <div class="ui red message">
        <div class="header">{{ 'Attention'|trans }} !!! </div>
        <ul class="list">
          <li>{{ message }}</li>
        </ul>
      </div>
    {% endfor %}
    {% for message in app.session.flashbag.get('info') %}
      <div class="ui green message">
        <div class="header">{{ 'Notification'|trans }}: </div>
        <ul class="list">
          <li>{{ message }}.</li>
        </ul>
      </div>
    {% endfor %}
  {# Fin des notifications #}
  <br />
  {# {{ dump(moisR) }} #}
  <div class="ui six cards">
    {% for mr in moisR %}
      {% for m in mois %}
        {% if mr.mois == m.id %}
          <div class="card">
            <div class="content">
              <a href="{{ path('ens_voir_retards_mois', {'as': asec, 'moisId': m.id}) }}">
                <div class="content">
                  <img class="right floated mini ui image" src="/markaz/web/images/logoISI-x.png">
                  <div class="header"><h4>{{ m.mois }}</h4> </div>
                  <div class="meta"></div>
                  <div class="description"></div>
                </div>
              </a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
{% endblock %}
