{% extends "ENSBundle:Default:index.html.twig" %}

{% block title %}
  Voir les retards enregistrés
{% endblock %}

{% block contextual_menu %}
  {{ include("ENSBundle:AbsencesEtRetards:contextual-menu-retards-et-absences.html.twig") }}
{% endblock %}

{% block section %}
  <i class="flag checkered icon"></i>{{ 'Retards'|trans }}
{% endblock %}

{% block body %}
  <h3>{{ 'Retards enregistrés'|trans }}</h3>
  <br />
  {# {{ dump(moisR) }} #}
  <div class="ui six cards">
    {% for mr in moisR %}
      {% for m in mois %}
        {% if mr.mois == m.id %}
          <div class="card">
            <div class="content">
              <a href="{{ path('ens_voir_retards_mois', {'as': asec, 'annexeId': annexe.id, 'moisId': m.id}) }}">
                <div class="content">
                  <img class="right floated mini ui image" src="{{ asset('images/logoISI-x.png') }}">
                  <div class="header"><h4>{{ m.mois }}</h4> </div>
                  <div class="meta"></div>
                  <div class="description"></div>
                </div>
              </a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
{% endblock %}
