<div class="ui vertical menu">
    <div class="item">
        <div class="header">{{ 'Année scolaire'|trans }}</div>
        <div class="menu">
            {% if is_granted('ROLE_ADMIN_SCOLARITE') or is_granted('ROLE_ADMIN_ANNEXE') %}
                <a class="item" href="{{ path('isi_nouvelle_annee', {'as': asec}) }}">{{ 'Nouvelle année'|trans }}</a>
            {% endif %}
            <a class="item" href="{{ path('isi_annees_precedentes', {'as': asec, 'route': app.request.get('_route'), 'route_params': app.request.get('_route_params')})}}">{{ 'Années précédentes'|trans }}</a>
        </div>
    </div>
    <div class="item">
        <div class="header">{{ 'Académie'|trans }}</div>
        <div class="menu">
            {% if is_granted('ROLE_ADMIN_SCOLARITE') or is_granted('ROLE_ADMIN_ANNEXE') %}
                <a class="item" href="{{ path('isi_gestion_classes', {'as': asec, 'regime': 'A'}) }}">{{ 'Gestion des classes'|trans }}</a>
                <a class="item" href="{{ path('isi_gestion_halaqas', {'as': asec, 'regime': 'A'}) }}">{{ 'Gestion des halaqas'|trans }}</a>
            {% endif %}
            <a class="item" href="{{ path('isi_niveaux_matieres', {'as': asec, 'regime': 'A'}) }}">{{ 'Contenu de formation'|trans }}</a>
        </div>
    </div>
    <div class="item">
        <div class="header">{{ 'Centre de formation'|trans }}</div>
        <div class="menu">
            {% if is_granted('ROLE_ADMIN_SCOLARITE') or is_granted('ROLE_ADMIN_ANNEXE') %}
                <a class="item" href="{{ path('isi_gestion_classes', {'as': asec, 'regime': 'F'}) }}">{{ 'Gestion des classes'|trans }}</a>
            {% endif %}
            <a class="item" href="{{ path('isi_niveaux_matieres', {'as': asec, 'regime': 'F'}) }}">{{ 'Contenu de formation'|trans }}</a>
        </div>
    </div>
    <div class="item">
        <div class="header">{{ 'Espace Coran'|trans }}</div>
        <div class="menu">
            {% if is_granted('ROLE_ADMIN_SCOLARITE') or is_granted('ROLE_ADMIN_ANNEXE') %}
                <a class="item" href="{{ path('isi_gestion_halaqas', {'as': asec, 'regime': 'C'}) }}">{{ 'Gestion des halaqa'|trans }}</a>
            {% endif %}
        </div>
    </div>
    <div class="item">
        <div class="header">{{ 'Examens'|trans }}</div>
        <div class="menu">
            <a class="item" href="{{ path('isi_afficher_fiches_de_notes', {'as': asec, 'regime': 'A'}) }}">{{ 'Tirer fiches de notes: Académie'|trans }}</a>
            <a class="item" href="{{ path('isi_afficher_fiches_de_notes', {'as': asec, 'regime': 'F'}) }}">{{ 'Tirer fiches de notes: Formation'|trans }}</a>
            <a class="item" href="{{ path('isi_bilan_annuel_home', {'as': asec}) }}">{{ 'Bilan annuel'|trans }}</a>
        </div>
    </div>
</div>
