<div class="ui divider"></div>
<div class="header">Autres Directions</div>
<a class = "item" href = "{{ path('admin_home', {'as'              : annee.id, 'annexeId': annexe.id}) }}">{{ 'Home Panel Admin'|trans }}</a>
<a class = "item" href = "{{ path('isi_home_scolarite', {'annexeId': annexe.id}) }}">{{ 'Direction affaires scolaires'|trans }}</a>
<a class = "item" href = "{{ path('ens_home', {'as'                : asec, 'annexeId'    : annexe.id}) }}">{{ 'Direction des enseignants'|trans }}</a>
{% if is_granted("ROLE_SUPER_ADMIN") %}
    <a class = "item" href = "{{ path('etude_home', {'as'          : asec, 'annexeId': annexe.id}) }}">{{ 'Direction des études'|trans }}</a>
    <a class = "item" href = "{{ path('org_homepage', {'as'        : asec, 'annexeId': annexe.id}) }}">{{ 'Direction affaires sociales'|trans }}</a>
    <a class = "item" href = "{{ path('internat_home', {'as'       : asec, 'annexeId': annexe.id}) }}">{{ 'Gestion de l\'internat'|trans }}</a>
    <a class = "item" href = "{{ path('isi_user', {'as'            : asec, 'annexeId': annexe.id}) }}">{{ 'Gestion des utilisateurs'|trans }}</a>
    <a class = "item" href = "{{ path('agents', {'as'              : asec, 'annexeId': annexe.id}) }}">{{ 'Agents de l\'Institut'|trans }}</a>
    <a class = "item" href = "{{ path('liste_recipiendaires', {'as': asec, 'annexeId': annexe.id}) }}">{{ 'Récipiendaires'|trans }}</a>
{% endif %}
