<!DOCTYPE html>
{% set dir = '' %}
{% set dir2 = '' %}
{% if app.request.locale == 'fr' %}
  {% set dir = 'ltr' %}
  {% set dir2 = 'right' %}
{% else %}
  {% set dir = 'rtl' %}
  {% set dir2 = 'left' %}
{% endif %}
<html dir="{{ dir }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
          <link rel="stylesheet" type="text/css" href="{{ asset('../vendor/semantic/ui/dist/semantic.min.css') }}" />
          <link rel="stylesheet" type="text/css" href="{{ asset('DataTables/datatables.min.css') }}">
          <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
        {% endblock %}

        {% block javascripts %}
        <script src="{{ asset('js/jquery-3.3.1.js') }}"></script>
        <script src="{{ asset('TableFilter/dist/tablefilter/tablefilter.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
        <script src="{{ asset('js/ajax.js') }}"></script>
        <script src="{{ asset('Highcharts-6.1.0/code/highcharts.js') }}"></script>
        <script src="{{ asset('DataTables/datatables.min.js') }}"></script>

        {# Bundle JS routing #}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
      {% if not is_granted('ROLE_PREINSCRIPTION') %}
        <div class="ui fixed borderless main menu">
          <div class="ui container">
            <a class="item" href="{{ path('isi_home_scolarite') }}">
              <h4 class="ui header"><span class="style-main-menu"><i class="home icon"></i>{{ 'Accueil'|trans }}</span></h4>
            </a>
            <div class="ui input">
              <div class="ui simple dropdown item">
                <a>
                  <h4 class="ui header"><span class="style-main-menu"><i class="student icon"></i>{{ 'Espace élèves'|trans }}</span></h4>
                </a>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <span class="sub-menu">
                    <a class="item" href="{{ path('isi_espace_eleve', {'as': asec, 'regime': 'A'}) }}">
                      {{ 'Académie'|trans }}
                    </a>
                    <a class="item" href="{{ path('isi_espace_eleve', {'as': asec, 'regime': 'F'}) }}">
                      {{ 'Centre de formation'|trans }}
                    </a>
                  </span>
                </div>
              </div>
            </div>
            <div class="ui input">
              <div class="ui simple dropdown item">
                <a>
                  <h4 class="ui header"><span class="style-main-menu"><i class="folder open icon"></i>{{ 'Affaires scolaires'|trans }}</span></h4>
                </a>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <span class="sub-menu">
                    <a class="item" href="{{ path('isi_affaires_scolaires', {'as': asec, 'regime': 'A'}) }}">{{ 'Académie'|trans }}</a>
                    <a class="item" href="{{ path('isi_affaires_scolaires', {'as': asec, 'regime': 'F'}) }}">{{ 'Centre de formation'|trans }}</a>
                  </span>
              </div>
              </div>
            </div>
            <a class="item" href="{{ path('isi_espace_coran_home', {'as': asec, 'regime': 'C'}) }}">
              <h4 class="ui header"><span class="style-main-menu"><i class="book icon"></i> {{ 'Espace coran'|trans }}</span></h4>
            </a>
            <a class="item" href="{{ path('isi_parametres', {'as': asec}) }}">
              <h4 class="ui header"><span class="style-main-menu"><i class="settings icon"></i> {{ 'Paramètres'|trans }}</span></h4>
            </a>
            <div class="ui input">
              <div class="ui simple dropdown item">
                <a href="{{ path('disposition_home', {'as': asec}) }}">
                  <h4 class="ui header"><span class="style-main-menu"><i class="tasks icon"></i>{{ 'Disposition classes'|trans }}</span></h4>
                </a>
              </div>
            </div>
            <div class="{{ dir2 }} item">
              <div class="ui input">
                <div class="ui simple dropdown item">
                  <span class="style-main-menu">{{ 'Mon compte perso'|trans }}
                  <i class="dropdown icon"></i></span>
                  <div class="menu">
                    <a class="item" href="{{ path('isi_account', {'as': asec, 'userType': 'other'}) }}"><i class="edit icon"></i> {{ 'Modifier mon profil'|trans }}</a>
                    <a class="item" href="{{ path('msg_homepage') }}"><i class="envelope outline icon"></i> {{ 'Messages'|trans }}</a>
                    <a class="item" href="{{ path('isi_change_langue', {'as': asec, 'route': app.request.get('_route'), 'route_params': app.request.get('_route_params')}) }}"><i class="globe icon"></i> {{ 'Changer la langue'|trans }}</a>
                    <a class="item" href="{{ path('fos_user_security_logout') }}"><i class="sign out icon"></i> {{ 'Déconnexion'|trans }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% else %}
        <div class="menu_principal ">
          <div class="ui attached stackable menu">
            <div class="ui container">
              <div class="ui input">
                <div class="ui simple dropdown item">
                  <h4 class="ui header"><span class="style-main-menu"><i class="student icon"></i>{{ 'Espace élèves'|trans }}</span></h4>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    <span class="sub-menu">
                      <a class="item" href="{{ path('isi_espace_eleve', {'as': asec, 'regime': 'A'}) }}">
                        {{ 'Académie'|trans }}
                      </a>
                      <a class="item" href="{{ path('isi_espace_eleve', {'as': asec, 'regime': 'F'}) }}">
                        {{ 'Centre de formation'|trans }}
                      </a>
                    </span>
                  </div>
                </div>
              </div>
              <div class="{{ dir2 }} item">
                <div class="ui input">
                  <div class="ui simple dropdown item">
                    <span class="style-main-menu">{{ 'Mon compte perso'|trans }}
                    <i class="dropdown icon"></i></span>
                    <div class="menu">
                      <a class="item" href="{{ path('isi_change_langue', {'as': asec, 'route': app.request.get('_route'), 'route_params': app.request.get('_route_params')}) }}"><i class="globe icon"></i> {{ 'Changer la langue'|trans }}</a>
                      <a class="item" href="{{ path('fos_user_security_logout') }}"><i class="sign out icon"></i> {{ 'Déconnexion'|trans }}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      <div class="main container">
        <div class="ui hidden divider"></div>
          <div class="ui internally celled grid" id="example1">
            <div class="ui rail row">
              <div class="ui sticky three wide column" style="left: 0px; top: 0px;">
                <div class="ui tertiary segment">
                  <p>{{ 'Année scolaire'|trans }}: <strong>{{ annee.libelle }}</strong></p>
                </div>
                <p>
                  {% if is_granted('ROLE_SUPER_ADMIN') %}
                    {{ 'Admin'|trans }}:
                  {% else %}
                    {{ 'Utilisateur'|trans }} :
                  {% endif %}
                  <a class="ui basic image label">
                    <img src="/markaz/web/images/elliot.jpg">
                    <strong>{{ app.user.username }}</strong>
                  </a>
                </p>
                <div class="ui vertical menu">
                  <div class="item">
                    <div class="header">{{ 'Année scolaire'|trans }}</div>
                    <div class="menu">
                      <a class="item" href="{{ path('isi_annees_precedentes', {'as': asec, 'route': app.request.get('_route'), 'route_params': app.request.get('_route_params')})}}">{{ 'Années précédentes'|trans }}</a>
                    </div>
                  </div>
                </div>
                {% block contextual_menu %}
                {% endblock %}
            </div>
            <div class="thirteen wide column">
              {% block body %}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </body>
    <script>
      {# Push.create("Un nouvel article a été publié sur ShevArezo`blog !", {
          body: "CanIUse en ligne de commande",
          icon: 'icon.png',
          timeout: 4000,
          onClick: function () {
              window.open('http://blog.shevarezo.fr/post/2015/08/13/caniuse-ligne-commande-css', '_self');
          }
      }); #}
      $("document").ready(function(){
        $('#bt').on('click', function(){

        })

      });
      $('.test').velocity('callout.bounce')
    </script>
    <script>
      $("document").ready(function(){
        $('.ui.sticky')
          .sticky({
            context: '#example1'
          });
      });
    </script>
    {% block javascript %}
    {% endblock %}
</html>
