{% extends "ISIBundle:Examen:base-bulletin.html.twig" %}

{% block body %}
    <!-------------------------    Début tableau des notes  ---------------------------->
    <table class="les-notes" align="center">
        <tr class="">
            <th class="" width="" align="">المواد</th>
            <th class="" width="10%" align="">الفصل 1</th>
            <th class="" width="10%" align="">الفصل 2</th>
            <th class="" width="" align="">الوحدة</th>
            <th class="" width="15%" align="">المعدل السنوي</th>
            <th class="" width="" align="">التوقيع</th>
            <th class="" width="" align="">موافق</th>
        </tr>
        <!-- Dans la boucle des matières, on boucle une fois de plus sur les notes -->
        {% set color = '' %}
        {% set numero = 0 %}
        {% set appreciation = '' %}
        {% set moyenneMatiere = 0 %}
        {% for note1 in notes1 %}
            {% if (numero % 2) == 0 %}
                {% set color = 'white' %}
            {% else %}
                {% set color = 'rgb(255, 255, 230)' %}
            {% endif %}
                <!-- On va sélectionner les notes de la seconde session -->
                {% for note2 in notes2 %}
                    {% if eleve.id == note1.eleve.id and eleve.id == note2.eleve.id and note1.matiere.id == note2.matiere.id %}
                        {% set moyenneMatiere = note1.note + note2.note %}
                        {% if moyenneMatiere < 10 %}
                            {% set appreciation = 'ضعيف' %}

                        {% elseif moyenneMatiere >= 10 and moyenneMatiere < 12 %}
                            {% set appreciation = 'مقبول' %}

                        {% elseif moyenneMatiere >= 12 and moyenneMatiere < 16 %}
                            {% set appreciation = 'جيد' %}

                        {% elseif moyenneMatiere >= 16 and moyenneMatiere < 18 %}
                            {% set appreciation = 'جيد جدا' %}

                        {% elseif moyenneMatiere >= 18 and moyenneMatiere <= 20 %}
                            {% set appreciation = 'ممتاز' %}
                        {% endif %}
                        {% set coefficient = ens[note1.matiere.id].coefficient %}
                        <tr class="" bgcolor="{{ color }}">
                            <td class="libelle-matiere">&nbsp;&nbsp;{{ note1.matiere.libelle }}</td>
                            <td class="valeur-note" with="10%" align="center">{{ note1.note }}</td>
                            <td class="valeur-note" with="10%" align="center">{{ note2.note }}</td>
                            <td class="" align="center">{{ coefficient }}</td>
                            <td class="" align="center">{{ moyenneMatiere * coefficient }}</td>
                            <td class="">&nbsp;&nbsp;{{ note1.getAppreciation.getAppreciationAr }}</td>
                            <td class="">&nbsp;&nbsp;
                            {% if moyenneMatiere >= 10 %}
                                نعم
                            {% else %}
                                لا
                            {% endif %}
                            </td>
                        </tr>
                        {% set totalNote = totalNote + moyenneMatiere * coefficient %}
                    {% endif %}
                {% endfor %}
                <!-- Fin de la sélection des notes de la seconde session -->
            {% set numero = numero + 1 %}
        {% endfor %}
        <!-- Fin de la boucle sur les notes -->

    </table>
    <!-------------------------    Fin tableau des notes  ---------------------------->
    <!-- Le tableau des notes et celui de la moyenne se trouvent dans le même div -->
    <!-----------------------   Début tableau des moyennes  ---------------------------->
    {% set nieme = '' %}
    {% if moyenne.getClassementAnnuel == 1 and moyenne.getEleve.getSexe == 1 %}
    <!-- Dans ce cas, c'est un homme. Il faudra donc dire: Le premier -->
        {% set nieme = 'er' %}
    {% elseif moyenne.getClassementAnnuel == 1 and moyenne.getEleve.getSexe == 2 %}
    <!-- Dans ce cas, c'est une femme. Il faudra donc dire: La première -->
        {% set nieme = 'ère' %}
    {% else %}
    <!-- Pour le reste il n'a pas de différence -->
        {% set nieme = 'ème' %}
    {% endif %}

    {% set admission = '' %}
    {% if fq.getEleve.getId == moyenne.getEleve.getId and fq.getAdmission == 0 %} 
        {% set admission = 'راسب' %} 
    {% elseif fq.getEleve.getId == moyenne.getEleve.getId and fq.getAdmission == 1 %} 
        {% set admission = 'ناجح' %} 
    {% endif %}
    <table class="la-moyenne" align="center">
        <tr class="table-line-moyenne">

            <td><span class="titre-info-moyenne">المجموع :&nbsp;&nbsp;</span><span class="info-moyenne">{{ totalNote }}</span></td>
            <td><span class="titre-info-moyenne">المعدل :&nbsp;&nbsp;</span><span class="info-moyenne">{{ moyenne.moyenneAnnuelle|number_format(2) }}</span></td>
            <td><span class="titre-info-moyenne">الترتيب :&nbsp;&nbsp;</span><span class="info-moyenne">{{ moyenne.classementAnnuel }}{#<sup>{{nieme}}</sup>#}</span></td>
            <td>
                <span class="titre-info-moyenne">القرار :&nbsp;&nbsp;</span>
                <span class="info-moyenne">{{ admission }}{#
                    <sup>{{ nieme }}</sup>#}</span>
            </td>
        <tr/>
    </table>
    <!-- Fin de la boucle sur les moyennes, sur les élèves donc -->
{% endblock %}
