{% extends "ISIBundle:Examen:base-bulletins.html.twig" %}

{% block content %}
    <!-- Pour chaque élève de la classe, on va éditer un belletion. Mais le travail se fera avec la moyenne -->
    {% for moyenne in moyennes %}
        {% set totalNote = 0 %}
        <div class="bulletin">
            <table width="100%" align="center">
                <tr>
                    <td align="" width="" class="en-tete-ar">
                        <center>
                            <p>جمهورية ساحل العاج</p>
                            <p>مركز العلوم الإسلامية</p>
                            <p>أبدجان - حي أنياما</p>
                            <p>هاتف : 21373048 - 20248312</p>
                        </center>
                    </td>
                    <td align="" width="" class="">
                        <center>
                        <img src="{{app.request.schemeAndHttpHost ~ asset('../web/images/logoISI.png')}}" alt="" width="60%">
                        </center>
                    </td>
                    <td align="" width="" class="en-tete-fr">
                        <center>
                            <p>REPUBLIQUE DE COTE D'IVOIRE</p>
                            <p>INSTITUT DES SCIENCES ISLAMIQUES</p>
                            <p>ABIDJAN - ANYAMA</p>
                            <p>Tél: 21373048 - 20248312</p>
                        </center>
                    </td>
                </tr>
            </table>
            <h2>
                <center title="{{ moyenne.getEleve.getPnomAr }} {{ moyenne.getEleve.getNomAr }}">{{ session }}</center>
            </h2>
            <br />
            <div>
                <table class="matricule-eleve" align="center">
                    <tr>
                        <td>رقم الطالب</td>
                        <td><span class="matricule">{{moyenne.getEleve.getMatricule}}</span></td>
                        <td>العام الدراسي</td>
                        <td>{{examen.getAnnee.getLibelle}}</td>
                    </tr>
                </table>
            </div>
            <br />
            <div>
                <table class="identification-eleve" align="center">
                    <tr class="infos-identification-eleve">
                        <td class="titre-info-eleve">الاسم الكامل</td>
                        <td class="info-eleve-db">{{moyenne.getEleve.getPnomAr}} {{moyenne.getEleve.getNomAr}}</td>
                    </tr>
                    <tr class="infos-identification-eleve">
                        <td class="titre-info-eleve">Nom & Prénom</td>
                        <td class="info-eleve-db">{{moyenne.getEleve.nomFr}} {{moyenne.getEleve.getPnomFr}}</td>
                    </tr>
                    <tr class="infos-identification-eleve">
                        <td class="titre-info-eleve">تاريخ الميلاد</td>
                        <td class="info-eleve-db">{{ moyenne.getEleve.dateNaissance|date("d-m-Y") }} في {{ moyenne.getEleve.getLieuNaissance }}</td>
                    </tr>
                    <!-- Ici on va déterminer les sexe -->
                    {% set sexe = '' %}
                    {% if moyenne.getEleve.getSexe == 1 %}
                        {% set sexe = 'ذكر' %}
                    {% else %}
                        {% set sexe = 'أنثى' %}
                    {% endif %}
                    <tr class="infos-identification-eleve">
                        <td class="titre-info-eleve">الجنس</td>
                        <td class="info-eleve-db">{{ sexe }}</td>
                    </tr>
                    <tr class="infos-identification-eleve">
                        <td class="titre-info-eleve">المستوى الدراسي</td>
                        <td class="info-eleve-db">{{ classe.libelleAr }}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="effectif">عدد الطلاب : {{ effectif }}</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <!-------------------------    Début tableau des notes  ---------------------------->
                <table class="les-notes" align="center">
                    <tr class="">
                        <th class="" width="" align="">المواد</th>
                        <th class="" width="10%" align="">الفصل 1</th>
                        <th class="" width="10%" align="">الفصل 2</th>
                        <th class="" width="" align="">الوحدة</th>
                        <th class="" width="15%" align="">المعدل السنوي</th>
                        <th class="" width="" align="">التوقيع</th>
                        <th class="" width="" align="">موافق</th>
                    </tr>
                    <!-- On va sélectionner les matières de la classe -->
                    {% for matiere in matieres %}
                        <!-- Dans la boucle des matières, on boucle une fois de plus sur les notes -->
                        {% set color = '' %}
                        {% set numero = 0 %}
                        {% set moyenneMatiere = 0 %}
                        {% set appreciation = '' %}
                        {% for note1 in notes1 %}
                            {% if (numero % 2) == 0 %}
                                {% set color = 'white' %}
                            {% else %}
                                {% set color = 'rgb(255, 255, 230)' %}
                            {% endif %}
                            <!-- On va maintenant sélectionner les notes de l'élèves pour la première session -->
                            {% if moyenne.getEleve.getId == note1.getEleve.getId and matiere.getId == note1.getMatiere.getId|e %}
                                <!-- On va sélectionner les notes de la seconde session -->
                                {% for note2 in notes2 %}
                                    {% if moyenne.getEleve.getId == note2.getEleve.getId and matiere.getId == note2.getMatiere.getId %}
                                        {% set moyenneMatiere = note1.getNote + note2.getNote %}
                                        {% if moyenneMatiere < 10 %}
                                          {% set appreciation = 'ضعيف' %}

                                        {% elseif moyenneMatiere >= 10 and moyenneMatiere < 12 %}
                                          {% set appreciation = 'مقبول' %}

                                        {% elseif moyenneMatiere >= 12 and moyenneMatiere < 16 %}
                                          {% set appreciation = 'جيد' %}

                                        {% elseif moyenneMatiere >= 16 and moyenneMatiere < 18 %}
                                          {% set appreciation = 'جيد جدا' %}

                                        {% elseif moyenneMatiere >= 18 and moyenneMatiere <= 20 %}
                                          {% set appreciation = 'ممتاز' %}
                                        {% endif %}
                                        <tr class="" bgcolor="{{ color }}">
                                          <td class="libelle-matiere">&nbsp;&nbsp;{{ matiere.getLibelle }}</td>
                                          <td class="valeur-note" with="10%" align="center">{{ note1.getNote }}</td>
                                          <td class="valeur-note" with="10%" align="center">{{ note2.getNote }}</td>
                                          <td class=""></td>
                                          <td class="" align="center">{{ moyenneMatiere }}</td>
                                          <td class="">&nbsp;&nbsp;{{ appreciation }}</td>
                                          <td class="">
                                            {% if moyenneMatiere >= 10 %}
                                              نعم
                                            {% else %}
                                              لا
                                            {% endif %}
                                          </td>
                                        </tr>
                                        {% set totalNote = totalNote + moyenneMatiere %}
                                    {% endif %}
                                {% endfor %}
                                <!-- Fin de la sélection des notes de la seconde session -->
                            {% endif %}
                            {% set numero = numero + 1 %}
                        {% endfor %}
                        <!-- Fin de la boucle sur les notes -->
                    {% endfor %}
                    <!-- Fin de la boucle sur les matières -->
                </table>
                <!-------------------------    Fin tableau des notes  ---------------------------->
                <!-- Le tableau des notes et celui de la moyenne se trouvent dans le même div -->
                <!-----------------------   Début tableau des moyennes  ---------------------------->
                {% set nieme = '' %}
                {% if moyenne.getClassementAnnuel == 1 and moyenne.getEleve.getSexe == 1 %}
                <!-- Dans ce cas, c'est un homme. Il faudra donc dire: Le premier -->
                    {% set nieme = 'er' %}
                {% elseif moyenne.getClassementAnnuel == 1 and moyenne.getEleve.getSexe == 2 %}
                <!-- Dans ce cas, c'est une femme. Il faudra donc dire: La première -->
                    {% set nieme = 'ère' %}
                {% else %}
                <!-- Pour le reste il n'a pas de différence -->
                    {% set nieme = 'ème' %}
                {% endif %}
                {% set admission = '' %}
                {% for fq in frequenter %}
                    {% if fq.getEleve.getId == moyenne.getEleve.getId and fq.getAdmission == 0 %}
                        {% set admission = 'راسب' %} 
                    {% elseif fq.getEleve.getId == moyenne.getEleve.getId and fq.getAdmission == 1 %} 
                        {% set admission = 'ناجح' %}
                    {% endif %}
                {% endfor %}
                <table class="la-moyenne" align="center">
                    <tr class="table-line-moyenne">
                        <td><span class="titre-info-moyenne">المجموع :&nbsp;&nbsp;</span><span class="info-moyenne">{{ totalNote }}</span></td>
                        <td><span class="titre-info-moyenne">المعدل :&nbsp;&nbsp;</span><span class="info-moyenne">{{ moyenne.getMoyenneAnnuelle|number_format(2) }}</span></td>
                        <td><span class="titre-info-moyenne">الترتيب :&nbsp;&nbsp;</span><span class="info-moyenne">{{ moyenne.getClassementAnnuel }}{#<sup>{{ nieme }}</sup>#}</span></td>
                        <td><span class="titre-info-moyenne">القرار :&nbsp;&nbsp;</span><span class="info-moyenne">{{ admission }}{#<sup>{{ nieme }}</sup>#}</span></td>
                    <tr/>
                </table>
                <!-- Fin de la boucle sur les moyennes, sur les élèves donc -->
            </div>
            <!-- Fin du bloc des notes -->
            <!-- Début du bloc des appréciations et décision du coonseil -->
            <div class="decisions-conseil">
                <table class="table-footer" align="center">
                    <tr class="decision">
                        <td width="30%">
                            <table width="100%" align="center" id="distinction" border="Opx">
                                <thead>
                                    <tr>
                                        <th align="center">التمييز</th>
                                    </tr>
                                </thead>

                            </table>
                            <div class="test">
                                <div class="grand">شجيع</div>
                                <div class="petit">
                                    <div class="case"></div>
                                </div>
                            </div>
                            <div class="test">
                                <div class="grand">شريف</div>
                                <div class="petit">
                                    <div class="case"></div>
                                </div>
                            </div>
                            <div class="test">
                                <div class="grand">مرتبة الشرف</div>
                                <div class="petit">
                                    <div class="case"></div>
                                </div>
                            </div>
                            <div class="test">
                                <div class="grand">لوحة التمييز</div>
                                <div class="petit">
                                    <div class="case"></div>
                                </div>
                            </div>
                        </td>
                        <td width="30%">
                            <table width="100%" align="center" id="sanction">
                                <thead>
                                    <tr>
                                        <th align="center">عقوبات</th>
                                    </tr>
                                </thead>
                            </table>
                            <div class="test">
                                <div class="grand">لجهد ضعيف</div>
                                <div class="petit"><div class="case"></div></div>
                            </div>
                            <div class="test">
                                <div class="grand">لجهد ضعيف جدا</div>
                                <div class="petit"><div class="case"></div></div>
                            </div>
                            <div class="test">
                                <div class="grand">لخلق سيء</div>
                                <div class="petit"><div class="case"></div></div>
                            </div>
                            <div class="test">
                                <div class="grand">لخلق أسوأ</div>
                                <div class="petit"><div class="case"></div></div>
                            </div>
                        </td>
                        <td rowspan="2" width="40%">
                            <div class="signature-directeur">
                                <center>
                                    <span class="date-proclamation">
                                        المدير العام
                                    </span>
                                    <p>{{ dt }}</p>
                                </center>
                                <center>
                                    <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('../web/images/cachet-exam_2.png') }}" alt="" class="cache2"
                                        width="400px" height="">
                                </center>
                            </div>
                        </td>
                    </tr>
                    <tr class="decision">
                        <td colspan="2">
                            <div class="bureau-examen">
                                <center><span class="titre-bloc">لجنة الامتحانات</span></center>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
            {# <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('../web/images/cachet-exam_1.png') }}" alt="" class="cache1" width="400px" height=""> #}
            {# <img src="file:///C:/wamp64/www/markaz/web/images/cachet-exam_1.jpeg" alt="C'est cool" class="cache1"> #}
            <!-- Fin du bloc des appréciations et décision du coonseil -->
        </div>
        <!-- Fin du bulletin d'un élève -->
    {% endfor %}
{% endblock %}

