<div class="header">{{ 'Gestion des notes'|trans }}</div>
<a class="item" href="{{path('isi_saisie_de_notes', {'as': asec, 'annexeId': annexe.id, 'regime': regime})}}">{{ 'Notes & résultats'|trans }}</a>
<a class="item" href="{{path('isi_statiqtiques', {'as': asec, 'annexeId': annexe.id, 'regime': regime})}}">{{ 'Données statistiques'|trans }}</a>
<a class="item" href="{{path('isi_resultats_annuels', {'as': asec, 'annexeId': annexe.id, 'regime': regime, 'direction': 'etude'})}}">{{ 'Résultats annuels'|trans }}</a>