{# ISIBundle/Ressources/views/Scolarite #}
{% extends "::pdf.html.twig" %}
    {% block pageTitle %}
        Fiche de notes
    {% endblock %}

{% block body %}

    {% if eleves is empty %}
        <p>{{ 'Inscrivez d\'abord des élèves dans cette classe'|trans }}</p>
    {% else %}
        <div class="titre-document">
            <center>
                <h1>كشف الدرجات</h1>
            </center>
        </div>
        <br />
        <div class="id-fiche">
            <div class="classe">
                <span>الفصل : <span class="libelleClasse">{{classe.libelleClasseAr}}</span></span>
            </div>
            <div class="matiere">
                <span>المادة: <span class="libelleMatiere nomAr">{{matiere.libelleMatiere}}</span></span>
            </div>
        </div>
        <br />

        <table width="100%" class="" align="center">
            <thead>
                <tr class="table-header" bgcolor="">
                    <th align="right" class="nomAr">الدرجة</th>
                    {# <th align="right" class="nomAr">الجنس</th> #}
                    <th align="right" width="40%">Nom & Prénom</th>
                    <th class="nomAr" width="30%"><span>الاسم و اللقب</span></th>
                    <th align="right" width="18%" class="nomAr">الرقم التسلسلي</th>
                    <th align="center" width="7%">N°</th>
                </tr>
            </thead>
            <tbody>
                {% set numero = 0 %}
                {% set color = '' %}
                {% for eleve in eleves %}
                    {# Ce code me permet d'alterner la couleur des lignes du tableau #}
                    {% if (numero % 2) == 0 %}
                         {% set color = 'white' %}
                    {% else %}
                         {% set color = '#DCDCDC' %}
                    {% endif %}
                    {# Pour le sexe #}
                    {% if eleve.sexeFr == 1 %}
                        {% set sexe = 'Masculin' %}
                    {% else %}
                        {% set sexe = 'Féminin' %}
                    {% endif %}
                    {% set numero = numero + 1 %}
                    <tr class="line-table" bgcolor={{color}}>
                        <td align="right"></td>
                        {# <td align="right">{{sexe}}</td> #}
                        <td align="right">{{eleve.nomFr}} {{eleve.pnomFr}}</td>
                        <td align="right" class="nomEleveAr">{{eleve.nomAr}} {{eleve.pnomAr}}</td>
                        <td align="right">{{eleve.matricule}}</td>
                        <td align="center">{{numero}}</td>
                    </tr>
                    <!-- On divise le tableau pour mieux afficher la suite de la liste -->
                    {% if (numero % 24) == 0 %}
                    </tbody>
                    </table>
                    <br>
                    <table width="100%" class="" align="center">
                        <thead>
                            <tr class="table-header" bgcolor="">
                                <th align="right" class="nomAr">الدرجة</th>
                                <th align="right" width="40%">Nom & Prénom</th>
                                <th class="nomAr" width="30%"><span>الاسم و اللقب</span></th>
                                <th align="right" width="18%" class="nomAr">الرقم التسلسلي</th>
                                <th align="center" width="7%">N°</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if (numero % 2) == 0 %} {% set color = 'white' %} {% else %} {% set color = '#DCDCDC' %} {% endif %} {# Pour le sexe #}
                            {% if eleve.sexeFr == 1 %} {% set sexe = 'Masculin' %} {% else %} {% set sexe = 'Féminin' %}
                            {% endif %} {% set numero = numero %}
                            {% if loop.index == 24 %}
                                {% set code = 1 %}
                            {% else %}
                            <tr class="line-table" bgcolor={{color}}>
                                <td align="right"></td>
                                {#
                                <td align="right">{{sexe}}</td> #}
                                <td align="right">{{eleve.nomFr}} {{eleve.pnomFr}}</td>
                                <td align="right" class="nomEleveAr">{{eleve.pnomAr}} {{eleve.nomAr}} </td>
                                <td align="right">{{eleve.matricule}}</td>
                                <td align="center">{{numero}}</td>
                            </tr>
                            {% endif %}
                        {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <br />
        <center><span class="effectif">المجموع : {{numero}}</span> </center>
    {% endif %}

{% endblock %}
