{# Page d'ajout d'un nouvel examen #}

{% extends "ISIBundle:Examen:index.html.twig" %}

{% block title %}
	Enregistrement des notes de {{ matiere.libelle }} en {{ classe.libelleFr }}
{% endblock %}


{% block contextual_menu %}
  {{ include("ISIBundle:Examen:contextual-menu-notes-exam.html.twig") }}
{% endblock %}



{% block body %}
	<div class="ui info message" style="width:75%">
		<center>
			<h2>{{ 'Enregistrement des notes de'|trans }} {{classe.libelleFr}} en {{matiere.libelle}}</h2>
			<h3>{{ 'Session'|trans }} {{ examen.session }} : {{ examen.annee.libelle }}</h3>
		</center>
	</div>
	<table>
		<div class="well" style="width:75%">
			<form action="{{path('isi_saisie_de_notes_de_la_classe_pour_une_matiere', {'as': asec, 'annexeId': annexe.id, 'regime': regime, 'classeId': classe.id, 'examenId': examen.id, 'matiereId': matiere.id, 'note': 1})}}" method="post" name="notes">
				<div class="ui middle aligned divided list">
				{# Pour chaque élève #}
				<div class="item">
					<div class="right floated content">
						<div class="">
							<h3>{{ 'Notes'|trans }}</h3>
						</div>
					</div>
					<div class="content">
						<h4>
							{{ 'Matricule'|trans }}
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							{{ 'Nom & prénoms des élèves'|trans }}
						</h4>
					</div>
				</div>
				{# {{dump(notes)}} #}
				{% set num = 0 %}
				{% set i = 0 %}
				{% for eleve in eleves %}
					{% set i = i + 1 %}
					{% set image = "" %}
					{% if eleve.sexe == 1 %}
						{% set image = "images/mark.png" %}
					{% else %}
						{% set image = "images/molly.png" %}
					{% endif %}
							{% set num = num + 1 %}
							<div class="item ui selectable">
								<div class="right floated content">
									<div class="">
										<div class="ui right labeled input">
											<input id="note[{{ eleve.id }}]" class="note" name="note[{{ eleve.id }}]" data-eleveId="{{ eleve.id }}" type="text" id="{{ num }}" class="note">
											<div class="ui basic label">{{ 'points'|trans }}</div>
										</div>
									</div>
								</div>
								{% if eleve.photo %}
      								<img class="ui avatar image" src="{{ asset('photos/eleves/' ~ eleve.photo) }}">
								{% else %}
									<img class="ui avatar image" src="{{asset(image)}}">
								{% endif %}
								<div class="content"><span class="ui violet circular label">{{ i }}</span><i class="right chevron icon"></i>{{ eleve.matricule }} <i class="right chevron icon"></i> <strong>{{eleve.nomFr}} {{eleve.pnomFr}}</strong></div>
							</div>
				{% endfor %}
				</div>
				<div>
					<input type="submit" class="ui primary button" value="   Enregistrer les notes   " name="submit">
				</div>
			</form>
		</div>
	</table><br><br>
{% endblock %}


{% block javascripts %}
	<script>
		$(document).ready(function(){
			var nombreMatieres = $("#nombreMatieres").val();
			$(".note").on("keyup", function(){
				// var id = $(this).attr("id");
				var eleveId = $(this).attr("data-eleveId");
				var note = parseFloat($(this).val());
				console.log(eleveId, note);
				if(note < 0 || note > 10){
					alert('La note doit être comprise en 0 et 10');
					$(this).val("");
					$(this).focus();
					$(this).select();
				}
			})
		});
	</script>
{% endblock %}
