{# Page d'ajout d'un nouvel examen #}

{% extends "ISIBundle:Examen:index.html.twig" %}

{% block pageTitle %}
	Edition des notes
{% endblock %}

{% block content %}
	<div class="ui info message" style="width:75%">
		<center>
			<h2>{{ 'Modification des notes de'|trans }} {{ classe.libelleFr }} en {{ matiere.libelle }}</h2>
			<h3>{{ 'Session'|trans }} {{ examen.session }} : {{ examen.annee.libelle }}</h3>
		</center>
	</div>

	<table>
		<div class="well" style="width:75%">
			<form action="" method="post" name="notes">
				<div class="ui middle aligned divided list">
				{# Pour chaque élève #}
				<div class="item">
					<div class="right floated content">
						<div class="">
							<h3>{{ 'Notes'|trans }}</h3>
						</div>
					</div>
					<div class="content">
						<h4>
							{{ 'Matricule'|trans }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							{{ 'Nom & prénoms des élèves'|trans }}
						</h4>
					</div>
				</div>
				{% set i = 0 %}
				{% for eleve in eleves %}
					{% set i = i + 1 %}
					{% set image = "" %}
					{% if eleve.sexe == 1 %}
						{% set image = "/markaz/web/images/mark.png" %}
					{% else %}
						{% set image = "/markaz/web/images/molly.png" %}
					{% endif %}
					{# Pour chaque note #}
					{% if notes[eleve.id] %}
						<div class="item ui teal selectable ui middle aligned selection list">
							<div class="right floated content">
								<div class="">
									<div class="ui right labeled input">
										<input name="note[{{ eleve.id }}]" type="integer" value="{{ notes[eleve.id].note }}" class="noteSelectionnee">
										<div class="ui basic label">{{ 'points'|trans }}</div>
									</div>
								</div>
							</div>
							<img class="ui avatar image" src="{{ image }}">
							<div class="content"><span class="ui violet circular label">{{ i }}</span><i class="right chevron icon"></i> {{ eleve.matricule }} <i class="right chevron icon"></i> <strong>{{ eleve.nomFr }} {{ eleve.pnomFr }}</strong></div>
						</div>
					{% else %}
						<div class="item ui teal selectable ui middle aligned selection list">
							<div class="right floated content">
								<div class="">
									<div class="ui right labeled input">
										<input name="note[{{ eleve.id }}]" type="integer" class="noteSelectionnee">
										<div class="ui basic label">{{ 'points'|trans }}</div>
									</div>
								</div>
							</div>
							<img class="ui avatar image" src="{{ image }}">
							<div class="content"><span class="ui violet circular label">{{ i }}</span><i class="right chevron icon"></i> {{ eleve.matricule }} <i class="right chevron icon"></i> <strong>{{ eleve.nomFr }} {{ eleve.pnomFr }}</strong></div>
						</div>
					{% endif %}
				{% endfor %}
				</div>
				<div>
					<input type="submit" class="ui primary button" value="   Modifier les notes   " name="submit">
				</div>
			</form>
		</div>
		{# {{dump(notes)}}
		{{ dump(eleves) }} #}

		{# {{dump(form.notes.parent.vars.value[0])}} #}
	</table>
{% endblock %}
