{# Page d'ajout d'un nouvel examen #}
{% extends "ISIBundle:Examen:index.html.twig" %}
{% block title %}
    {% block pageTitle %}
        Saisie des notes
    {% endblock %}
{% endblock %}



{% block contextual_menu %}
  {{ include("ISIBundle:Examen:contextual-menu-notes-exam.html.twig") }}
{% endblock %}



{% block content %}
<div class="ui info message">
    <center>
        <h3>{{ 'Saisie des notes de la classe '|trans }}: {{ classe.getLibelleFr }}</h3>
        <h4>{{ 'Session'|trans }} {{ examen.getSession }} : {{ examen.getAnnee.getLibelle }}</h4>
    </center>
</div>
<div>
    <a href="{{path('isi_notes_eleves_une_classe', {'as': asec, 'regime': regime, 'classeId':classe.getId, 'examenId': examen.getId})}}">
        <button class="ui violet basic button">{{ 'Voir les notes des élèves de'|trans }} {{ classe.getLibelleFr }}</button>
    </a>
</div><br>
<div class="well">
    <div class="ui six cards">
    {% for matiere in matieres %}
        <!--
            Si la variable noteDUnEleve est vide alors, on affiche les matieres avec un label
            'Saisir les notes'. Au clique sur le bouton on génère les notes et en même temps
            on les saisie
            -->
            {# {{dump(notesDUnEleve)}} #}
            {% if matiereSansNote[matiere.id] is defined %}
                <div class="card">
                    <div class="content">
                        <div class="header">{{ matiere.libelle }}</div>
                        <div class="description"></div>
                    </div>
                    <a href="{{path('isi_saisie_de_notes_de_la_classe_pour_une_matiere', {'as': asec, 'regime': regime, 'classeId': classe.id, 'examenId': examen.getId, 'matiereId': matiere.getId})}}">
                        <div class="ui positive bottom attached button">{{ 'Saisir les notes'|trans }}</div>
                    </a>
                </div>
            {% else %}
                <div class="card">
                    <div class="content">
                        <div class="header">{{ matiere.libelle }}</div>
                        <div class="description"></div>
                    </div>
                    <a href="{{path('isi_edition_des_notes', {'as': asec, 'regime': regime, 'classeId': classe.getId, 'examenId': examen.getId, 'matiereId': matiere.getId})}}">
                        <div class="ui bottom attached button">{{ 'Modifier les notes'|trans }} </div>
                    </a>
                </div>
            {% endif %}
    {% endfor %}
    </div>
</div>

{% endblock %}
