{# Page d'ajout d'un nouvel examen #}
{% extends "ISIBundle:Examen:index.html.twig" %}
{% block title %}
    Les notes de {{ classe.getLibelleFr }} | {{ parent() }}
{% endblock %}



{% block contextual_menu %}
  {{ include("ISIBundle:Examen:contextual-menu-notes-exam.html.twig") }}
{% endblock %}




{% block body %}
<h2>{{ 'Notes de la classe'|trans }} : {{ classe.getLibelleFr }}</h2>
<h3>{{ 'Session '|trans }} : {{ examen.getSession }}</h3>

    <div class="">
        {% set numero = 0 %}
        <table class="ui selectable celled table">
            <thead>
                <tr>
                    <th>{{ 'N°'|trans }}</th>
                    <th>{{ 'Nom & Prénom'|trans }}</th>
                    {# On va maintenant afficher les matières de la classe #}
                    {% for matiere in matieres %}
                        <th>{{ matiere.libelle }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {# On va commencer par boucler sur les élèves de la classe #}
                {% for eleve in eleves %}
                    {% set numero = numero + 1 %}
                    <tr>
                        <td>{{ numero }}</td>
                        <td>{{ eleve.nomFr }} {{ eleve.pnomFr }}</td>
                        {# On sélectionne à nouveau les matieres de la classe #}
                        {% for matiere in matieres %}
                            {% if notes[matiere.id][eleve.id] is defined %}
                                {% set note = notes[matiere.id][eleve.id] %}
                                {% if note.getNote is empty %}
                                    <td align="center" data-tooltip="La note de {{ eleve.nomFr }} {{ eleve.pnomFr }} n'a pas encore été saisie en {{ matiere.getLibelle }}">
                                        ---
                                    </td>
                                {% elseif note.getNote is not empty %}
                                    {% if note.getParticipation == TRUE and note.getNote < 5.5 %}
                                        <td align="center" class="error" data-tooltip="{{ matiere.getLibelle }}">{{ note.getNote }}</td>
                                    {% elseif note.getParticipation == TRUE and note.getNote >= 5.5 %}
                                        <td align="center" data-tooltip="{{ matiere.getLibelle }}">{{ note.getNote }}</td>
                                    {% elseif note.getParticipation == FALSE %}
                                        <td align="center" data-tooltip="{{ eleve.nomFr }} {{ eleve.pnomFr }} n'a pas composé en {{ matiere.getLibelle }}">
                                            Null
                                        </td>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <td data-tooltip="{{ eleve.nomFr }} {{ eleve.pnomFr }} n'a pas de note en {{ matiere.getLibelle }}">
                                </td>                                    
                            {% endif %}
                        {% endfor %}
                        {# Fin de sélection des matieres de la classe #}
                    </tr>
                {% endfor %}
                {# Fin de la boucle sur les élèves #}
            </tbody>
        </table>
    </div>

{% endblock %}
