{# Page d'ajout d'un nouvel examen #}
{% extends "ISIBundle:Scolarite:index.html.twig" %}
{% block pageTitle %}
    Les notes de {{ classe.getLibelleClasseFr }} | {{ parent() }}
{% endblock %}

{% block content %}
<h2>{{ 'Notes de la classe'|trans }} : {{ classe.getLibelleClasseFr }}</h2>
<h3>{{ 'Session '|trans }} : {{ examen.getSession }}</h3>

    <div class="">
        {% set numero = 0 %}
        <table class="ui selectable celled table">
            <thead>
                <tr>
                    <th>{{ 'N°'|trans }}</th>
                    <th>{{ 'Nom & Prénom'|trans }}</th>
                    {# On va maintenant afficher les matières de la classe #}
                    {% for matiere in matieres %}
                        <th>{{ matiere.getLibelleMatiere }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {# On va commencer par boucler sur les élèves de la classe #}
                {% for eleve in eleves %}
                    {% set numero = numero + 1 %}
                    <tr>
                        <td>{{ numero }}</td>
                        <td>{{ eleve.getNomFr }} {{ eleve.getPnomFr }}</td>
                        {# On sélectionne à nouveau les matieres de la classe #}
                        {% for matiere in matieres %}
                            {# On sélectionne les notes maintenant #}
                            {% for note in notes %}
                                {# C'est ici qu'on va conditionner l'affichage des notes #}
                                {# On va généraliser la condition d'affichage de la note #}
                                {% if eleve.getEleveId == note.getEleve.getEleveId and matiere.getMatiereId == note.getMatiere.getMatiereId %}
                                    {# si le note est vide on affiche un message pour en informer l'utilisateur #}
                                    {% if note.getNote is empty %}
                                        <td align="center">
                                            <div data-tooltip="La note de {{ eleve.getNomFr }} {{ eleve.getPnomFr }} n'a pas encore été saisie en {{ matiere.getLibelleMatiere }}">
                                                ---
                                            </div>
                                        </td>
                                    {% elseif note.getNote is not empty %}
                                        {% if note.getParticipation == TRUE and note.getNote < 5 %}
                                            <td align="center" class="error" data-tooltip="{{ matiere.getLibelleMatiere }}">{{ note.getNote }}</td>
                                        {% elseif note.getParticipation == TRUE and note.getNote >= 5 %}
                                            <td align="center" data-tooltip="{{ matiere.getLibelleMatiere }}">{{ note.getNote }}</td>
                                        {% elseif note.getParticipation == FALSE %}
                                            <td align="center">
                                                <div data-tooltip="{{ eleve.getNomFr }} {{ eleve.getPnomFr }} n'a pas composé en {{ matiere.getLibelleMatiere }}">
                                                    Null
                                                </div>
                                            </td>
                                        {% endif %}
                                    {% endif %}
                                    {# Fin if note.note empty #}
                                {% endif %}
                                {# Fin de la condition d'affichage de la note #}
                            {% endfor %}
                            {# Fin de sélection des notes #}

                        {% endfor %}
                        {# Fin de sélection des matieres de la classe #}
                    </tr>
                {% endfor %}
                {# Fin de la boucle sur les élèves #}
            </tbody>
        </table>
    </div>

{% endblock %}
