{% extends "ISIBundle:Scolarite:index.html.twig" %}
{% block pageTitle %}
    Résultats de la classe - {{ parent() }}
{% endblock %}

{% block content %}
    {% for message in app.session.flashbag.get('info') %}
        <div class="ui green message">
            <div class="header">{{ 'Notification'|trans }}: </div>
            <ul class="list">
                <li>{{ message }}</li>
            </ul>
        </div>
    {% endfor %}
    {% for message in app.session.flashbag.get('error') %}
        <div class="ui red message">
            <div class="header">{{ 'Attention'|trans }} !!! </div>
            <ul class="list">
                <li>{{ message }}</li>
            </ul>
        </div>
    {% endfor %}
    <div class="">
        <div class="ui info message">
            <center>
                <h2>{{ 'Résultats d\'examen'|trans }} : {{ classe.getLibelleClasseFr }}</h2>
                <h3>{{ 'Session'|trans }} {{ examen.getSession }} : {{ examen.getAnneeScolaire.getLibelleAnneeScolaire }}</h3>
            </center>
        </div>
        {# Cette petite partie me permet de vérifier que le classemnt à été fait ou pas encore #}
        <!--
            Pour cela je sélectionne le premier élève de la liste des élèves et je compare la
            la valeur de sa moyenne à null. Si la valeur vaut null cela veut dire que le classement
            n'a pas encore été fait.
        -->
        {% set uneMoyenne = '' %}
        {% for moyenne in moyennes %}
            {% if loop.index == 1 %}
                {% set uneMoyenne = moyenne %}
            {% endif %}
        {% endfor %}

        <!-- C'est pour cela qu'on va demander à l'utilisateur de faire le classement -->
        {% if uneMoyenne.rang == null %}
            <p>{{ 'Le classement n\'a pas encore été fait.'|trans }}
                <a href=" {{path('isi_resultats_de_la_classe', {'as': asec, 'regime': regime, 'classeId': classe.getClasseId, 'examenId': examen.getExamenId})}} ">
                    {{ 'Cliquer ici pour le faire'|trans }}
                </a>
            </p>
        {% else %}
            <div>
                {% if moyennes|length > 45 %}
                    <a href="{{path('isi_bulletin', {'as': asec, 'regime': regime, 'classeId':classe.getClasseId, 'examenId': examen.getExamenId, 'partie': 1})}}">
                        <button class="ui teal basic button">{{ 'Voir / Imprimer les bulletins (1)'|trans }}</button>
                    </a>
                    <a href="{{path('isi_bulletin', {'as': asec, 'regime': regime, 'classeId':classe.getClasseId, 'examenId': examen.getExamenId, 'partie': 2})}}">
                        <button class="ui teal basic button">{{ 'Voir / Imprimer les bulletins (2)'|trans }}</button>
                    </a>
                {% else %}
                    <a href="{{path('isi_bulletin', {'as': asec, 'regime': regime, 'classeId':classe.getClasseId, 'examenId': examen.getExamenId})}}">
                        <button class="ui teal basic button">{{ 'Voir / Imprimer les bulletins'|trans }}</button>
                    </a>
                {% endif %}
                <a href="{{path('isi_resultats_generaux_une_classe', {'as': asec, 'regime': regime, 'classeId':classe.getClasseId, 'examenId': examen.getExamenId})}}">
                    <button class="ui blue basic button">{{ 'Résultats généraux & statistiques'|trans }}</button>
                </a>
                <a href="{{path('isi_notes_eleves_une_classe', {'as': asec, 'regime': regime, 'classeId':classe.getClasseId, 'examenId': examen.getExamenId})}}">
                    <button class="ui violet basic button">{{ 'Voir les notes des élèves'|trans }}</button>
                </a>
                <a href="{{path('isi_classement', {'as': asec, 'regime': regime, 'classeId':classe.getClasseId, 'examenId': examen.getExamenId})}}">
                    <button class="ui violet basic button">{{ 'Classement'|trans }}</button>
                </a>
            </div>
            <div class="ui middle aligned selection list">
                <!-- On boucle sur la liste des moyenne. Et pour chaque moyenne: -->
                {% for moyenne in moyennes %}
                    <!-- On boucle encore sur la liste des moyennes -->
                    {% for eleve in eleves %}
                         <!--  Cette partie me permet seulement de sélectionner l'image qui se trouve à côte de l'élève  -->
                        {% set image = "" %}
                        {% if eleve.getSexeFr == 1 %}
                            {% set image = "/markaz/web/images/mark.png" %}
                        {% else %}
                            {% set image = "/markaz/web/images/molly.png" %}
                        {% endif %}
                        <!-- Ici on compare l'id de l'élève et la référence de l'élève dans l'objet moyenne -->
                        <!-- S'il y a égalité, on affiche l'élève et son rang -->
                        {% set nieme = '' %}
                        {% if eleve.getEleveId == moyenne.getEleve.getEleveId %}
                            <!-- On va formater l'affichage du rang -->

                            {% if moyenne.getRang == 1 and eleve.getSexeFr == 1 %}
                                <!-- Dans ce cas, c'est un homme. Il faudra donc dire: Le premier -->
                                {% set nieme = 'er' %}
                            {% elseif moyenne.getRang == 1 and eleve.getSexeFr == 2 %}
                                <!-- Dans ce cas, c'est une femme. Il faudra donc dire: La première -->
                                {% set nieme = 'ère' %}
                            {% else %}
                                <!-- Pour le reste il n'a pas de différence -->
                                {% set nieme = 'ème' %}
                            {% endif %}
                            <div class="item">
                                <div class="right floated content">
                                    <a href="{{path('isi_bulletin_unique', {'as': asec, 'regime': regime, 'classeId': classe.getClasseId, 'examenId': examen.getExamenId, 'eleveId': eleve.getEleveId})}}">
                                        <button class="ui red basic button">{{ 'Voir le bulletin'|trans }}</button>
                                    </a>
                                </div>
                                <img class="ui avatar image" src="{{ image }}">
                                <div class="content">
                                    <div class="header"> {{ eleve.getNomFr }} {{ eleve.getPnomFr }}</div>
                                    {{ moyenne.getRang }}<sup>{{ nieme }}</sup> {{ 'avec'|trans }} {{ moyenne.getMoyenne }} {{ 'de moyenne'|trans }}
                                </div>
                            </div>
                        {% endif %}
                        <!-- Fin de la condition de comparaison de l'élève et la référence de l'élève dans l'objet moyenne -->
                    {% endfor %}
                    <!-- Fin de la boucle sur les élèves -->
                {% endfor %}
                <!-- Fin de la boucle sur le moyennes -->
            </div>
        {% endif %}
    </div>

{% endblock %}
