{# On affiche toues les classes d'un niveau de formation. On sélectionne alors une classe pour aller saisir les notes #}

{% set template = 'ISIBundle:Examen:index.html.twig' %}
{% if direction == 'scolarite' %}
  {% set template = 'ISIBundle:Scolarite:index.html.twig' %}
{% endif %}
{% extends template %}

{% block title %}
  Accueil résultats annuels
{% endblock %}


{% block contextual_menu %}
  {{ include("ISIBundle:Examen:contextual-menu-notes-exam.html.twig") }}
{% endblock %}


{% block body %}
  {% set grp = '' %}
  {% if regime is same as('A') %}
    {% set grp = 'Académie' %}
  {% else %}
    {% set grp = 'Formation' %}
  {% endif %}
  <h3>{{ 'Résultats annuels'|trans }} : {{ grp }}</h3>
    {% for niveau in niveaux %}
      <div class="">
        <h2 class="ui header"> {{ niveau.getLibelleFr }}</h2>
      </div>
      <div class="niveau"> 
        {% for classe in classes %}
          {% for key, mc in moyenneC %}
            {% if niveau.getId == classe.getNiveau.getId and key == classe.getId and mc == FALSE %}
              <a href="{{ path('isi_resultats_annuels_d_une_classe', {'as': asec, 'annexeId': annexe.id, 'regime': regime, 'classeId': classe.getId}) }}">
                <div class="classe-n" data-tooltip="Les moyennes ne sont pas encore calculées">
                  <center>{{ classe.getLibelleFr }}</center>
                </div>
              </a>
            {% elseif niveau.getId == classe.getNiveau.getId and key == classe.getId and mc == TRUE %}
              <a href="{{ path('isi_classement_annuel', {'as': asec, 'annexeId': annexe.id, 'regime': regime, 'classeId': classe.getId, 'direction': direction}) }}">
                <div class="classe">
                  <center>{{ classe.getLibelleFr }}</center>
                </div>
              </a>
            {% endif %}
          {% endfor %} 
        {% endfor %}
      </div><br>
  {% endfor %}
{% endblock %}
